Device_Programs/Node-Red/DTK Control Dashboard rs485,json
[{"id":"49d9f7d8.159c08","type":"tab","label":"DTK Control Dashboard rs485","disabled":false,"info":""},{"id":"317a1e0c.529f02","type":"debug","z":"49d9f7d8.159c08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":80,"wires":[]},{"id":"be97418c.aa90d","type":"ui_button","z":"49d9f7d8.159c08","name":"","group":"8da6998.e3c5268","order":6,"width":3,"height":1,"passthru":false,"label":"Set Point","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":320,"y":80,"wires":[["3e668261.f6b7ee"]]},{"id":"2f5abf42.3ff37","type":"ui_text_input","z":"49d9f7d8.159c08","name":"","label":"","tooltip":"","group":"8da6998.e3c5268","order":5,"width":3,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":390,"y":20,"wires":[["317a1e0c.529f02","a09390e4.d3a49"]]},{"id":"fdf35ad8.7fe698","type":"inject","z":"49d9f7d8.159c08","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":80,"wires":[["be97418c.aa90d"]]},{"id":"a09390e4.d3a49","type":"change","z":"49d9f7d8.159c08","name":"set setpoint","rules":[{"t":"set","p":"setpoint","pt":"flow","to":"payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":20,"wires":[[]]},{"id":"3e668261.f6b7ee","type":"change","z":"49d9f7d8.159c08","name":"get setpoint","rules":[{"t":"set","p":"payload","pt":"msg","to":"setpoint","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":80,"wires":[["317a1e0c.529f02","1a5db281.a5ab9d","a82dbbb2.3f9058"]]},{"id":"6b22ecb3.a495a4","type":"ui_text","z":"49d9f7d8.159c08","group":"8da6998.e3c5268","order":1,"width":0,"height":0,"name":"","label":"Present value -1000H","format":"<font color= red size=5 > {{msg.payload}} </font>","layout":"row-spread","x":840,"y":320,"wires":[]},{"id":"1a5db281.a5ab9d","type":"ui_text","z":"49d9f7d8.159c08","group":"8da6998.e3c5268","order":2,"width":0,"height":0,"name":"","label":"Set Point-1001H","format":"<font color= green size=5 > {{msg.payload}} </font>","layout":"row-spread","x":820,"y":460,"wires":[]},{"id":"8b021694.860e48","type":"inject","z":"49d9f7d8.159c08","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":480,"y":320,"wires":[["6b22ecb3.a495a4"]]},{"id":"ec875e7a.30bca","type":"inject","z":"49d9f7d8.159c08","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":480,"y":460,"wires":[["1a5db281.a5ab9d"]]},{"id":"6e7fdeae.aa971","type":"modbus-read","z":"49d9f7d8.159c08","name":"Read Curent - 1000H / Set Point -1001H","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"4096","quantity":"2","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"f2be3c03.ad21","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":200,"y":260,"wires":[["a1fda95.cda8958","b21b0400.6ffde8","a5042d44.7fbc6"],[]]},{"id":"b21b0400.6ffde8","type":"change","z":"49d9f7d8.159c08","name":"payload[0] / 10 -  Present Value  - flow.pv","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]/10","tot":"jsonata"},{"t":"set","p":"iot","pt":"msg","to":"DTK","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"pv1","tot":"str"},{"t":"set","p":"pv","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":360,"wires":[["6b22ecb3.a495a4","9512868f.bf27d8"]]},{"id":"a1fda95.cda8958","type":"modbus-response","z":"49d9f7d8.159c08","name":"","registerShowMax":20,"x":510,"y":240,"wires":[]},{"id":"a5042d44.7fbc6","type":"change","z":"49d9f7d8.159c08","name":"payload[1] / 10 -   Set Point - flow.sv","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1]/10","tot":"jsonata"},{"t":"set","p":"iot","pt":"msg","to":"DTK","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"sv1","tot":"str"},{"t":"set","p":"sv","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":400,"wires":[["1a5db281.a5ab9d"]]},{"id":"ab8c19eb.7996b8","type":"modbus-write","z":"49d9f7d8.159c08","name":"write Set Point","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"4097","quantity":"1","server":"f2be3c03.ad21","emptyMsgOnFail":false,"keepMsgProperties":false,"x":900,"y":140,"wires":[[],[]]},{"id":"a82dbbb2.3f9058","type":"change","z":"49d9f7d8.159c08","name":"payload*10","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload*10","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":120,"wires":[["ab8c19eb.7996b8"]]},{"id":"5181e0d0.98b38","type":"modbus-read","z":"49d9f7d8.159c08","name":"Read Output 1012H","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"4114","quantity":"8","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"f2be3c03.ad21","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":170,"y":520,"wires":[["346ac2e2.10b86e","c2bde3a.f8e7a2","51fd9e49.de9dc"],[]]},{"id":"346ac2e2.10b86e","type":"change","z":"49d9f7d8.159c08","name":"payload[0]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":580,"wires":[["bd27237.29195e"]]},{"id":"bd27237.29195e","type":"ui_text","z":"49d9f7d8.159c08","group":"8da6998.e3c5268","order":4,"width":0,"height":0,"name":"","label":"Output 1 - 1012H","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":580,"wires":[]},{"id":"c2bde3a.f8e7a2","type":"modbus-response","z":"49d9f7d8.159c08","name":"","registerShowMax":20,"x":450,"y":500,"wires":[]},{"id":"1340c201.37669e","type":"ui_text","z":"49d9f7d8.159c08","group":"8da6998.e3c5268","order":9,"width":0,"height":0,"name":"","label":"Status 1-1018H","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":700,"wires":[]},{"id":"51fd9e49.de9dc","type":"change","z":"49d9f7d8.159c08","name":"payload[6]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[6]","tot":"jsonata"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"STOP","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"RUN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":700,"wires":[["1340c201.37669e"]]},{"id":"61d23f0f.4c81c","type":"ui_button","z":"49d9f7d8.159c08","name":"","group":"8da6998.e3c5268","order":7,"width":3,"height":1,"passthru":false,"label":"RUN","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":210,"y":740,"wires":[["e7adf1b4.cfeef","51fd9e49.de9dc"]]},{"id":"9fd0f253.298e6","type":"ui_button","z":"49d9f7d8.159c08","name":"","group":"8da6998.e3c5268","order":8,"width":3,"height":1,"passthru":false,"label":"STOP","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":210,"y":780,"wires":[["e7adf1b4.cfeef","51fd9e49.de9dc"]]},{"id":"e7adf1b4.cfeef","type":"modbus-write","z":"49d9f7d8.159c08","name":"Set STOP/RUN - 1018H","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"4120","quantity":"1","server":"f2be3c03.ad21","emptyMsgOnFail":false,"keepMsgProperties":false,"x":450,"y":780,"wires":[[],[]]},{"id":"9512868f.bf27d8","type":"ui_chart","z":"49d9f7d8.159c08","name":"","group":"8da6998.e3c5268","order":3,"width":0,"height":0,"label":"PV chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#b31e2d","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":800,"y":380,"wires":[[]]},{"id":"55cdbfaf.7e24c","type":"function","z":"49d9f7d8.159c08","name":"INSERT Into IotData","func":"var sql = \"INSERT INTO IotData (metric,value,iot) VALUES (?,?,?)\";\n\n    var metric = msg.topic;\n    var value = msg.payload; \n    \n    msg.payload = [ metric,value,msg.iot];\n \n    msg.topic = sql;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":1020,"wires":[["b6a43baf.ceefd8"]]},{"id":"b6a43baf.ceefd8","type":"mysql","z":"49d9f7d8.159c08","mydb":"6cf82e37.9a1db","name":"","x":790,"y":1020,"wires":[[]]},{"id":"7a8872d0.1ea86c","type":"inject","z":"49d9f7d8.159c08","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":920,"wires":[["96de542.fed61a8","16657251.52738e"]]},{"id":"96de542.fed61a8","type":"change","z":"49d9f7d8.159c08","name":"Save Pesetn Value (pv)","rules":[{"t":"set","p":"payload","pt":"msg","to":"pv","tot":"flow"},{"t":"set","p":"iot","pt":"msg","to":"DTK","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"pv1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":960,"wires":[["55cdbfaf.7e24c"]]},{"id":"16657251.52738e","type":"change","z":"49d9f7d8.159c08","name":"Save Set Point (sp)","rules":[{"t":"set","p":"payload","pt":"msg","to":"sv","tot":"flow"},{"t":"set","p":"iot","pt":"msg","to":"DTK","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"sv1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1040,"wires":[["55cdbfaf.7e24c"]]},{"id":"2a528a5a.bcd1b6","type":"comment","z":"49d9f7d8.159c08","name":"Set Repeat Timer","info":"","x":100,"y":880,"wires":[]},{"id":"8da6998.e3c5268","type":"ui_group","name":"DTK4848V12","tab":"e856aa57.3c5648","order":1,"disp":true,"width":"6","collapse":false},{"id":"f2be3c03.ad21","type":"modbus-client","name":"rs485","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"COM7","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"6cf82e37.9a1db","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"IotDB","tz":"","charset":""},{"id":"e856aa57.3c5648","type":"ui_tab","name":"Iot Temp Control","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
