Device_Programs/Node-Red/DTK Control Dashboard rs485,json
[{"id":"b3d15c21.16698","type":"tab","label":"DTK Control Dashboard","disabled":false,"info":""},{"id":"42817946.dc1418","type":"debug","z":"b3d15c21.16698","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":120,"wires":[]},{"id":"63b9477e.132148","type":"ui_button","z":"b3d15c21.16698","name":"","group":"39dc80df.a9cf7","order":6,"width":3,"height":1,"passthru":false,"label":"Set Point","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":360,"y":120,"wires":[["6142fb4a.c60114"]]},{"id":"393a0e30.cb0702","type":"ui_text_input","z":"b3d15c21.16698","name":"","label":"","tooltip":"","group":"39dc80df.a9cf7","order":5,"width":3,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":430,"y":60,"wires":[["42817946.dc1418","cfe293fb.0675c"]]},{"id":"bb3a8a3.55e5978","type":"inject","z":"b3d15c21.16698","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":120,"wires":[["63b9477e.132148"]]},{"id":"cfe293fb.0675c","type":"change","z":"b3d15c21.16698","name":"set setpoint","rules":[{"t":"set","p":"setpoint","pt":"flow","to":"payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":60,"wires":[[]]},{"id":"6142fb4a.c60114","type":"change","z":"b3d15c21.16698","name":"get setpoint","rules":[{"t":"set","p":"payload","pt":"msg","to":"setpoint","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":120,"wires":[["42817946.dc1418","444a10f.60d20f","d6170a62.3302f8"]]},{"id":"e2349099.472a3","type":"ui_text","z":"b3d15c21.16698","group":"39dc80df.a9cf7","order":1,"width":0,"height":0,"name":"","label":"Present value -1000H","format":"<font color= red size=5 > {{msg.payload}} </font>","layout":"row-spread","x":840,"y":320,"wires":[]},{"id":"444a10f.60d20f","type":"ui_text","z":"b3d15c21.16698","group":"39dc80df.a9cf7","order":2,"width":0,"height":0,"name":"","label":"Set Point-1001H","format":"<font color= green size=5 > {{msg.payload}} </font>","layout":"row-spread","x":820,"y":460,"wires":[]},{"id":"719cd930.679a28","type":"inject","z":"b3d15c21.16698","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":480,"y":320,"wires":[["e2349099.472a3"]]},{"id":"df3c3d55.e9c2c","type":"inject","z":"b3d15c21.16698","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":480,"y":460,"wires":[["444a10f.60d20f"]]},{"id":"471d57d4.34ac38","type":"modbus-read","z":"b3d15c21.16698","name":"Read Curent - 1000H / Set Point -1001H","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"4096","quantity":"2","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"c0b03638.614568","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":200,"y":260,"wires":[["eedd08ad.5d8e58","ff6636ce.8eba58","b12538c.c530fc8"],[]]},{"id":"ff6636ce.8eba58","type":"change","z":"b3d15c21.16698","name":"payload[0] / 10 -  Present Value  - flow.pv","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]/10","tot":"jsonata"},{"t":"set","p":"iot","pt":"msg","to":"DTK","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"pv1","tot":"str"},{"t":"set","p":"pv","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":360,"wires":[["e2349099.472a3","6532c9e9.68c878"]]},{"id":"eedd08ad.5d8e58","type":"modbus-response","z":"b3d15c21.16698","name":"","registerShowMax":20,"x":510,"y":240,"wires":[]},{"id":"b12538c.c530fc8","type":"change","z":"b3d15c21.16698","name":"payload[1] / 10 -   Set Point - flow.sv","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1]/10","tot":"jsonata"},{"t":"set","p":"iot","pt":"msg","to":"DTK","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"sv1","tot":"str"},{"t":"set","p":"sv","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":400,"wires":[["444a10f.60d20f"]]},{"id":"ec01a75d.b30118","type":"modbus-write","z":"b3d15c21.16698","name":"write Set Point","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"4097","quantity":"1","server":"c0b03638.614568","emptyMsgOnFail":false,"keepMsgProperties":false,"x":940,"y":180,"wires":[[],[]]},{"id":"d6170a62.3302f8","type":"change","z":"b3d15c21.16698","name":"payload*10","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload*10","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":160,"wires":[["ec01a75d.b30118"]]},{"id":"862b9d78.f42f5","type":"modbus-read","z":"b3d15c21.16698","name":"Read Output 1012H","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"4114","quantity":"8","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"c0b03638.614568","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":170,"y":520,"wires":[["9e74a59c.f1c0c8","a37fc0ee.f947f","8a56c331.2685c"],[]]},{"id":"9e74a59c.f1c0c8","type":"change","z":"b3d15c21.16698","name":"payload[0]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":580,"wires":[["4a456ca4.ea6b24"]]},{"id":"4a456ca4.ea6b24","type":"ui_text","z":"b3d15c21.16698","group":"39dc80df.a9cf7","order":4,"width":0,"height":0,"name":"","label":"Output 1 - 1012H","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":580,"wires":[]},{"id":"a37fc0ee.f947f","type":"modbus-response","z":"b3d15c21.16698","name":"","registerShowMax":20,"x":450,"y":500,"wires":[]},{"id":"b17164b0.e60728","type":"ui_text","z":"b3d15c21.16698","group":"39dc80df.a9cf7","order":9,"width":0,"height":0,"name":"","label":"Status 1-1018H","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":700,"wires":[]},{"id":"8a56c331.2685c","type":"change","z":"b3d15c21.16698","name":"payload[6]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[6]","tot":"jsonata"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"STOP","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"RUN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":700,"wires":[["b17164b0.e60728"]]},{"id":"38643c07.4ea824","type":"ui_button","z":"b3d15c21.16698","name":"","group":"39dc80df.a9cf7","order":7,"width":3,"height":1,"passthru":false,"label":"RUN","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":210,"y":740,"wires":[["e5257d52.7ba81","8a56c331.2685c"]]},{"id":"7471018d.12de5","type":"ui_button","z":"b3d15c21.16698","name":"","group":"39dc80df.a9cf7","order":8,"width":3,"height":1,"passthru":false,"label":"STOP","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":210,"y":780,"wires":[["e5257d52.7ba81","8a56c331.2685c"]]},{"id":"e5257d52.7ba81","type":"modbus-write","z":"b3d15c21.16698","name":"Set STOP/RUN - 1018H","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"4120","quantity":"1","server":"c0b03638.614568","emptyMsgOnFail":false,"keepMsgProperties":false,"x":450,"y":800,"wires":[[],[]]},{"id":"6532c9e9.68c878","type":"ui_chart","z":"b3d15c21.16698","name":"","group":"39dc80df.a9cf7","order":3,"width":0,"height":0,"label":"PV chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#b31e2d","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":800,"y":380,"wires":[[]]},{"id":"fca8dcf9.81a7c","type":"function","z":"b3d15c21.16698","name":"INSERT Into iotdata","func":"var sql = \"INSERT INTO iotdata (metric,value,iot) VALUES (?,?,?)\";\n\n    var metric = msg.topic;\n    var value = msg.payload; \n    \n    msg.payload = [ metric,value,msg.iot];\n \n    msg.topic = sql;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":1020,"wires":[["2b74ef66.b1f81"]]},{"id":"2b74ef66.b1f81","type":"mysql","z":"b3d15c21.16698","mydb":"6cf82e37.9a1db","name":"","x":890,"y":1020,"wires":[[]]},{"id":"7c690557.ee514c","type":"inject","z":"b3d15c21.16698","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":920,"wires":[["6ecd6274.327a3c","d521a78f.367218"]]},{"id":"6ecd6274.327a3c","type":"change","z":"b3d15c21.16698","name":"Save Pesetn Value (pv)","rules":[{"t":"set","p":"payload","pt":"msg","to":"pv","tot":"flow"},{"t":"set","p":"iot","pt":"msg","to":"DTK","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"pv1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":960,"wires":[["fca8dcf9.81a7c"]]},{"id":"d521a78f.367218","type":"change","z":"b3d15c21.16698","name":"Save Set Point (sp)","rules":[{"t":"set","p":"payload","pt":"msg","to":"sv","tot":"flow"},{"t":"set","p":"iot","pt":"msg","to":"DTK","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"sv1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1040,"wires":[["fca8dcf9.81a7c"]]},{"id":"304b0918.1ed746","type":"comment","z":"b3d15c21.16698","name":"Set Repeat Timer to save data to IotData table","info":"","x":290,"y":880,"wires":[]},{"id":"26dcad88.460692","type":"comment","z":"b3d15c21.16698","name":"Set Modbus TCP/RTC and Repeat timer defual 60 s","info":"","x":210,"y":200,"wires":[]},{"id":"28fa2e7d.b20922","type":"comment","z":"b3d15c21.16698","name":"Set - Set Point Value","info":"","x":250,"y":60,"wires":[]},{"id":"c58b8997.948f58","type":"comment","z":"b3d15c21.16698","name":"Set Run / Stop","info":"","x":420,"y":760,"wires":[]},{"id":"9d962a25.8e9128","type":"comment","z":"b3d15c21.16698","name":"Temperature PID Control Delta model : DTK4848V12  - Modbus RTU rs485","info":"","x":290,"y":20,"wires":[]},{"id":"39dc80df.a9cf7","type":"ui_group","name":"DTK4848V12","tab":"4f180ae6.f70944","order":1,"disp":true,"width":"6","collapse":false},{"id":"c0b03638.614568","type":"modbus-client","name":"rs485","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"COM7","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"6cf82e37.9a1db","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"IotDB","tz":"","charset":""},{"id":"4f180ae6.f70944","type":"ui_tab","name":"Iot Temp Control","icon":"dashboard","order":2,"disabled":false,"hidden":false}]
