Device_Programs/Node-Red/Fx3u_Counter_3LED_TH_WTR10E_V2.json
[{"id":"6388d3d6.a494dc","type":"tab","label":"Utcc Food FX3U Counter 3LED TH WTR10-E","disabled":false,"info":""},{"id":"dbaee792.921968","type":"inject","z":"6388d3d6.a494dc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":150,"y":340,"wires":[["cde88274.8b823"]]},{"id":"2c6aab55.5bb514","type":"debug","z":"6388d3d6.a494dc","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":420,"wires":[]},{"id":"cde88274.8b823","type":"function","z":"6388d3d6.a494dc","name":"Read 13 Value From HTM slave","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1,\n    'address': 0 , \n    'quantity': 16 \n     \n};  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":360,"wires":[["878bb819.20e1d8","8dd6bd9a.69ebd"]]},{"id":"878bb819.20e1d8","type":"modbus-flex-getter","z":"6388d3d6.a494dc","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"1fdc6193.368fde","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":290,"y":460,"wires":[["ffd37cb8.08c7","2c6aab55.5bb514","541445c4.23b36c","6b80146c.01336c","f60dc482.4af6f8","5ec88ac3.5c19c4","238b556.f9260aa","273987a7.bd3828"],[]]},{"id":"ffd37cb8.08c7","type":"modbus-response","z":"6388d3d6.a494dc","name":"","registerShowMax":20,"x":590,"y":480,"wires":[]},{"id":"4a7c8064.fe752","type":"comment","z":"6388d3d6.a494dc","name":"First Set HTM IP in the same PC lan IP","info":"\n","x":210,"y":520,"wires":[]},{"id":"541445c4.23b36c","type":"change","z":"6388d3d6.a494dc","name":"Get Temp at LW11 (/10)","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[11]/10","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"T1","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"Green","tot":"str"},{"t":"set","p":"iot","pt":"msg","to":"HMI","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1080,"wires":[["4c1138a5.a7d308","12275a15.322f66","7eb53dd8.df6a44","7a3eac14.239904","c23d5648.071cb8"]]},{"id":"4c1138a5.a7d308","type":"ui_gauge","z":"6388d3d6.a494dc","name":"","group":"9cf62672.509618","order":1,"width":3,"height":2,"gtype":"gage","title":"Temp gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":950,"y":1120,"wires":[]},{"id":"12275a15.322f66","type":"debug","z":"6388d3d6.a494dc","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":1040,"wires":[]},{"id":"6b80146c.01336c","type":"change","z":"6388d3d6.a494dc","name":"Get Humi at LW12  (/10)","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[12]/10","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"H1","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"Red","tot":"str"},{"t":"set","p":"iot","pt":"msg","to":"HMI","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":980,"wires":[["f91a6f01.8120f","c998209c.a4caf","7a3eac14.239904"]]},{"id":"f91a6f01.8120f","type":"ui_gauge","z":"6388d3d6.a494dc","name":"","group":"9cf62672.509618","order":4,"width":3,"height":2,"gtype":"gage","title":"Humi gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970,"y":920,"wires":[]},{"id":"7eb53dd8.df6a44","type":"ui_chart","z":"6388d3d6.a494dc","name":"","group":"9cf62672.509618","order":6,"width":12,"height":4,"label":"Temp chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":950,"y":1180,"wires":[[]]},{"id":"c998209c.a4caf","type":"ui_chart","z":"6388d3d6.a494dc","name":"","group":"9cf62672.509618","order":7,"width":12,"height":5,"label":"Humi chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":950,"y":960,"wires":[[]]},{"id":"f60dc482.4af6f8","type":"change","z":"6388d3d6.a494dc","name":"Get Target at 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"Target","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"ิblue","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"num"},{"t":"set","p":"iot","pt":"msg","to":"HMI","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":560,"wires":[["234aa300.521b7e","2dbd6e83.903dd2","bcedb708.88afd8"]]},{"id":"5ec88ac3.5c19c4","type":"change","z":"6388d3d6.a494dc","name":"Get Actual at 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[2]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"Actual","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"str"},{"t":"set","p":"iot","pt":"msg","to":"HMI","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":600,"wires":[["d08f89e4.2a8e68","2dbd6e83.903dd2","bcedb708.88afd8"]]},{"id":"238b556.f9260aa","type":"change","z":"6388d3d6.a494dc","name":"Get Diff Target at 3","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[3]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"DiffTaget","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"str"},{"t":"set","p":"iot","pt":"msg","to":"HMI","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":640,"wires":[["bc6c2c9f.96907"]]},{"id":"234aa300.521b7e","type":"ui_text","z":"6388d3d6.a494dc","group":"42c371a8.da2f5","order":4,"width":0,"height":0,"name":"","label":"Target","format":"<font color= {{msg.color}} size={{msg.size}} > {{msg.payload}} </font>","layout":"row-spread","x":910,"y":560,"wires":[]},{"id":"d08f89e4.2a8e68","type":"ui_text","z":"6388d3d6.a494dc","group":"42c371a8.da2f5","order":6,"width":0,"height":0,"name":"","label":"Actual","format":"<font color= {{msg.color}} size={{msg.size}} > {{msg.payload}} </font>","layout":"row-spread","x":910,"y":600,"wires":[]},{"id":"bc6c2c9f.96907","type":"ui_text","z":"6388d3d6.a494dc","group":"42c371a8.da2f5","order":8,"width":0,"height":0,"name":"","label":"Diff","format":"<font color= {{msg.color}} size={{msg.size}} > {{msg.payload}} </font>","layout":"row-spread","x":910,"y":640,"wires":[]},{"id":"2dbd6e83.903dd2","type":"ui_chart","z":"6388d3d6.a494dc","name":"","group":"42c371a8.da2f5","order":10,"width":0,"height":0,"label":"Target and Actual chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1eb33a","#f9f33e","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":960,"y":500,"wires":[[]]},{"id":"10302cb5.a57fe3","type":"ui_button","z":"6388d3d6.a494dc","name":"","group":"42c371a8.da2f5","order":2,"width":0,"height":0,"passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":120,"y":400,"wires":[["cde88274.8b823"]]},{"id":"e89bf91c.c23c08","type":"ui_text_input","z":"6388d3d6.a494dc","name":"","label":"Input New Target","tooltip":"","group":"42c371a8.da2f5","order":13,"width":4,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":430,"y":80,"wires":[["edccc8e9.920fb8"]]},{"id":"71e89313.148d0c","type":"modbus-flex-write","z":"6388d3d6.a494dc","name":"","showStatusActivities":false,"showErrors":false,"server":"1fdc6193.368fde","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1090,"y":80,"wires":[["e0152cf8.825d2"],[]]},{"id":"edccc8e9.920fb8","type":"function","z":"6388d3d6.a494dc","name":"Set Target  address 1  To HTM slave","func":"msg.payload = { \n    'fc': 6, \n    'unitid': 1,\n    'address': 9 , \n    'quantity': 1 ,\n    'value': msg.payload\n};  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":80,"wires":[["71e89313.148d0c","8dd6bd9a.69ebd"]]},{"id":"e0152cf8.825d2","type":"modbus-response","z":"6388d3d6.a494dc","name":"","registerShowMax":20,"x":1310,"y":80,"wires":[]},{"id":"a9b7e149.324f3","type":"inject","z":"6388d3d6.a494dc","name":"Test 66","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"66","payloadType":"num","x":430,"y":120,"wires":[["edccc8e9.920fb8"]]},{"id":"dff27d2c.c1364","type":"ui_button","z":"6388d3d6.a494dc","name":"","group":"42c371a8.da2f5","order":14,"width":3,"height":1,"passthru":false,"label":"Set Target","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"num","topic":"topic","topicType":"msg","x":410,"y":180,"wires":[["c37e636a.b409d"]]},{"id":"c37e636a.b409d","type":"function","z":"6388d3d6.a494dc","name":"Set LB9 On address 9  To HTM slave","func":"msg.payload = { \n    'fc': 5, \n    'unitid': 1,\n    'address': 9 , \n    'quantity': 1 ,\n    'value': 1\n};  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":160,"wires":[["71e89313.148d0c","41380ed.f39a6f","8dd6bd9a.69ebd"]]},{"id":"c1e0022.18022","type":"comment","z":"6388d3d6.a494dc","name":"Refresh","info":"\n","x":530,"y":300,"wires":[]},{"id":"be93aee4.28c08","type":"comment","z":"6388d3d6.a494dc","name":"First Set HTM IP in the same PC lan IP","info":"\n","x":170,"y":20,"wires":[]},{"id":"ffbed29a.668b9","type":"comment","z":"6388d3d6.a494dc","name":"Set repead time default 60","info":"\n","x":110,"y":280,"wires":[]},{"id":"8dd6bd9a.69ebd","type":"debug","z":"6388d3d6.a494dc","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":160,"wires":[]},{"id":"41380ed.f39a6f","type":"delay","z":"6388d3d6.a494dc","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":240,"wires":[["cde88274.8b823"]]},{"id":"43d95b94.f46aa4","type":"ui_text","z":"6388d3d6.a494dc","group":"afae81ee.273b8","order":2,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"<font color= {{msg.color}} size={{msg.size}} > {{msg.topic}} </font>","layout":"row-spread","x":950,"y":820,"wires":[]},{"id":"6dc8c454.96b0ec","type":"ui_chart","z":"6388d3d6.a494dc","name":"","group":"afae81ee.273b8","order":4,"width":0,"height":0,"label":"Status chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":970,"y":860,"wires":[[]]},{"id":"1e38ba61.342ca6","type":"change","z":"6388d3d6.a494dc","name":"Chang topic  (Status)","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"msg"},{"t":"change","p":"topic","pt":"msg","from":"100","fromt":"num","to":"RUN","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"50","fromt":"num","to":"STOP","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"25","fromt":"num","to":"FAIL","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"0","fromt":"num","to":"SETUP","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":840,"wires":[["6dc8c454.96b0ec","d5435686.0dc168","43d95b94.f46aa4","7e0d7e88.d306b"]]},{"id":"7a3eac14.239904","type":"function","z":"6388d3d6.a494dc","name":"INSERT Into iotdata","func":"var sql = \"INSERT INTO iotdata (metric,value,iot) VALUES (?,?,?)\";\n\n    var metric = msg.topic;\n    var value = msg.payload; \n    msg.payload = [ metric,value,msg.iot];\n\nmsg.topic = sql;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":1040,"wires":[["ed8c3313.26a2c","9f833de0.81875"]]},{"id":"ed8c3313.26a2c","type":"debug","z":"6388d3d6.a494dc","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":820,"wires":[]},{"id":"d5435686.0dc168","type":"function","z":"6388d3d6.a494dc","name":"INSERT Into iotstatus","func":"var sql = \"INSERT INTO iotstatus (metric,value,iot) VALUES (?,?,?)\";\n\n    var metric = msg.topic;\n    var value = msg.payload; \n    \n    msg.payload = [ metric,value,msg.iot];\n    msg.topic = sql;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":920,"wires":[["ed8c3313.26a2c","9f833de0.81875"]]},{"id":"bcedb708.88afd8","type":"function","z":"6388d3d6.a494dc","name":"INSERT Into iotcounter","func":"var sql = \"INSERT INTO iotcounter (metric,value,iot) VALUES (?,?,?)\";\n\n    var metric = msg.topic;\n    var value = msg.payload; \n    \n    msg.payload = [ metric,value,msg.iot];\n \n    msg.topic = sql;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":720,"wires":[["ed8c3313.26a2c","9f833de0.81875"]]},{"id":"48a67242.c8a7ec","type":"inject","z":"6388d3d6.a494dc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"50","payloadType":"num","x":510,"y":880,"wires":[["1e38ba61.342ca6"]]},{"id":"273987a7.bd3828","type":"change","z":"6388d3d6.a494dc","name":"Get Status LW15","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[15]","tot":"jsonata"},{"t":"set","p":"color","pt":"msg","to":"gray","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":740,"wires":[["1e38ba61.342ca6"]]},{"id":"a985258c.8c4a28","type":"function","z":"6388d3d6.a494dc","name":"INSERT Into IotAlarm","func":"    var sql = \"INSERT INTO iotalarm (metric,value,iot) VALUES (?,?,?)\";\n    \n    var metric = msg.topic;\n    var value = msg.payload; \n    \n    msg.payload = [ metric,value,msg.iot];\n    msg.topic = sql;\n    \n\n    return msg;    \n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":1260,"wires":[["ed8c3313.26a2c","9f833de0.81875"]]},{"id":"1b81092b.6057d7","type":"inject","z":"6388d3d6.a494dc","name":"T1  28.5","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"T1","payload":"28.5","payloadType":"num","x":590,"y":1280,"wires":[["7a3eac14.239904","c23d5648.071cb8"]]},{"id":"4e5237f9.5e3278","type":"debug","z":"6388d3d6.a494dc","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":1200,"wires":[]},{"id":"304576cb.fc804a","type":"inject","z":"6388d3d6.a494dc","name":"T1  28.5","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"T1","payload":"31","payloadType":"num","x":610,"y":1320,"wires":[["c23d5648.071cb8"]]},{"id":"d19cfd5f.4569d","type":"comment","z":"6388d3d6.a494dc","name":"Fuction IF for alarm","info":"","x":930,"y":1220,"wires":[]},{"id":"c23d5648.071cb8","type":"function","z":"6388d3d6.a494dc","name":"if (T > 30)  ","func":"if (msg.payload > 30 ) {\n   msg.topic = msg.topic + \" (>30)\";\n    return msg;    \n    \n} else {\n    \n    return null;    \n    \n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":1260,"wires":[["a985258c.8c4a28","4e5237f9.5e3278"]]},{"id":"2bbb1871.09b9f8","type":"ui_text","z":"6388d3d6.a494dc","d":true,"group":"9cf62672.509618","order":10,"width":6,"height":1,"name":"","label":"<font color= red size=3 > Last ({{msg.topic}}) {{msg.myymd}} {{msg.mytimes}} </font>","format":"<font color= red size=5 > {{msg.payload}} </font>","layout":"row-spread","x":1270,"y":1320,"wires":[]},{"id":"7e0d7e88.d306b","type":"debug","z":"6388d3d6.a494dc","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":780,"wires":[]},{"id":"9f833de0.81875","type":"mysql","z":"6388d3d6.a494dc","mydb":"6cf82e37.9a1db","name":"","x":1530,"y":960,"wires":[[]]},{"id":"1fdc6193.368fde","type":"modbus-client","name":"HMI-10.10.100.100","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.10.100.100","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"9cf62672.509618","type":"ui_group","name":"Temp Humi Group","tab":"d4df061a.b13c68","order":3,"disp":true,"width":12,"collapse":false},{"id":"42c371a8.da2f5","type":"ui_group","name":"Counter Group","tab":"d4df061a.b13c68","order":1,"disp":true,"width":7,"collapse":false},{"id":"afae81ee.273b8","type":"ui_group","name":"Status","tab":"d4df061a.b13c68","order":2,"disp":true,"width":"6","collapse":false},{"id":"6cf82e37.9a1db","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"iotdb","tz":"","charset":""},{"id":"d4df061a.b13c68","type":"ui_tab","name":"HMI TCP Slave","icon":"dashboard","order":5,"disabled":false,"hidden":false}]
