Device_Programs/Node-Red/Fx3u_Counter_3LED_TH_WTR10E.json
[{"id":"bc3423a4.7b061","type":"tab","label":"Utcc Food FX3U Counter 3LED TH WTR10-E","disabled":false,"info":""},{"id":"4edc0f5c.9929d","type":"inject","z":"bc3423a4.7b061","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":340,"wires":[["8a0a8c6f.f9e01"]]},{"id":"f31728bd.3ba388","type":"debug","z":"bc3423a4.7b061","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":420,"wires":[]},{"id":"8a0a8c6f.f9e01","type":"function","z":"bc3423a4.7b061","name":"Read 13 Value From HTM slave","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1,\n    'address': 0 , \n    'quantity': 16 \n     \n};  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":340,"wires":[["597e7e41.6e4df","78f5fca4.e0aab4"]]},{"id":"597e7e41.6e4df","type":"modbus-flex-getter","z":"bc3423a4.7b061","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"3eed7ec8.d68462","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":290,"y":460,"wires":[["2b10e7f1.9de7f8","f31728bd.3ba388","d1a70e7e.76218","156a43bf.fa5f8c","3c4dd1e3.ab323e","6edcf951.6452b8","fc13a9a7.93c398","412f168f.b70138"],[]]},{"id":"2b10e7f1.9de7f8","type":"modbus-response","z":"bc3423a4.7b061","name":"","registerShowMax":20,"x":610,"y":480,"wires":[]},{"id":"9e05db04.1f1b98","type":"comment","z":"bc3423a4.7b061","name":"First Set HTM IP in the same PC lan IP","info":"\n","x":210,"y":520,"wires":[]},{"id":"d1a70e7e.76218","type":"change","z":"bc3423a4.7b061","name":"Get Temp at LW11 (/10)","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[11]/10","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"T1","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"Green","tot":"str"},{"t":"set","p":"iot","pt":"msg","to":"HMI","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1080,"wires":[["7bcb526c.25d46c","9422f86.42c6108","962f4220.36d6a","b800dc4c.e28ef","34c73a3.8d897c6"]]},{"id":"7bcb526c.25d46c","type":"ui_gauge","z":"bc3423a4.7b061","name":"","group":"9cf62672.509618","order":3,"width":3,"height":3,"gtype":"gage","title":"Temp gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":950,"y":1120,"wires":[]},{"id":"9422f86.42c6108","type":"debug","z":"bc3423a4.7b061","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":1040,"wires":[]},{"id":"156a43bf.fa5f8c","type":"change","z":"bc3423a4.7b061","name":"Get Humi at LW12  (/10)","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[12]/10","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"H1","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"Red","tot":"str"},{"t":"set","p":"iot","pt":"msg","to":"HMI","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":980,"wires":[["6139cb05.f9cf14","4b67a49f.3d0abc","b800dc4c.e28ef"]]},{"id":"6139cb05.f9cf14","type":"ui_gauge","z":"bc3423a4.7b061","name":"","group":"9cf62672.509618","order":7,"width":3,"height":2,"gtype":"gage","title":"Humi gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970,"y":920,"wires":[]},{"id":"962f4220.36d6a","type":"ui_chart","z":"bc3423a4.7b061","name":"","group":"9cf62672.509618","order":4,"width":9,"height":5,"label":"Temp chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":950,"y":1180,"wires":[[]]},{"id":"4b67a49f.3d0abc","type":"ui_chart","z":"bc3423a4.7b061","name":"","group":"9cf62672.509618","order":8,"width":9,"height":6,"label":"Humi chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":950,"y":960,"wires":[[]]},{"id":"3c4dd1e3.ab323e","type":"change","z":"bc3423a4.7b061","name":"Get Target at 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"Target","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"num"},{"t":"set","p":"iot","pt":"msg","to":"HMI","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":560,"wires":[["898e4655.2e9188","8a492bc0.954cd8","f18a60ed.85956"]]},{"id":"6edcf951.6452b8","type":"change","z":"bc3423a4.7b061","name":"Get Actual at 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[2]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"Actual","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"black","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"str"},{"t":"set","p":"iot","pt":"msg","to":"HMI","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":600,"wires":[["6c084423.e9ac5c","8a492bc0.954cd8","f18a60ed.85956"]]},{"id":"fc13a9a7.93c398","type":"change","z":"bc3423a4.7b061","name":"Get Diff Target at 3","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[3]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"DiffTaget","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"str"},{"t":"set","p":"iot","pt":"msg","to":"HMI","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":640,"wires":[["9824346c.0c6758"]]},{"id":"898e4655.2e9188","type":"ui_text","z":"bc3423a4.7b061","group":"42c371a8.da2f5","order":2,"width":0,"height":0,"name":"","label":"Target","format":"<font color= {{msg.color}} size={{msg.size}} > {{msg.payload}} </font>","layout":"row-spread","x":910,"y":560,"wires":[]},{"id":"6c084423.e9ac5c","type":"ui_text","z":"bc3423a4.7b061","group":"42c371a8.da2f5","order":3,"width":0,"height":0,"name":"","label":"Actual","format":"<font color= {{msg.color}} size={{msg.size}} > {{msg.payload}} </font>","layout":"row-spread","x":910,"y":600,"wires":[]},{"id":"9824346c.0c6758","type":"ui_text","z":"bc3423a4.7b061","group":"42c371a8.da2f5","order":4,"width":0,"height":0,"name":"","label":"Diff","format":"<font color= {{msg.color}} size={{msg.size}} > {{msg.payload}} </font>","layout":"row-spread","x":910,"y":640,"wires":[]},{"id":"8a492bc0.954cd8","type":"ui_chart","z":"bc3423a4.7b061","name":"","group":"42c371a8.da2f5","order":5,"width":0,"height":0,"label":"Target and Actual chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1eb33a","#0d0d0d","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":960,"y":500,"wires":[[]]},{"id":"38a2a197.ff0dde","type":"MSSQL","z":"bc3423a4.7b061","mssqlCN":"a058eb5d.f0e1d8","name":"","query":"insert into IotData (metric,value,iot)\n     VALUES ({{{topic}}}, {{{payload}}} , 'HMI') ","outField":"payload","x":760,"y":1500,"wires":[["17717427.ee4a8c"]]},{"id":"c36b6db1.78d14","type":"inject","z":"bc3423a4.7b061","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Temp","payload":"31.00","payloadType":"num","x":490,"y":1500,"wires":[["38a2a197.ff0dde"]]},{"id":"17717427.ee4a8c","type":"debug","z":"bc3423a4.7b061","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":1500,"wires":[]},{"id":"312afb11.488ac4","type":"ui_button","z":"bc3423a4.7b061","name":"","group":"42c371a8.da2f5","order":1,"width":0,"height":0,"passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":80,"y":400,"wires":[["8a0a8c6f.f9e01"]]},{"id":"e635c4d3.8d6948","type":"ui_text_input","z":"bc3423a4.7b061","name":"","label":"Input New Target","tooltip":"","group":"42c371a8.da2f5","order":6,"width":4,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":430,"y":80,"wires":[["444c2907.826988"]]},{"id":"be5456eb.2100e8","type":"modbus-flex-write","z":"bc3423a4.7b061","name":"","showStatusActivities":false,"showErrors":false,"server":"3eed7ec8.d68462","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1090,"y":80,"wires":[["b5ffc4f5.818dc8"],[]]},{"id":"444c2907.826988","type":"function","z":"bc3423a4.7b061","name":"Set Target  address 1  To HTM slave","func":"msg.payload = { \n    'fc': 6, \n    'unitid': 1,\n    'address': 9 , \n    'quantity': 1 ,\n    'value': msg.payload\n};  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":80,"wires":[["be5456eb.2100e8","78f5fca4.e0aab4"]]},{"id":"b5ffc4f5.818dc8","type":"modbus-response","z":"bc3423a4.7b061","name":"","registerShowMax":20,"x":1310,"y":80,"wires":[]},{"id":"dcc11546.6b84d8","type":"inject","z":"bc3423a4.7b061","name":"Test 66","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"66","payloadType":"num","x":430,"y":120,"wires":[["444c2907.826988"]]},{"id":"c749e9af.c83218","type":"ui_button","z":"bc3423a4.7b061","name":"","group":"42c371a8.da2f5","order":7,"width":3,"height":1,"passthru":false,"label":"Set Target","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"num","topic":"topic","topicType":"msg","x":410,"y":180,"wires":[["d7b5bbe7.fd6e48"]]},{"id":"d7b5bbe7.fd6e48","type":"function","z":"bc3423a4.7b061","name":"Set LB9 On address 9  To HTM slave","func":"msg.payload = { \n    'fc': 5, \n    'unitid': 1,\n    'address': 9 , \n    'quantity': 1 ,\n    'value': 1\n};  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":160,"wires":[["be5456eb.2100e8","d3d919fa.e6a088","78f5fca4.e0aab4"]]},{"id":"41dccf14.1eb66","type":"comment","z":"bc3423a4.7b061","name":"Refresh","info":"\n","x":530,"y":300,"wires":[]},{"id":"14f9d4f5.a1a9ab","type":"comment","z":"bc3423a4.7b061","name":"First Set HTM IP in the same PC lan IP","info":"\n","x":170,"y":20,"wires":[]},{"id":"22a4c9f5.cb19d6","type":"comment","z":"bc3423a4.7b061","name":"Set repead time default 60","info":"\n","x":110,"y":280,"wires":[]},{"id":"78f5fca4.e0aab4","type":"debug","z":"bc3423a4.7b061","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":160,"wires":[]},{"id":"d3d919fa.e6a088","type":"delay","z":"bc3423a4.7b061","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":240,"wires":[["8a0a8c6f.f9e01"]]},{"id":"8f08c166.78992","type":"ui_text","z":"bc3423a4.7b061","group":"afae81ee.273b8","order":1,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"<font color= {{msg.color}} size={{msg.size}} > {{msg.topic}} </font>","layout":"row-spread","x":950,"y":820,"wires":[]},{"id":"90be1cf0.e84e5","type":"ui_chart","z":"bc3423a4.7b061","name":"","group":"afae81ee.273b8","order":2,"width":0,"height":0,"label":"Status chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":970,"y":860,"wires":[[]]},{"id":"c18b59b3.1d80b8","type":"change","z":"bc3423a4.7b061","name":"Chang topic  (Status)","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"msg"},{"t":"change","p":"topic","pt":"msg","from":"100","fromt":"num","to":"RUN","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"50","fromt":"num","to":"STOP","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"25","fromt":"num","to":"FAIL","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"0","fromt":"num","to":"SETUP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":840,"wires":[["90be1cf0.e84e5","f961e335.2af78","8f08c166.78992","6ee39c56.b9a794"]]},{"id":"b800dc4c.e28ef","type":"function","z":"bc3423a4.7b061","name":"INSERT Into IotData","func":"var sql = \"INSERT INTO IotData (metric,value,iot) VALUES (?,?,?)\";\n\n    var metric = msg.topic;\n    var value = msg.payload; \n    msg.payload = [ metric,value,msg.iot];\n\nmsg.topic = sql;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":1040,"wires":[["2d78eae1.31be06","2612efdd.55b1d"]]},{"id":"2d78eae1.31be06","type":"mysql","z":"bc3423a4.7b061","mydb":"6cf82e37.9a1db","name":"","x":1570,"y":920,"wires":[[]]},{"id":"2612efdd.55b1d","type":"debug","z":"bc3423a4.7b061","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":820,"wires":[]},{"id":"f961e335.2af78","type":"function","z":"bc3423a4.7b061","name":"INSERT Into IotStatus","func":"var sql = \"INSERT INTO IotStatus (metric,value,iot) VALUES (?,?,?)\";\n\n    var metric = msg.topic;\n    var value = msg.payload; \n    \n    msg.payload = [ metric,value,msg.iot];\n    msg.topic = sql;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":920,"wires":[["2d78eae1.31be06","2612efdd.55b1d"]]},{"id":"f18a60ed.85956","type":"function","z":"bc3423a4.7b061","name":"INSERT Into IotData","func":"var sql = \"INSERT INTO IotCounter (metric,value,iot) VALUES (?,?,?)\";\n\n    var metric = msg.topic;\n    var value = msg.payload; \n    \n    msg.payload = [ metric,value,msg.iot];\n \n    msg.topic = sql;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":720,"wires":[["2d78eae1.31be06","2612efdd.55b1d"]]},{"id":"36be6eba.d4b302","type":"inject","z":"bc3423a4.7b061","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"50","payloadType":"num","x":510,"y":880,"wires":[["c18b59b3.1d80b8"]]},{"id":"412f168f.b70138","type":"change","z":"bc3423a4.7b061","name":"Get Status LW15","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[15]","tot":"jsonata"},{"t":"set","p":"color","pt":"msg","to":"black","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":740,"wires":[["c18b59b3.1d80b8"]]},{"id":"93450613.8214d8","type":"function","z":"bc3423a4.7b061","name":"INSERT Into IotAlarm","func":"    var sql = \"INSERT INTO iotalarm (metric,value,iot) VALUES (?,?,?)\";\n    \n    var metric = msg.topic;\n    var value = msg.payload; \n    \n    msg.payload = [ metric,value,msg.iot];\n    msg.topic = sql;\n    \n\n    return msg;    \n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":1260,"wires":[["2d78eae1.31be06","2612efdd.55b1d"]]},{"id":"d1c0844.c88de78","type":"inject","z":"bc3423a4.7b061","name":"T1  28.5","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"T1","payload":"28.5","payloadType":"num","x":590,"y":1280,"wires":[["b800dc4c.e28ef","34c73a3.8d897c6"]]},{"id":"80b8f891.f85368","type":"debug","z":"bc3423a4.7b061","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":1200,"wires":[]},{"id":"11fa0c02.6b2d64","type":"inject","z":"bc3423a4.7b061","name":"T1  28.5","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"T1","payload":"31","payloadType":"num","x":610,"y":1320,"wires":[["34c73a3.8d897c6"]]},{"id":"5e5131e2.8034c","type":"comment","z":"bc3423a4.7b061","name":"Fuction IF for alarm","info":"","x":930,"y":1220,"wires":[]},{"id":"34c73a3.8d897c6","type":"function","z":"bc3423a4.7b061","name":"if (T > 30)  ","func":"if (msg.payload > 30 ) {\n   msg.topic = msg.topic + \" (>30)\";\n    return msg;    \n    \n} else {\n    \n    return null;    \n    \n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":1260,"wires":[["93450613.8214d8","80b8f891.f85368","86657319.72d58"]]},{"id":"d3c0c06e.fde46","type":"ui_text","z":"bc3423a4.7b061","group":"9cf62672.509618","order":2,"width":9,"height":1,"name":"","label":"<font color= red size=3 > Last ({{msg.topic}}) {{msg.myymd}} {{msg.mytimes}} </font>","format":"<font color= red size=5 > {{msg.payload}} </font>","layout":"row-spread","x":1270,"y":1320,"wires":[]},{"id":"cdef5ef8.e2f36","type":"inject","z":"bc3423a4.7b061","name":">30   31","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":">30","payload":"31","payloadType":"num","x":910,"y":1340,"wires":[["86657319.72d58"]]},{"id":"86657319.72d58","type":"simpletime","z":"bc3423a4.7b061","name":"","mydate":false,"myymd":true,"myyear":false,"mymonth":false,"mymonthn":false,"mydom":false,"mydoy":false,"myday":false,"myhourpm":false,"myhour":false,"mytime":false,"mytimes":true,"myminute":false,"myminutes":false,"mysecond":false,"mymillis":false,"myepoch":false,"myrawdate":false,"mypm":false,"x":1090,"y":1320,"wires":[["d3c0c06e.fde46"]]},{"id":"6ee39c56.b9a794","type":"debug","z":"bc3423a4.7b061","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":780,"wires":[]},{"id":"3eed7ec8.d68462","type":"modbus-client","name":"HMI TCP Slave default 192.168.10.100","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.10.100","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"9cf62672.509618","type":"ui_group","name":"Temp Humi Group","tab":"d4df061a.b13c68","order":3,"disp":true,"width":12,"collapse":false},{"id":"42c371a8.da2f5","type":"ui_group","name":"Counter Group","tab":"d4df061a.b13c68","order":1,"disp":true,"width":7,"collapse":false},{"id":"a058eb5d.f0e1d8","type":"MSSQL-CN","name":"MsSQL Server","server":"localhost","encyption":false,"database":"IotDB"},{"id":"afae81ee.273b8","type":"ui_group","name":"Status","tab":"d4df061a.b13c68","order":2,"disp":true,"width":"6","collapse":false},{"id":"6cf82e37.9a1db","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"IotDB","tz":"","charset":""},{"id":"d4df061a.b13c68","type":"ui_tab","name":"HMI TCP Slave","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
