Device_Programs/Node-Red/HF2211 TH Dashboard.json
[{"id":"e57c226a.660f1","type":"tab","label":"HF2211 TH Dashbaord","disabled":false,"info":""},{"id":"e9ec3409.51de98","type":"inject","z":"e57c226a.660f1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[254,550]","payloadType":"jsonata","x":150,"y":360,"wires":[["d32ba2d6.f9a88","f875fa05.9753a8"]]},{"id":"51a1a0fc.3a753","type":"ui_gauge","z":"e57c226a.660f1","name":"","group":"2f40bbad.29a2d4","order":7,"width":3,"height":3,"gtype":"gage","title":"H2 gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":240,"wires":[]},{"id":"d32ba2d6.f9a88","type":"change","z":"e57c226a.660f1","name":"payload[0] / 10 -   H2  - Iot : TH","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]/10","tot":"jsonata"},{"t":"set","p":"iot","pt":"msg","to":"TH","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"H2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":240,"wires":[["51a1a0fc.3a753","a1b5ace1.12494","be5c33cb.5b7f4"]]},{"id":"2999c156.fd6a4e","type":"ui_gauge","z":"e57c226a.660f1","name":"","group":"2f40bbad.29a2d4","order":1,"width":3,"height":3,"gtype":"gage","title":"T2 gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":540,"wires":[]},{"id":"f875fa05.9753a8","type":"change","z":"e57c226a.660f1","name":"payload[1] / 10 - T2 - Iot : TH","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1]/10","tot":"jsonata"},{"t":"set","p":"iot","pt":"msg","to":"TH","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"T2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":540,"wires":[["2999c156.fd6a4e","fa655f47.4fe57","27325875.46e358","ce747494.6f8da8"]]},{"id":"a1b5ace1.12494","type":"ui_chart","z":"e57c226a.660f1","name":"","group":"2f40bbad.29a2d4","order":8,"width":10,"height":6,"label":"H2 chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":740,"y":280,"wires":[[]]},{"id":"fa655f47.4fe57","type":"ui_chart","z":"e57c226a.660f1","name":"","group":"2f40bbad.29a2d4","order":2,"width":10,"height":5,"label":"T2 chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":720,"y":580,"wires":[[]]},{"id":"be5c33cb.5b7f4","type":"function","z":"e57c226a.660f1","name":"INSERT Into iotdat","func":"var sql = \"INSERT INTO iotdata (metric,value,iot) VALUES (?,?,?)\";\n\n    var metric = msg.topic;\n    var value = msg.payload; \n    \n    msg.payload = [ metric,value,msg.iot];\n \n    msg.topic = sql;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":320,"wires":[["a3596fcf.1ce97"]]},{"id":"a3596fcf.1ce97","type":"mysql","z":"e57c226a.660f1","mydb":"6cf82e37.9a1db","name":"","x":1070,"y":540,"wires":[[]]},{"id":"27325875.46e358","type":"function","z":"e57c226a.660f1","name":"INSERT Into iotdata","func":"var sql = \"INSERT INTO iotdata (metric,value,iot) VALUES (?,?,?)\";\n\n    var metric = msg.topic;\n    var value = msg.payload; \n    \n    msg.payload = [ metric,value,msg.iot];\n \n    msg.topic = sql;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":640,"wires":[["a3596fcf.1ce97"]]},{"id":"ce747494.6f8da8","type":"function","z":"e57c226a.660f1","name":"if (T > 30)  ","func":"if (msg.payload > 25 ) {\n   msg.topic = msg.topic + \" (>30)\";\n    return msg;    \n    \n} else {\n    \n    return null;    \n    \n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":700,"wires":[["60c40113.a3eec","d596010f.6b487"]]},{"id":"60c40113.a3eec","type":"function","z":"e57c226a.660f1","name":"INSERT Into IotAlarm","func":"    var sql = \"INSERT INTO iotalarm (metric,value,iot) VALUES (?,?,?)\";\n    \n    var metric = msg.topic;\n    var value = msg.payload; \n    \n    msg.payload = [ metric,value,msg.iot];\n    msg.topic = sql;\n    \n\n    return msg;    \n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":740,"wires":[["a3596fcf.1ce97"]]},{"id":"7d68b53.c57c94c","type":"comment","z":"e57c226a.660f1","name":"Set Repeat Timer","info":"","x":240,"y":200,"wires":[]},{"id":"6183ea0d.c12394","type":"modbus-read","z":"e57c226a.660f1","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"2","rate":"60","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"137bbffa.030f7","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":230,"y":140,"wires":[["7c198e35.1d9f2","34e82e53.afa142","d32ba2d6.f9a88","f875fa05.9753a8"],[]]},{"id":"7c198e35.1d9f2","type":"modbus-response","z":"e57c226a.660f1","name":"","registerShowMax":20,"x":570,"y":160,"wires":[]},{"id":"34e82e53.afa142","type":"debug","z":"e57c226a.660f1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":100,"wires":[]},{"id":"a4d29dd8.a160f","type":"ui_text","z":"e57c226a.660f1","group":"2f40bbad.29a2d4","order":5,"width":9,"height":1,"name":"","label":"<font color= red size=3 > Last ({{msg.topic}}) {{msg.myymd}} {{msg.mytimes}} </font>","format":"<font color= red size=5 > {{msg.payload}} </font>","layout":"row-spread","x":930,"y":820,"wires":[]},{"id":"f6e4dacd.c55e08","type":"inject","z":"e57c226a.660f1","name":">30   31","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":">30","payload":"31","payloadType":"num","x":550,"y":820,"wires":[["d596010f.6b487"]]},{"id":"d596010f.6b487","type":"simpletime","z":"e57c226a.660f1","name":"","mydate":false,"myymd":true,"myyear":false,"mymonth":false,"mymonthn":false,"mydom":false,"mydoy":false,"myday":false,"myhourpm":false,"myhour":false,"mytime":false,"mytimes":true,"myminute":false,"myminutes":false,"mysecond":false,"mymillis":false,"myepoch":false,"myrawdate":false,"mypm":false,"x":750,"y":820,"wires":[["a4d29dd8.a160f"]]},{"id":"ecce179f.8ced88","type":"comment","z":"e57c226a.660f1","name":"Set HF2211 TCP IP  Select Wifi HF_xx  default 10.10.100.254","info":"","x":240,"y":40,"wires":[]},{"id":"d40cbbda.d556f8","type":"comment","z":"e57c226a.660f1","name":"Set Repeat timer defaul 60 s","info":"","x":140,"y":100,"wires":[]},{"id":"2f40bbad.29a2d4","type":"ui_group","name":"Group T2  and  H2","tab":"5d800004.69b67","order":1,"disp":true,"width":"13","collapse":false},{"id":"6cf82e37.9a1db","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"IotDB","tz":"","charset":""},{"id":"137bbffa.030f7","type":"modbus-client","name":"IotHF2211","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.10.100.254","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"5d800004.69b67","type":"ui_tab","name":"Iot Temp Humi","icon":"dashboard","order":3,"disabled":false,"hidden":false}]
