Device_Programs/Node-Red/HF2211 TH Dashboard.json
[{"id":"f3422b9d.a781c8","type":"tab","label":"HF2211 TH Dashbaord","disabled":false,"info":""},{"id":"8ea46773.92bd68","type":"inject","z":"f3422b9d.a781c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[254,550]","payloadType":"jsonata","x":150,"y":360,"wires":[["a8dc4d67.7505a","4477a0cb.93107"]]},{"id":"7cf235d8.5a78bc","type":"ui_gauge","z":"f3422b9d.a781c8","name":"","group":"e8070feb.d4f58","order":7,"width":3,"height":3,"gtype":"gage","title":"H2 gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":240,"wires":[]},{"id":"a8dc4d67.7505a","type":"change","z":"f3422b9d.a781c8","name":"payload[0] / 10 -   H2  - Iot : TH","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]/10","tot":"jsonata"},{"t":"set","p":"iot","pt":"msg","to":"TH","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"H2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":240,"wires":[["7cf235d8.5a78bc","ab118f78.4f7e6","c29df7b4.2f20d8"]]},{"id":"360af25.60e1e0e","type":"ui_gauge","z":"f3422b9d.a781c8","name":"","group":"e8070feb.d4f58","order":1,"width":3,"height":3,"gtype":"gage","title":"T2 gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":540,"wires":[]},{"id":"4477a0cb.93107","type":"change","z":"f3422b9d.a781c8","name":"payload[1] / 10 - T2 - Iot : TH","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1]/10","tot":"jsonata"},{"t":"set","p":"iot","pt":"msg","to":"TH","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"T2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":540,"wires":[["360af25.60e1e0e","4d8e2f4d.81394","c443a395.5e2f1","777ea79e.6240c8"]]},{"id":"ab118f78.4f7e6","type":"ui_chart","z":"f3422b9d.a781c8","name":"","group":"e8070feb.d4f58","order":8,"width":10,"height":6,"label":"H2 chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":740,"y":280,"wires":[[]]},{"id":"4d8e2f4d.81394","type":"ui_chart","z":"f3422b9d.a781c8","name":"","group":"e8070feb.d4f58","order":2,"width":10,"height":5,"label":"T2 chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":720,"y":580,"wires":[[]]},{"id":"c29df7b4.2f20d8","type":"function","z":"f3422b9d.a781c8","name":"INSERT Into IotData","func":"var sql = \"INSERT INTO IotData (metric,value,iot) VALUES (?,?,?)\";\n\n    var metric = msg.topic;\n    var value = msg.payload; \n    \n    msg.payload = [ metric,value,msg.iot];\n \n    msg.topic = sql;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":320,"wires":[["9a0b5564.71ce68"]]},{"id":"9a0b5564.71ce68","type":"mysql","z":"f3422b9d.a781c8","mydb":"6cf82e37.9a1db","name":"","x":1070,"y":540,"wires":[[]]},{"id":"c443a395.5e2f1","type":"function","z":"f3422b9d.a781c8","name":"INSERT Into IotData","func":"var sql = \"INSERT INTO IotData (metric,value,iot) VALUES (?,?,?)\";\n\n    var metric = msg.topic;\n    var value = msg.payload; \n    \n    msg.payload = [ metric,value,msg.iot];\n \n    msg.topic = sql;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":640,"wires":[["9a0b5564.71ce68"]]},{"id":"777ea79e.6240c8","type":"function","z":"f3422b9d.a781c8","name":"if (T > 30)  ","func":"if (msg.payload > 25 ) {\n   msg.topic = msg.topic + \" (>30)\";\n    return msg;    \n    \n} else {\n    \n    return null;    \n    \n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":700,"wires":[["feef7ab.dd34388","f213e5aa.907e68"]]},{"id":"feef7ab.dd34388","type":"function","z":"f3422b9d.a781c8","name":"INSERT Into IotAlarm","func":"    var sql = \"INSERT INTO iotalarm (metric,value,iot) VALUES (?,?,?)\";\n    \n    var metric = msg.topic;\n    var value = msg.payload; \n    \n    msg.payload = [ metric,value,msg.iot];\n    msg.topic = sql;\n    \n\n    return msg;    \n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":740,"wires":[["9a0b5564.71ce68"]]},{"id":"69c2603d.21653","type":"comment","z":"f3422b9d.a781c8","name":"Set Repeat Timer","info":"","x":240,"y":200,"wires":[]},{"id":"8bbe608d.e2a91","type":"modbus-read","z":"f3422b9d.a781c8","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"2","rate":"60","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"bf07dbb7.6d6928","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":230,"y":140,"wires":[["d781fcdc.2f376","b1e284eb.4f3d48","a8dc4d67.7505a","4477a0cb.93107"],[]]},{"id":"d781fcdc.2f376","type":"modbus-response","z":"f3422b9d.a781c8","name":"","registerShowMax":20,"x":570,"y":160,"wires":[]},{"id":"b1e284eb.4f3d48","type":"debug","z":"f3422b9d.a781c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":100,"wires":[]},{"id":"122ac5ea.9716ea","type":"ui_text","z":"f3422b9d.a781c8","group":"e8070feb.d4f58","order":5,"width":9,"height":1,"name":"","label":"<font color= red size=3 > Last ({{msg.topic}}) {{msg.myymd}} {{msg.mytimes}} </font>","format":"<font color= red size=5 > {{msg.payload}} </font>","layout":"row-spread","x":930,"y":820,"wires":[]},{"id":"35787ace.da9406","type":"inject","z":"f3422b9d.a781c8","name":">30   31","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":">30","payload":"31","payloadType":"num","x":550,"y":820,"wires":[["f213e5aa.907e68"]]},{"id":"f213e5aa.907e68","type":"simpletime","z":"f3422b9d.a781c8","name":"","mydate":false,"myymd":true,"myyear":false,"mymonth":false,"mymonthn":false,"mydom":false,"mydoy":false,"myday":false,"myhourpm":false,"myhour":false,"mytime":false,"mytimes":true,"myminute":false,"myminutes":false,"mysecond":false,"mymillis":false,"myepoch":false,"myrawdate":false,"mypm":false,"x":750,"y":820,"wires":[["122ac5ea.9716ea"]]},{"id":"821ec70c.fbdee8","type":"comment","z":"f3422b9d.a781c8","name":"Set HF2211 TCP IP default 10.10.100.254","info":"","x":180,"y":60,"wires":[]},{"id":"8325d431.d3f588","type":"comment","z":"f3422b9d.a781c8","name":"Set Repeat timer defaul 60 s","info":"","x":140,"y":100,"wires":[]},{"id":"e8070feb.d4f58","type":"ui_group","name":"Group T2  and  H2","tab":"d478713b.ed256","order":1,"disp":true,"width":"13","collapse":false},{"id":"6cf82e37.9a1db","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"IotDB","tz":"","charset":""},{"id":"bf07dbb7.6d6928","type":"modbus-client","name":"IotHF2211","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.10.100.254","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"d478713b.ed256","type":"ui_tab","name":"Iot Temp Humi","icon":"dashboard","order":3,"disabled":false,"hidden":false}]
