Device_Programs/Node-Red/STW_4Counter_Dashboard.json
[{"id":"3bff0d6f.504db2","type":"tab","label":"STW 8 Counter Dashboard","disabled":false,"info":""},{"id":"26d4ff2.82b","type":"modbus-response","z":"3bff0d6f.504db2","name":"","registerShowMax":20,"x":730,"y":180,"wires":[]},{"id":"8a33a8c3.a29648","type":"change","z":"3bff0d6f.504db2","name":"Total Actual - payload[1] - D110 -> LW11","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"Total Actual","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"8","tot":"num"},{"t":"set","p":"TotalActual","pt":"flow","to":"payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":320,"wires":[["cdd867fa.cd66e8","2dad8b02.dff714"]]},{"id":"cdd867fa.cd66e8","type":"ui_text","z":"3bff0d6f.504db2","group":"e461d128.b1148","order":2,"width":4,"height":2,"name":"","label":"Actual","format":"<font color= {{msg.color}} size={{msg.size}}  > {{msg.payload}} </font>","layout":"row-spread","x":890,"y":320,"wires":[]},{"id":"6041de45.98874","type":"comment","z":"3bff0d6f.504db2","name":"Total","info":"Total Actual D110 -> LW11\nTotal Target D120 -> LW12\nTotal Diff D130 -> LW13","x":570,"y":240,"wires":[]},{"id":"f6090dd.a8c18f","type":"change","z":"3bff0d6f.504db2","name":"Total Target - payload[2] - D120 -> LW12","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[2]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"Total Target","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"num"},{"t":"set","p":"TotalTarget","pt":"flow","to":"payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":280,"wires":[["db394519.968fa8","2dad8b02.dff714"]]},{"id":"575841ec.0c0ee","type":"change","z":"3bff0d6f.504db2","name":"Total Diff - payload[3] - D130 -> LW13","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[3]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"Total Diff","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"pink","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":360,"wires":[["e57ca25d.f76b4"]]},{"id":"db394519.968fa8","type":"ui_text","z":"3bff0d6f.504db2","group":"e461d128.b1148","order":1,"width":4,"height":2,"name":"","label":"Target","format":"<font color= {{msg.color}} size={{msg.size}} > {{msg.payload}} </font>","layout":"row-spread","x":890,"y":280,"wires":[]},{"id":"e57ca25d.f76b4","type":"ui_text","z":"3bff0d6f.504db2","group":"e461d128.b1148","order":3,"width":4,"height":1,"name":"","label":"Diff","format":"<font color= {{msg.color}} size={{msg.size}} > {{msg.payload}} </font>","layout":"row-spread","x":890,"y":360,"wires":[]},{"id":"2efcc0c8.1c494","type":"change","z":"3bff0d6f.504db2","name":"Target 1 - payload[4] - D111 -> LW14","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[4]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"Target 1","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"num"},{"t":"set","p":"Target1","pt":"flow","to":"payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":460,"wires":[["98063bd5.606cd8","3009120.0b225ee"]]},{"id":"b53dc2f9.462b8","type":"change","z":"3bff0d6f.504db2","name":"Target 2 - payload[5] - D112 -> LW15","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[5]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"Target 1","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"num"},{"t":"set","p":"Target2","pt":"flow","to":"payload","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":500,"wires":[["d3117f8c.684a9","bdeaf5f0.cb9898"]]},{"id":"c15bec0d.318fb","type":"change","z":"3bff0d6f.504db2","name":"Target 3 - payload[6] - D113 -> LW16","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[6]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"Target 1","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"num"},{"t":"set","p":"Target3","pt":"flow","to":"payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":540,"wires":[["773fe078.d9c35","4b2ed8f1.6359c8"]]},{"id":"bebbf374.a55f8","type":"change","z":"3bff0d6f.504db2","name":"Target 4 - payload[7] - D114 -> LW17","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[7]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"Target 1","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"num"},{"t":"set","p":"Target4","pt":"flow","to":"payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":580,"wires":[["4fb8e1d7.dc9f7","27173915.4d86c6"]]},{"id":"c0465968.d0ba48","type":"ui_text","z":"3bff0d6f.504db2","group":"aa026c7a.6b345","order":2,"width":0,"height":0,"name":"","label":"Actual","format":"<font color= {{msg.color}} size={{msg.size}} > {{msg.payload}} </font>","layout":"row-spread","x":890,"y":680,"wires":[]},{"id":"bac78efd.c35ab","type":"ui_text","z":"3bff0d6f.504db2","group":"8b4ce97d.3c8be8","order":2,"width":0,"height":0,"name":"","label":"Actual","format":"<font color= {{msg.color}} size={{msg.size}} > {{msg.payload}} </font>","layout":"row-spread","x":890,"y":720,"wires":[]},{"id":"d4c53d41.15434","type":"ui_text","z":"3bff0d6f.504db2","group":"a95b1a48.505458","order":2,"width":0,"height":0,"name":"","label":"Actual","format":"<font color= {{msg.color}} size={{msg.size}} > {{msg.payload}} </font>","layout":"row-spread","x":890,"y":760,"wires":[]},{"id":"aab777ae.90b698","type":"ui_text","z":"3bff0d6f.504db2","group":"320a7c21.0931f4","order":2,"width":0,"height":0,"name":"","label":"Actual","format":"<font color= {{msg.color}} size={{msg.size}} > {{msg.payload}} </font>","layout":"row-spread","x":890,"y":800,"wires":[]},{"id":"8dadb7c1.834fc8","type":"change","z":"3bff0d6f.504db2","name":"Actual 1 - payload[8] - D121 -> LW18","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[8]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"Actual 1","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"8","tot":"num"},{"t":"set","p":"Actual1","pt":"flow","to":"payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":680,"wires":[["c0465968.d0ba48","3009120.0b225ee"]]},{"id":"b5cf19e0.26be18","type":"change","z":"3bff0d6f.504db2","name":"Actual 2 - payload[9] - D122 -> LW19","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[9]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"Actual 2","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"8","tot":"num"},{"t":"set","p":"Actual2","pt":"flow","to":"payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":720,"wires":[["bac78efd.c35ab","bdeaf5f0.cb9898"]]},{"id":"f7116aa1.2961e8","type":"change","z":"3bff0d6f.504db2","name":"Actual 3 - payload[10] - D122 -> LW20","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[10]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"Actual 3","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"8","tot":"num"},{"t":"set","p":"Actual3","pt":"flow","to":"payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":760,"wires":[["d4c53d41.15434","4b2ed8f1.6359c8"]]},{"id":"e6c48b48.4eee38","type":"change","z":"3bff0d6f.504db2","name":"Actual 4 - payload[11] - D124 -> LW21","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[11]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"Actual 4","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"8","tot":"num"},{"t":"set","p":"Actual4","pt":"flow","to":"payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":800,"wires":[["aab777ae.90b698","27173915.4d86c6"]]},{"id":"98063bd5.606cd8","type":"ui_text","z":"3bff0d6f.504db2","group":"aa026c7a.6b345","order":1,"width":0,"height":0,"name":"","label":"Target","format":"<font color= {{msg.color}} size={{msg.size}} > {{msg.payload}} </font>","layout":"row-spread","x":890,"y":460,"wires":[]},{"id":"d3117f8c.684a9","type":"ui_text","z":"3bff0d6f.504db2","group":"8b4ce97d.3c8be8","order":1,"width":0,"height":0,"name":"","label":"Target","format":"<font color= {{msg.color}} size={{msg.size}} > {{msg.payload}} </font>","layout":"row-spread","x":890,"y":500,"wires":[]},{"id":"773fe078.d9c35","type":"ui_text","z":"3bff0d6f.504db2","group":"a95b1a48.505458","order":1,"width":0,"height":0,"name":"","label":"Target","format":"<font color= {{msg.color}} size={{msg.size}} > {{msg.payload}} </font>","layout":"row-spread","x":890,"y":540,"wires":[]},{"id":"4fb8e1d7.dc9f7","type":"ui_text","z":"3bff0d6f.504db2","group":"320a7c21.0931f4","order":1,"width":0,"height":0,"name":"","label":"Target","format":"<font color= {{msg.color}} size={{msg.size}} > {{msg.payload}} </font>","layout":"row-spread","x":890,"y":580,"wires":[]},{"id":"9360f212.81ba4","type":"comment","z":"3bff0d6f.504db2","name":"Actual","info":"","x":550,"y":420,"wires":[]},{"id":"3009120.0b225ee","type":"ui_chart","z":"3bff0d6f.504db2","name":"","group":"aa026c7a.6b345","order":3,"width":0,"height":0,"label":"chart 1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"9","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#b31e1e","#046ffb","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1050,"y":600,"wires":[[]]},{"id":"bdeaf5f0.cb9898","type":"ui_chart","z":"3bff0d6f.504db2","name":"","group":"8b4ce97d.3c8be8","order":3,"width":0,"height":0,"label":"chart 2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"9","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#b31e1e","#0571ff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1050,"y":640,"wires":[[]]},{"id":"4b2ed8f1.6359c8","type":"ui_chart","z":"3bff0d6f.504db2","name":"","group":"a95b1a48.505458","order":3,"width":0,"height":0,"label":"chart 3","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"9","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#b31e1e","#006eff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1050,"y":680,"wires":[[]]},{"id":"27173915.4d86c6","type":"ui_chart","z":"3bff0d6f.504db2","name":"","group":"320a7c21.0931f4","order":3,"width":0,"height":0,"label":"chart 4","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"9","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#b31e1e","#006eff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1050,"y":720,"wires":[[]]},{"id":"1c7f3bb9.4ad454","type":"ui_text_input","z":"3bff0d6f.504db2","name":"","label":"Set Target 1","tooltip":"","group":"aa026c7a.6b345","order":4,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":110,"y":920,"wires":[["85ad0d81.f2f5c"]]},{"id":"85ad0d81.f2f5c","type":"change","z":"3bff0d6f.504db2","name":"","rules":[{"t":"set","p":"SetTarget1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":920,"wires":[[]]},{"id":"84cc5049.39945","type":"debug","z":"3bff0d6f.504db2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":270,"y":240,"wires":[]},{"id":"df5fbe44.31381","type":"ui_text_input","z":"3bff0d6f.504db2","name":"","label":"Set Target 2","tooltip":"","group":"8b4ce97d.3c8be8","order":4,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":110,"y":960,"wires":[["3f19f6bf.f759da"]]},{"id":"3f19f6bf.f759da","type":"change","z":"3bff0d6f.504db2","name":"","rules":[{"t":"set","p":"SetTarget2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":960,"wires":[[]]},{"id":"6dda950.145e76c","type":"ui_text_input","z":"3bff0d6f.504db2","name":"","label":"Set Target 3","tooltip":"","group":"a95b1a48.505458","order":4,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":110,"y":1000,"wires":[["323a15c7.94939a"]]},{"id":"323a15c7.94939a","type":"change","z":"3bff0d6f.504db2","name":"","rules":[{"t":"set","p":"SetTarget3","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1000,"wires":[[]]},{"id":"a70ea128.2b01","type":"ui_text_input","z":"3bff0d6f.504db2","name":"","label":"Set Target 4","tooltip":"","group":"320a7c21.0931f4","order":4,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":110,"y":1040,"wires":[["7c3e9fd2.98846"]]},{"id":"7c3e9fd2.98846","type":"change","z":"3bff0d6f.504db2","name":"","rules":[{"t":"set","p":"SetTarget4","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1040,"wires":[[]]},{"id":"88ccc91.f9c5238","type":"function","z":"3bff0d6f.504db2","name":"Read 13 Value From HTM slave","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1,\n    'address': 10 , \n    'quantity': 12 \n     \n};  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":120,"wires":[["ee8e2621.313d98"]]},{"id":"ee8e2621.313d98","type":"modbus-flex-getter","z":"3bff0d6f.504db2","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"3eed7ec8.d68462","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":370,"y":180,"wires":[["26d4ff2.82b","8a33a8c3.a29648","f6090dd.a8c18f","575841ec.0c0ee","2efcc0c8.1c494","b53dc2f9.462b8","c15bec0d.318fb","bebbf374.a55f8","8dadb7c1.834fc8","b5cf19e0.26be18","f7116aa1.2961e8","e6c48b48.4eee38"],[]]},{"id":"ef958e8.5d6bf7","type":"inject","z":"3bff0d6f.504db2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":60,"wires":[["88ccc91.f9c5238"]]},{"id":"80c7f3e0.084ea","type":"comment","z":"3bff0d6f.504db2","name":"Set Target","info":"","x":100,"y":860,"wires":[]},{"id":"f9f4ba1e.4bde28","type":"ui_button","z":"3bff0d6f.504db2","name":"Set Target 1","group":"aa026c7a.6b345","order":5,"width":1,"height":1,"passthru":false,"label":"Set","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":1160,"wires":[["567da40a.d9037c"]]},{"id":"567da40a.d9037c","type":"change","z":"3bff0d6f.504db2","name":"Set Address and Value - LW1 ->D121","rules":[{"t":"set","p":"value","pt":"msg","to":"SetTarget1","tot":"flow"},{"t":"set","p":"address","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1160,"wires":[["4b6cad34.78f1d4"]]},{"id":"873c1e8c.856c1","type":"ui_button","z":"3bff0d6f.504db2","name":"Set Target 2","group":"8b4ce97d.3c8be8","order":5,"width":1,"height":1,"passthru":false,"label":"Set","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":1200,"wires":[["8ed2152d.95f168"]]},{"id":"8ed2152d.95f168","type":"change","z":"3bff0d6f.504db2","name":"Set Address and Value - LW2 ->D122","rules":[{"t":"set","p":"value","pt":"msg","to":"SetTarget2","tot":"flow"},{"t":"set","p":"address","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1200,"wires":[["4b6cad34.78f1d4"]]},{"id":"bc32256b.fc2208","type":"ui_button","z":"3bff0d6f.504db2","name":"Set Target 3","group":"a95b1a48.505458","order":5,"width":1,"height":1,"passthru":false,"label":"Set","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":1240,"wires":[["3665a009.d4ac8"]]},{"id":"3665a009.d4ac8","type":"change","z":"3bff0d6f.504db2","name":"Set Address and Value - LW3 ->D123","rules":[{"t":"set","p":"value","pt":"msg","to":"SetTarget3","tot":"flow"},{"t":"set","p":"address","pt":"msg","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1240,"wires":[["4b6cad34.78f1d4"]]},{"id":"b6b5867a.0dd6e8","type":"ui_button","z":"3bff0d6f.504db2","name":"Set Target 4","group":"320a7c21.0931f4","order":5,"width":1,"height":1,"passthru":false,"label":"Set","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":1280,"wires":[["c118d483.d04c88"]]},{"id":"c118d483.d04c88","type":"change","z":"3bff0d6f.504db2","name":"Set Address and Value - LW4 ->D124","rules":[{"t":"set","p":"value","pt":"msg","to":"SetTarget4","tot":"flow"},{"t":"set","p":"address","pt":"msg","to":"4","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1280,"wires":[["4b6cad34.78f1d4"]]},{"id":"4b6cad34.78f1d4","type":"function","z":"3bff0d6f.504db2","name":"FC06 Set LW1-LW4","func":" node.status({text:msg.payload });\n\nmsg.payload = { \n    'fc': 6, \n    'unitid': 1,\n    'address': msg.address , \n    'quantity': 1 , \n     'value': msg.value\n};  \n     \n    return msg;\n \n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":1320,"wires":[["9ec2fb93.eb56a8"]]},{"id":"9ec2fb93.eb56a8","type":"modbus-flex-write","z":"3bff0d6f.504db2","name":"Modbus Write","showStatusActivities":false,"showErrors":false,"server":"3eed7ec8.d68462","emptyMsgOnFail":false,"keepMsgProperties":false,"x":820,"y":1400,"wires":[["91909488.ebc118","aab2db13.8b0238"],[]]},{"id":"91909488.ebc118","type":"modbus-response","z":"3bff0d6f.504db2","name":"","registerShowMax":20,"x":1090,"y":1400,"wires":[]},{"id":"88740538.9870d8","type":"function","z":"3bff0d6f.504db2","name":"INSERT Into IotData","func":"var sql = \"INSERT INTO iotdata (metric,value,iot) VALUES (?,?,?)\";\n\n    var metric = msg.topic;\n    var value = msg.payload; \n    \n    msg.payload = [ metric,value,msg.iot];\n \n    msg.topic = sql;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":2060,"wires":[["a4553aad.815378"]]},{"id":"a4553aad.815378","type":"mysql","z":"3bff0d6f.504db2","mydb":"6cf82e37.9a1db","name":"","x":890,"y":2080,"wires":[["d8a2a2b.88b746"]]},{"id":"d41fc3f0.a9b4f","type":"inject","z":"3bff0d6f.504db2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":2020,"wires":[["4f3f547f.9beb0c","50618770.b24138","16f48593.c1ae2a","7db6daa4.e92324","56f4b97.c8fe248","5550885b.bcf978"]]},{"id":"4f3f547f.9beb0c","type":"change","z":"3bff0d6f.504db2","name":"Save  TotalActual","rules":[{"t":"set","p":"payload","pt":"msg","to":"TotalActual","tot":"flow"},{"t":"set","p":"iot","pt":"msg","to":"HMI","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"TotalActual","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":2000,"wires":[["88740538.9870d8"]]},{"id":"f218c4ec.cf23a8","type":"comment","z":"3bff0d6f.504db2","name":"Set Repeat Timer to save data to IotData table","info":"","x":250,"y":1960,"wires":[]},{"id":"50618770.b24138","type":"change","z":"3bff0d6f.504db2","name":"Save  TotalActual","rules":[{"t":"set","p":"payload","pt":"msg","to":"TotalTarget","tot":"flow"},{"t":"set","p":"iot","pt":"msg","to":"HMI","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"TotalTarget","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":2060,"wires":[["88740538.9870d8"]]},{"id":"16f48593.c1ae2a","type":"change","z":"3bff0d6f.504db2","name":"Save  Actual1","rules":[{"t":"set","p":"payload","pt":"msg","to":"Actual1","tot":"flow"},{"t":"set","p":"iot","pt":"msg","to":"HMI","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Actual1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":2120,"wires":[["88740538.9870d8"]]},{"id":"7db6daa4.e92324","type":"change","z":"3bff0d6f.504db2","name":"Save  Actual2","rules":[{"t":"set","p":"payload","pt":"msg","to":"Actual2","tot":"flow"},{"t":"set","p":"iot","pt":"msg","to":"HMI","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Actual2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":2160,"wires":[["88740538.9870d8"]]},{"id":"56f4b97.c8fe248","type":"change","z":"3bff0d6f.504db2","name":"Save  Actual3","rules":[{"t":"set","p":"payload","pt":"msg","to":"Actual3","tot":"flow"},{"t":"set","p":"iot","pt":"msg","to":"HMI","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Actual3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":2200,"wires":[["88740538.9870d8"]]},{"id":"5550885b.bcf978","type":"change","z":"3bff0d6f.504db2","name":"Save  Actual4","rules":[{"t":"set","p":"payload","pt":"msg","to":"Actual4","tot":"flow"},{"t":"set","p":"iot","pt":"msg","to":"HMI","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Actual4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":2240,"wires":[["88740538.9870d8"]]},{"id":"d8a2a2b.88b746","type":"debug","z":"3bff0d6f.504db2","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":2020,"wires":[]},{"id":"2dad8b02.dff714","type":"ui_chart","z":"3bff0d6f.504db2","name":"","group":"ce669a01.bd8bb8","order":1,"width":8,"height":7,"label":"Total chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"9","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#b31e1e","#046ffb","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1070,"y":300,"wires":[[]]},{"id":"2f65e157.b73c4e","type":"ui_button","z":"3bff0d6f.504db2","name":"Reset Target 1","group":"aa026c7a.6b345","order":6,"width":1,"height":1,"passthru":false,"label":"= 0","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":140,"y":1580,"wires":[["5f790214.14119c"]]},{"id":"51400a57.e6f424","type":"function","z":"3bff0d6f.504db2","name":"FC06 Set LB1-LB4","func":" node.status({text:msg.payload });\n\nmsg.payload = { \n    'fc': 5, \n    'unitid': 1,\n    'address': msg.address , \n    'quantity': 1 , \n     'value': msg.value\n};  \n     \n    return msg;\n \n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":1640,"wires":[["9ec2fb93.eb56a8"]]},{"id":"5f790214.14119c","type":"change","z":"3bff0d6f.504db2","name":"Reset Target 1 - LB1 - LW14 <->D121 = 0    M1 = 0","rules":[{"t":"set","p":"value","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"address","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1580,"wires":[["51400a57.e6f424"]]},{"id":"43bbb3c0.5df50c","type":"change","z":"3bff0d6f.504db2","name":"Reset Target 2 - LB2 - LW15 <->D122 = 0    M2 = 0","rules":[{"t":"set","p":"value","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"address","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1620,"wires":[["51400a57.e6f424"]]},{"id":"1193cc78.5ae8c4","type":"change","z":"3bff0d6f.504db2","name":"Reset Target 3 - LB3 - LW16 <->D123 = 0    M3 = 0","rules":[{"t":"set","p":"value","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"address","pt":"msg","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1660,"wires":[["51400a57.e6f424"]]},{"id":"aecd2487.2e7558","type":"change","z":"3bff0d6f.504db2","name":"Reset Target 4 - LB4 - LW17 <->D124 = 0   M4 = 0","rules":[{"t":"set","p":"value","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"address","pt":"msg","to":"4","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1700,"wires":[["51400a57.e6f424"]]},{"id":"cea53674.747768","type":"ui_button","z":"3bff0d6f.504db2","name":"Reset Target 2","group":"8b4ce97d.3c8be8","order":6,"width":1,"height":1,"passthru":false,"label":"= 0","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":140,"y":1620,"wires":[["43bbb3c0.5df50c"]]},{"id":"d970106a.fe0a","type":"ui_button","z":"3bff0d6f.504db2","name":"Reset Target 3","group":"a95b1a48.505458","order":6,"width":1,"height":1,"passthru":false,"label":"= 0","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":140,"y":1660,"wires":[["1193cc78.5ae8c4"]]},{"id":"1401ac08.9501d4","type":"ui_button","z":"3bff0d6f.504db2","name":"Reset Target 4","group":"320a7c21.0931f4","order":6,"width":1,"height":1,"passthru":false,"label":"= 0","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":140,"y":1700,"wires":[["aecd2487.2e7558"]]},{"id":"19030e56.065572","type":"ui_text_input","z":"3bff0d6f.504db2","name":"","label":"Set Actual 1","tooltip":"","group":"aa026c7a.6b345","order":7,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":610,"y":920,"wires":[["458ca2c1.7fda8c"]]},{"id":"458ca2c1.7fda8c","type":"change","z":"3bff0d6f.504db2","name":"","rules":[{"t":"set","p":"SetActual1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":920,"wires":[[]]},{"id":"928bf99c.766ab8","type":"ui_text_input","z":"3bff0d6f.504db2","name":"","label":"Set Actual 2","tooltip":"","group":"8b4ce97d.3c8be8","order":7,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":610,"y":960,"wires":[["2e9cb9f4.087556"]]},{"id":"2e9cb9f4.087556","type":"change","z":"3bff0d6f.504db2","name":"","rules":[{"t":"set","p":"SetActual2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":960,"wires":[[]]},{"id":"dd8860c3.6174f","type":"ui_text_input","z":"3bff0d6f.504db2","name":"","label":"Set Actual 3","tooltip":"","group":"a95b1a48.505458","order":7,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":610,"y":1000,"wires":[["ccb8387f.8c79a8"]]},{"id":"ccb8387f.8c79a8","type":"change","z":"3bff0d6f.504db2","name":"","rules":[{"t":"set","p":"SetActual3","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1000,"wires":[[]]},{"id":"5e69f49f.54df1c","type":"ui_text_input","z":"3bff0d6f.504db2","name":"","label":"Set Actual 4","tooltip":"","group":"320a7c21.0931f4","order":7,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":610,"y":1040,"wires":[["ffe2a0da.6667e"]]},{"id":"ffe2a0da.6667e","type":"change","z":"3bff0d6f.504db2","name":"","rules":[{"t":"set","p":"SetActual4","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1040,"wires":[[]]},{"id":"5b173925.7eaf58","type":"ui_button","z":"3bff0d6f.504db2","name":"Set Actual 1","group":"aa026c7a.6b345","order":8,"width":1,"height":1,"passthru":false,"label":"Set ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":1340,"wires":[["3d4addb.1550c22"]]},{"id":"3d4addb.1550c22","type":"change","z":"3bff0d6f.504db2","name":"Set Address and Value - LW5 ->D111","rules":[{"t":"set","p":"value","pt":"msg","to":"SetActual1","tot":"flow"},{"t":"set","p":"address","pt":"msg","to":"5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1340,"wires":[["4b6cad34.78f1d4"]]},{"id":"cfa57b2e.fde1e8","type":"ui_button","z":"3bff0d6f.504db2","name":"Set Actual 2","group":"8b4ce97d.3c8be8","order":8,"width":1,"height":1,"passthru":false,"label":"Set","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":1380,"wires":[["798db16c.7e757"]]},{"id":"798db16c.7e757","type":"change","z":"3bff0d6f.504db2","name":"Set Address and Value - LW6 ->D122","rules":[{"t":"set","p":"value","pt":"msg","to":"SetActual2","tot":"flow"},{"t":"set","p":"address","pt":"msg","to":"6","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1380,"wires":[["4b6cad34.78f1d4"]]},{"id":"f64d3680.d50258","type":"ui_button","z":"3bff0d6f.504db2","name":"Set Actual 3","group":"a95b1a48.505458","order":8,"width":1,"height":1,"passthru":false,"label":"Set","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":1420,"wires":[["94b4d0e.0dcf23"]]},{"id":"94b4d0e.0dcf23","type":"change","z":"3bff0d6f.504db2","name":"Set Address and Value - LW7 ->D123","rules":[{"t":"set","p":"value","pt":"msg","to":"SetActual3","tot":"flow"},{"t":"set","p":"address","pt":"msg","to":"7","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1420,"wires":[["4b6cad34.78f1d4"]]},{"id":"c200047a.4a00d8","type":"ui_button","z":"3bff0d6f.504db2","name":"Set Actual 4","group":"320a7c21.0931f4","order":8,"width":1,"height":1,"passthru":false,"label":"Set","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":1460,"wires":[["1aebd9a4.26fea6"]]},{"id":"1aebd9a4.26fea6","type":"change","z":"3bff0d6f.504db2","name":"Set Address and Value - LW8 ->D124","rules":[{"t":"set","p":"value","pt":"msg","to":"SetActual4","tot":"flow"},{"t":"set","p":"address","pt":"msg","to":"8","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1460,"wires":[["4b6cad34.78f1d4"]]},{"id":"26003c29.c2f754","type":"ui_template","z":"3bff0d6f.504db2","group":"e461d128.b1148","name":"","order":4,"width":0,"height":0,"format":"<style id='custom-styles'>\n    .nr-dashboard-theme .nr-dashboard-textinput input {\n        border-color: #eeeeee;\n       \n        border-bottom-width: 1px;\n        font-family: inherit;\n        padding-left: 8px;\n        font-size: 25px;\n        height: 50px;\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","x":520,"y":60,"wires":[[]]},{"id":"b3da792.8794888","type":"link out","z":"3bff0d6f.504db2","name":"","links":["9bca4b50.ce3c48"],"x":1115,"y":1320,"wires":[]},{"id":"9bca4b50.ce3c48","type":"link in","z":"3bff0d6f.504db2","name":"","links":["b3da792.8794888"],"x":75,"y":200,"wires":[["88ccc91.f9c5238","84cc5049.39945"]]},{"id":"3423542b.75ab1c","type":"ui_button","z":"3bff0d6f.504db2","name":"Refresh","group":"e461d128.b1148","order":5,"width":4,"height":1,"passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":60,"y":120,"wires":[["88ccc91.f9c5238"]]},{"id":"aab2db13.8b0238","type":"delay","z":"3bff0d6f.504db2","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1020,"y":1360,"wires":[["b3da792.8794888"]]},{"id":"4fef8f08.5f558","type":"ui_button","z":"3bff0d6f.504db2","name":"Reset Actual 1","group":"aa026c7a.6b345","order":9,"width":1,"height":1,"passthru":false,"label":"= 0","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":140,"y":1760,"wires":[["1a13a494.6a967b"]]},{"id":"1a13a494.6a967b","type":"change","z":"3bff0d6f.504db2","name":"Reset Actual  1 - LB5 - LW18 ->  D101=D111=0 ","rules":[{"t":"set","p":"value","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"address","pt":"msg","to":"5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1760,"wires":[["51400a57.e6f424"]]},{"id":"f379994d.17b6a8","type":"change","z":"3bff0d6f.504db2","name":"Reset Actual  2  - LB6 - LW19 <->D101=D111=0 ","rules":[{"t":"set","p":"value","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"address","pt":"msg","to":"6","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1800,"wires":[["51400a57.e6f424"]]},{"id":"a2576296.d8002","type":"change","z":"3bff0d6f.504db2","name":"Reset Actual  3  - LB7 -LW120 <->D101=D111=0 ","rules":[{"t":"set","p":"value","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"address","pt":"msg","to":"7","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1840,"wires":[["51400a57.e6f424"]]},{"id":"abfb95f5.fe9188","type":"change","z":"3bff0d6f.504db2","name":"Reset Actual  4  - LB8 - LW21 <->D104=D114=0 ","rules":[{"t":"set","p":"value","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"address","pt":"msg","to":"8","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1880,"wires":[["51400a57.e6f424"]]},{"id":"dbb7cba4.5ab8a8","type":"ui_button","z":"3bff0d6f.504db2","name":"Reset Actual 2","group":"8b4ce97d.3c8be8","order":9,"width":1,"height":1,"passthru":false,"label":"= 0","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":140,"y":1800,"wires":[["f379994d.17b6a8"]]},{"id":"97c8f1cf.71662","type":"ui_button","z":"3bff0d6f.504db2","name":"Reset Actual 3","group":"a95b1a48.505458","order":9,"width":1,"height":1,"passthru":false,"label":"= 0","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":140,"y":1840,"wires":[["a2576296.d8002"]]},{"id":"9ad031ad.c38b8","type":"ui_button","z":"3bff0d6f.504db2","name":"Reset Actual 4","group":"320a7c21.0931f4","order":9,"width":1,"height":1,"passthru":false,"label":"= 0","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":140,"y":1880,"wires":[["abfb95f5.fe9188"]]},{"id":"c7e34c50.856ad","type":"comment","z":"3bff0d6f.504db2","name":"Reset Button","info":"","x":140,"y":1540,"wires":[]},{"id":"b0d528a.c7670d8","type":"comment","z":"3bff0d6f.504db2","name":"Set Button","info":"","x":100,"y":1120,"wires":[]},{"id":"c1a93a59.055df8","type":"comment","z":"3bff0d6f.504db2","name":"Set InputBox Size","info":"","x":510,"y":20,"wires":[]},{"id":"e461d128.b1148","type":"ui_group","name":"Total","tab":"4a1d491e.7705f8","order":1,"disp":true,"width":4,"collapse":true},{"id":"aa026c7a.6b345","type":"ui_group","name":"Machine 1","tab":"4a1d491e.7705f8","order":3,"disp":true,"width":4,"collapse":false},{"id":"8b4ce97d.3c8be8","type":"ui_group","name":"Machine 2","tab":"4a1d491e.7705f8","order":4,"disp":true,"width":4,"collapse":false},{"id":"a95b1a48.505458","type":"ui_group","name":"Machine 3","tab":"4a1d491e.7705f8","order":5,"disp":true,"width":4,"collapse":false},{"id":"320a7c21.0931f4","type":"ui_group","name":"Machine 4","tab":"4a1d491e.7705f8","order":6,"disp":true,"width":4,"collapse":false},{"id":"3eed7ec8.d68462","type":"modbus-client","name":"HMI TCP Slave default 192.168.10.100","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.10.100","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"6cf82e37.9a1db","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"IotDB","tz":"","charset":""},{"id":"ce669a01.bd8bb8","type":"ui_group","name":"Total Graph","tab":"4a1d491e.7705f8","order":2,"disp":true,"width":8,"collapse":false},{"id":"4a1d491e.7705f8","type":"ui_tab","name":"STW DashBoard","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
