Device_Programs/Node-Red/Three_Modules.json
[{"id":"6388d3d6.a494dc","type":"tab","label":"Utcc Food FX3U Counter 3LED TH WTR10-E","disabled":false,"info":""},{"id":"dbaee792.921968","type":"inject","z":"6388d3d6.a494dc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":340,"wires":[["cde88274.8b823"]]},{"id":"2c6aab55.5bb514","type":"debug","z":"6388d3d6.a494dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":420,"wires":[]},{"id":"cde88274.8b823","type":"function","z":"6388d3d6.a494dc","name":"Read 13 Value From HTM slave","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1,\n    'address': 0 , \n    'quantity': 16 \n     \n};  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":340,"wires":[["878bb819.20e1d8","8dd6bd9a.69ebd"]]},{"id":"878bb819.20e1d8","type":"modbus-flex-getter","z":"6388d3d6.a494dc","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"3eed7ec8.d68462","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":290,"y":460,"wires":[["ffd37cb8.08c7","2c6aab55.5bb514","541445c4.23b36c","6b80146c.01336c","f60dc482.4af6f8","5ec88ac3.5c19c4","238b556.f9260aa","273987a7.bd3828"],[]]},{"id":"ffd37cb8.08c7","type":"modbus-response","z":"6388d3d6.a494dc","name":"","registerShowMax":20,"x":610,"y":480,"wires":[]},{"id":"4a7c8064.fe752","type":"comment","z":"6388d3d6.a494dc","name":"First Set HTM IP in the same PC lan IP","info":"\n","x":210,"y":520,"wires":[]},{"id":"541445c4.23b36c","type":"change","z":"6388d3d6.a494dc","name":"Get Temp at LW11 (/10)","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[11]/10","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"T1","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"Green","tot":"str"},{"t":"set","p":"iot","pt":"msg","to":"HMI","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1080,"wires":[["4c1138a5.a7d308","12275a15.322f66","7eb53dd8.df6a44","7a3eac14.239904","c23d5648.071cb8"]]},{"id":"4c1138a5.a7d308","type":"ui_gauge","z":"6388d3d6.a494dc","name":"","group":"9cf62672.509618","order":3,"width":3,"height":3,"gtype":"gage","title":"Temp gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":950,"y":1120,"wires":[]},{"id":"12275a15.322f66","type":"debug","z":"6388d3d6.a494dc","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":1040,"wires":[]},{"id":"6b80146c.01336c","type":"change","z":"6388d3d6.a494dc","name":"Get Humi at LW12  (/10)","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[12]/10","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"H1","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"Red","tot":"str"},{"t":"set","p":"iot","pt":"msg","to":"HMI","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":980,"wires":[["f91a6f01.8120f","c998209c.a4caf","7a3eac14.239904"]]},{"id":"f91a6f01.8120f","type":"ui_gauge","z":"6388d3d6.a494dc","name":"","group":"9cf62672.509618","order":7,"width":3,"height":2,"gtype":"gage","title":"Humi gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970,"y":920,"wires":[]},{"id":"7eb53dd8.df6a44","type":"ui_chart","z":"6388d3d6.a494dc","name":"","group":"9cf62672.509618","order":4,"width":9,"height":5,"label":"Temp chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":950,"y":1180,"wires":[[]]},{"id":"c998209c.a4caf","type":"ui_chart","z":"6388d3d6.a494dc","name":"","group":"9cf62672.509618","order":8,"width":9,"height":6,"label":"Humi chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":950,"y":960,"wires":[[]]},{"id":"f60dc482.4af6f8","type":"change","z":"6388d3d6.a494dc","name":"Get Target at 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"Target","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"num"},{"t":"set","p":"iot","pt":"msg","to":"HMI","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":560,"wires":[["234aa300.521b7e","2dbd6e83.903dd2","bcedb708.88afd8"]]},{"id":"5ec88ac3.5c19c4","type":"change","z":"6388d3d6.a494dc","name":"Get Actual at 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[2]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"Actual","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"black","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"str"},{"t":"set","p":"iot","pt":"msg","to":"HMI","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":600,"wires":[["d08f89e4.2a8e68","2dbd6e83.903dd2","bcedb708.88afd8"]]},{"id":"238b556.f9260aa","type":"change","z":"6388d3d6.a494dc","name":"Get Diff Target at 3","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[3]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"DiffTaget","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"str"},{"t":"set","p":"iot","pt":"msg","to":"HMI","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":640,"wires":[["bc6c2c9f.96907"]]},{"id":"234aa300.521b7e","type":"ui_text","z":"6388d3d6.a494dc","group":"42c371a8.da2f5","order":2,"width":0,"height":0,"name":"","label":"Target","format":"<font color= {{msg.color}} size={{msg.size}} > {{msg.payload}} </font>","layout":"row-spread","x":910,"y":560,"wires":[]},{"id":"d08f89e4.2a8e68","type":"ui_text","z":"6388d3d6.a494dc","group":"42c371a8.da2f5","order":3,"width":0,"height":0,"name":"","label":"Actual","format":"<font color= {{msg.color}} size={{msg.size}} > {{msg.payload}} </font>","layout":"row-spread","x":910,"y":600,"wires":[]},{"id":"bc6c2c9f.96907","type":"ui_text","z":"6388d3d6.a494dc","group":"42c371a8.da2f5","order":4,"width":0,"height":0,"name":"","label":"Diff","format":"<font color= {{msg.color}} size={{msg.size}} > {{msg.payload}} </font>","layout":"row-spread","x":910,"y":640,"wires":[]},{"id":"2dbd6e83.903dd2","type":"ui_chart","z":"6388d3d6.a494dc","name":"","group":"42c371a8.da2f5","order":5,"width":0,"height":0,"label":"Target and Actual chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1eb33a","#0d0d0d","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":960,"y":500,"wires":[[]]},{"id":"3c945b5b.4e0ee4","type":"inject","z":"6388d3d6.a494dc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Temp","payload":"31.00","payloadType":"num","x":490,"y":1500,"wires":[[]]},{"id":"76fe8ad0.387084","type":"debug","z":"6388d3d6.a494dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":1500,"wires":[]},{"id":"10302cb5.a57fe3","type":"ui_button","z":"6388d3d6.a494dc","name":"","group":"42c371a8.da2f5","order":1,"width":0,"height":0,"passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":80,"y":400,"wires":[["cde88274.8b823"]]},{"id":"e89bf91c.c23c08","type":"ui_text_input","z":"6388d3d6.a494dc","name":"","label":"Input New Target","tooltip":"","group":"42c371a8.da2f5","order":6,"width":4,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":430,"y":80,"wires":[["edccc8e9.920fb8"]]},{"id":"71e89313.148d0c","type":"modbus-flex-write","z":"6388d3d6.a494dc","name":"","showStatusActivities":false,"showErrors":false,"server":"3eed7ec8.d68462","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1090,"y":80,"wires":[["e0152cf8.825d2"],[]]},{"id":"edccc8e9.920fb8","type":"function","z":"6388d3d6.a494dc","name":"Set Target  address 1  To HTM slave","func":"msg.payload = { \n    'fc': 6, \n    'unitid': 1,\n    'address': 9 , \n    'quantity': 1 ,\n    'value': msg.payload\n};  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":80,"wires":[["71e89313.148d0c","8dd6bd9a.69ebd"]]},{"id":"e0152cf8.825d2","type":"modbus-response","z":"6388d3d6.a494dc","name":"","registerShowMax":20,"x":1310,"y":80,"wires":[]},{"id":"a9b7e149.324f3","type":"inject","z":"6388d3d6.a494dc","name":"Test 66","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"66","payloadType":"num","x":430,"y":120,"wires":[["edccc8e9.920fb8"]]},{"id":"dff27d2c.c1364","type":"ui_button","z":"6388d3d6.a494dc","name":"","group":"42c371a8.da2f5","order":7,"width":3,"height":1,"passthru":false,"label":"Set Target","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"num","topic":"topic","topicType":"msg","x":410,"y":180,"wires":[["c37e636a.b409d"]]},{"id":"c37e636a.b409d","type":"function","z":"6388d3d6.a494dc","name":"Set LB9 On address 9  To HTM slave","func":"msg.payload = { \n    'fc': 5, \n    'unitid': 1,\n    'address': 9 , \n    'quantity': 1 ,\n    'value': 1\n};  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":160,"wires":[["71e89313.148d0c","41380ed.f39a6f","8dd6bd9a.69ebd"]]},{"id":"c1e0022.18022","type":"comment","z":"6388d3d6.a494dc","name":"Refresh","info":"\n","x":530,"y":300,"wires":[]},{"id":"be93aee4.28c08","type":"comment","z":"6388d3d6.a494dc","name":"First Set HTM IP in the same PC lan IP","info":"\n","x":170,"y":20,"wires":[]},{"id":"ffbed29a.668b9","type":"comment","z":"6388d3d6.a494dc","name":"Set repead time default 60","info":"\n","x":110,"y":280,"wires":[]},{"id":"8dd6bd9a.69ebd","type":"debug","z":"6388d3d6.a494dc","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":160,"wires":[]},{"id":"41380ed.f39a6f","type":"delay","z":"6388d3d6.a494dc","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":240,"wires":[["cde88274.8b823"]]},{"id":"43d95b94.f46aa4","type":"ui_text","z":"6388d3d6.a494dc","group":"afae81ee.273b8","order":1,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"<font color= {{msg.color}} size={{msg.size}} > {{msg.topic}} </font>","layout":"row-spread","x":950,"y":820,"wires":[]},{"id":"6dc8c454.96b0ec","type":"ui_chart","z":"6388d3d6.a494dc","name":"","group":"afae81ee.273b8","order":2,"width":0,"height":0,"label":"Status chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":970,"y":860,"wires":[[]]},{"id":"1e38ba61.342ca6","type":"change","z":"6388d3d6.a494dc","name":"Chang topic  (Status)","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"msg"},{"t":"change","p":"topic","pt":"msg","from":"100","fromt":"num","to":"RUN","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"50","fromt":"num","to":"STOP","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"25","fromt":"num","to":"FAIL","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"0","fromt":"num","to":"SETUP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":840,"wires":[["6dc8c454.96b0ec","d5435686.0dc168","43d95b94.f46aa4","7e0d7e88.d306b"]]},{"id":"7a3eac14.239904","type":"function","z":"6388d3d6.a494dc","name":"INSERT Into iotdata","func":"var sql = \"INSERT INTO iotdata (metric,value,iot) VALUES (?,?,?)\";\n\n    var metric = msg.topic;\n    var value = msg.payload; \n    msg.payload = [ metric,value,msg.iot];\n\nmsg.topic = sql;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":1040,"wires":[["ed8c3313.26a2c","9f833de0.81875"]]},{"id":"ed8c3313.26a2c","type":"debug","z":"6388d3d6.a494dc","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":820,"wires":[]},{"id":"d5435686.0dc168","type":"function","z":"6388d3d6.a494dc","name":"INSERT Into iotstatus","func":"var sql = \"INSERT INTO iotstatus (metric,value,iot) VALUES (?,?,?)\";\n\n    var metric = msg.topic;\n    var value = msg.payload; \n    \n    msg.payload = [ metric,value,msg.iot];\n    msg.topic = sql;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":920,"wires":[["ed8c3313.26a2c","9f833de0.81875"]]},{"id":"bcedb708.88afd8","type":"function","z":"6388d3d6.a494dc","name":"INSERT Into iotcounter","func":"var sql = \"INSERT INTO iotcounter (metric,value,iot) VALUES (?,?,?)\";\n\n    var metric = msg.topic;\n    var value = msg.payload; \n    \n    msg.payload = [ metric,value,msg.iot];\n \n    msg.topic = sql;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":720,"wires":[["ed8c3313.26a2c","9f833de0.81875"]]},{"id":"48a67242.c8a7ec","type":"inject","z":"6388d3d6.a494dc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"50","payloadType":"num","x":510,"y":880,"wires":[["1e38ba61.342ca6"]]},{"id":"273987a7.bd3828","type":"change","z":"6388d3d6.a494dc","name":"Get Status LW15","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[15]","tot":"jsonata"},{"t":"set","p":"color","pt":"msg","to":"black","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":740,"wires":[["1e38ba61.342ca6"]]},{"id":"a985258c.8c4a28","type":"function","z":"6388d3d6.a494dc","name":"INSERT Into IotAlarm","func":"    var sql = \"INSERT INTO iotalarm (metric,value,iot) VALUES (?,?,?)\";\n    \n    var metric = msg.topic;\n    var value = msg.payload; \n    \n    msg.payload = [ metric,value,msg.iot];\n    msg.topic = sql;\n    \n\n    return msg;    \n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":1260,"wires":[["ed8c3313.26a2c","9f833de0.81875"]]},{"id":"1b81092b.6057d7","type":"inject","z":"6388d3d6.a494dc","name":"T1  28.5","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"T1","payload":"28.5","payloadType":"num","x":590,"y":1280,"wires":[["7a3eac14.239904","c23d5648.071cb8"]]},{"id":"4e5237f9.5e3278","type":"debug","z":"6388d3d6.a494dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":1200,"wires":[]},{"id":"304576cb.fc804a","type":"inject","z":"6388d3d6.a494dc","name":"T1  28.5","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"T1","payload":"31","payloadType":"num","x":610,"y":1320,"wires":[["c23d5648.071cb8"]]},{"id":"d19cfd5f.4569d","type":"comment","z":"6388d3d6.a494dc","name":"Fuction IF for alarm","info":"","x":930,"y":1220,"wires":[]},{"id":"c23d5648.071cb8","type":"function","z":"6388d3d6.a494dc","name":"if (T > 30)  ","func":"if (msg.payload > 30 ) {\n   msg.topic = msg.topic + \" (>30)\";\n    return msg;    \n    \n} else {\n    \n    return null;    \n    \n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":1260,"wires":[["a985258c.8c4a28","4e5237f9.5e3278"]]},{"id":"2bbb1871.09b9f8","type":"ui_text","z":"6388d3d6.a494dc","group":"9cf62672.509618","order":2,"width":9,"height":1,"name":"","label":"<font color= red size=3 > Last ({{msg.topic}}) {{msg.myymd}} {{msg.mytimes}} </font>","format":"<font color= red size=5 > {{msg.payload}} </font>","layout":"row-spread","x":1270,"y":1320,"wires":[]},{"id":"119ef1f1.1ff71e","type":"inject","z":"6388d3d6.a494dc","name":">30   31","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":">30","payload":"31","payloadType":"num","x":910,"y":1340,"wires":[[]]},{"id":"7e0d7e88.d306b","type":"debug","z":"6388d3d6.a494dc","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":780,"wires":[]},{"id":"9f833de0.81875","type":"mysql","z":"6388d3d6.a494dc","mydb":"6cf82e37.9a1db","name":"","x":1530,"y":960,"wires":[[]]},{"id":"b3d15c21.16698","type":"tab","label":"DTK Control Dashboard","disabled":false,"info":""},{"id":"42817946.dc1418","type":"debug","z":"b3d15c21.16698","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":120,"wires":[]},{"id":"63b9477e.132148","type":"ui_button","z":"b3d15c21.16698","name":"","group":"39dc80df.a9cf7","order":6,"width":3,"height":1,"passthru":false,"label":"Set Point","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":360,"y":120,"wires":[["6142fb4a.c60114"]]},{"id":"393a0e30.cb0702","type":"ui_text_input","z":"b3d15c21.16698","name":"","label":"","tooltip":"","group":"39dc80df.a9cf7","order":5,"width":3,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":430,"y":60,"wires":[["42817946.dc1418","cfe293fb.0675c"]]},{"id":"bb3a8a3.55e5978","type":"inject","z":"b3d15c21.16698","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":120,"wires":[["63b9477e.132148"]]},{"id":"cfe293fb.0675c","type":"change","z":"b3d15c21.16698","name":"set setpoint","rules":[{"t":"set","p":"setpoint","pt":"flow","to":"payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":60,"wires":[[]]},{"id":"6142fb4a.c60114","type":"change","z":"b3d15c21.16698","name":"get setpoint","rules":[{"t":"set","p":"payload","pt":"msg","to":"setpoint","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":120,"wires":[["42817946.dc1418","444a10f.60d20f","d6170a62.3302f8"]]},{"id":"e2349099.472a3","type":"ui_text","z":"b3d15c21.16698","group":"39dc80df.a9cf7","order":1,"width":0,"height":0,"name":"","label":"Present value -1000H","format":"<font color= red size=5 > {{msg.payload}} </font>","layout":"row-spread","x":840,"y":320,"wires":[]},{"id":"444a10f.60d20f","type":"ui_text","z":"b3d15c21.16698","group":"39dc80df.a9cf7","order":2,"width":0,"height":0,"name":"","label":"Set Point-1001H","format":"<font color= green size=5 > {{msg.payload}} </font>","layout":"row-spread","x":820,"y":460,"wires":[]},{"id":"719cd930.679a28","type":"inject","z":"b3d15c21.16698","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":480,"y":320,"wires":[["e2349099.472a3"]]},{"id":"df3c3d55.e9c2c","type":"inject","z":"b3d15c21.16698","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":480,"y":460,"wires":[["444a10f.60d20f"]]},{"id":"471d57d4.34ac38","type":"modbus-read","z":"b3d15c21.16698","name":"Read Curent - 1000H / Set Point -1001H","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"4096","quantity":"2","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"c0b03638.614568","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":200,"y":260,"wires":[["eedd08ad.5d8e58","ff6636ce.8eba58","b12538c.c530fc8"],[]]},{"id":"ff6636ce.8eba58","type":"change","z":"b3d15c21.16698","name":"payload[0] / 10 -  Present Value  - flow.pv","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]/10","tot":"jsonata"},{"t":"set","p":"iot","pt":"msg","to":"DTK","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"pv1","tot":"str"},{"t":"set","p":"pv","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":360,"wires":[["e2349099.472a3","6532c9e9.68c878"]]},{"id":"eedd08ad.5d8e58","type":"modbus-response","z":"b3d15c21.16698","name":"","registerShowMax":20,"x":510,"y":240,"wires":[]},{"id":"b12538c.c530fc8","type":"change","z":"b3d15c21.16698","name":"payload[1] / 10 -   Set Point - flow.sv","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1]/10","tot":"jsonata"},{"t":"set","p":"iot","pt":"msg","to":"DTK","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"sv1","tot":"str"},{"t":"set","p":"sv","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":400,"wires":[["444a10f.60d20f"]]},{"id":"ec01a75d.b30118","type":"modbus-write","z":"b3d15c21.16698","name":"write Set Point","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"4097","quantity":"1","server":"c0b03638.614568","emptyMsgOnFail":false,"keepMsgProperties":false,"x":940,"y":180,"wires":[[],[]]},{"id":"d6170a62.3302f8","type":"change","z":"b3d15c21.16698","name":"payload*10","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload*10","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":160,"wires":[["ec01a75d.b30118"]]},{"id":"862b9d78.f42f5","type":"modbus-read","z":"b3d15c21.16698","name":"Read Output 1012H","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"4114","quantity":"8","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"c0b03638.614568","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":170,"y":520,"wires":[["9e74a59c.f1c0c8","a37fc0ee.f947f","8a56c331.2685c"],[]]},{"id":"9e74a59c.f1c0c8","type":"change","z":"b3d15c21.16698","name":"payload[0]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":580,"wires":[["4a456ca4.ea6b24"]]},{"id":"4a456ca4.ea6b24","type":"ui_text","z":"b3d15c21.16698","group":"39dc80df.a9cf7","order":4,"width":0,"height":0,"name":"","label":"Output 1 - 1012H","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":580,"wires":[]},{"id":"a37fc0ee.f947f","type":"modbus-response","z":"b3d15c21.16698","name":"","registerShowMax":20,"x":450,"y":500,"wires":[]},{"id":"b17164b0.e60728","type":"ui_text","z":"b3d15c21.16698","group":"39dc80df.a9cf7","order":9,"width":0,"height":0,"name":"","label":"Status 1-1018H","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":700,"wires":[]},{"id":"8a56c331.2685c","type":"change","z":"b3d15c21.16698","name":"payload[6]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[6]","tot":"jsonata"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"STOP","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"RUN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":700,"wires":[["b17164b0.e60728"]]},{"id":"38643c07.4ea824","type":"ui_button","z":"b3d15c21.16698","name":"","group":"39dc80df.a9cf7","order":7,"width":3,"height":1,"passthru":false,"label":"RUN","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":210,"y":740,"wires":[["e5257d52.7ba81","8a56c331.2685c"]]},{"id":"7471018d.12de5","type":"ui_button","z":"b3d15c21.16698","name":"","group":"39dc80df.a9cf7","order":8,"width":3,"height":1,"passthru":false,"label":"STOP","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":210,"y":780,"wires":[["e5257d52.7ba81","8a56c331.2685c"]]},{"id":"e5257d52.7ba81","type":"modbus-write","z":"b3d15c21.16698","name":"Set STOP/RUN - 1018H","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"4120","quantity":"1","server":"c0b03638.614568","emptyMsgOnFail":false,"keepMsgProperties":false,"x":450,"y":800,"wires":[[],[]]},{"id":"6532c9e9.68c878","type":"ui_chart","z":"b3d15c21.16698","name":"","group":"39dc80df.a9cf7","order":3,"width":0,"height":0,"label":"PV chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#b31e2d","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":800,"y":380,"wires":[[]]},{"id":"fca8dcf9.81a7c","type":"function","z":"b3d15c21.16698","name":"INSERT Into iotdata","func":"var sql = \"INSERT INTO iotdata (metric,value,iot) VALUES (?,?,?)\";\n\n    var metric = msg.topic;\n    var value = msg.payload; \n    \n    msg.payload = [ metric,value,msg.iot];\n \n    msg.topic = sql;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":1020,"wires":[["2b74ef66.b1f81"]]},{"id":"2b74ef66.b1f81","type":"mysql","z":"b3d15c21.16698","mydb":"6cf82e37.9a1db","name":"","x":890,"y":1020,"wires":[[]]},{"id":"7c690557.ee514c","type":"inject","z":"b3d15c21.16698","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":920,"wires":[["6ecd6274.327a3c","d521a78f.367218"]]},{"id":"6ecd6274.327a3c","type":"change","z":"b3d15c21.16698","name":"Save Pesetn Value (pv)","rules":[{"t":"set","p":"payload","pt":"msg","to":"pv","tot":"flow"},{"t":"set","p":"iot","pt":"msg","to":"DTK","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"pv1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":960,"wires":[["fca8dcf9.81a7c"]]},{"id":"d521a78f.367218","type":"change","z":"b3d15c21.16698","name":"Save Set Point (sp)","rules":[{"t":"set","p":"payload","pt":"msg","to":"sv","tot":"flow"},{"t":"set","p":"iot","pt":"msg","to":"DTK","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"sv1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1040,"wires":[["fca8dcf9.81a7c"]]},{"id":"304b0918.1ed746","type":"comment","z":"b3d15c21.16698","name":"Set Repeat Timer to save data to IotData table","info":"","x":290,"y":880,"wires":[]},{"id":"26dcad88.460692","type":"comment","z":"b3d15c21.16698","name":"Set Modbus TCP/RTC and Repeat timer defual 60 s","info":"","x":210,"y":200,"wires":[]},{"id":"28fa2e7d.b20922","type":"comment","z":"b3d15c21.16698","name":"Set - Set Point Value","info":"","x":250,"y":60,"wires":[]},{"id":"c58b8997.948f58","type":"comment","z":"b3d15c21.16698","name":"Set Run / Stop","info":"","x":420,"y":760,"wires":[]},{"id":"9d962a25.8e9128","type":"comment","z":"b3d15c21.16698","name":"Temperature PID Control Delta model : DTK4848V12  - Modbus RTU rs485","info":"","x":290,"y":20,"wires":[]},{"id":"e57c226a.660f1","type":"tab","label":"HF2211 TH Dashbaord","disabled":false,"info":""},{"id":"e9ec3409.51de98","type":"inject","z":"e57c226a.660f1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[254,550]","payloadType":"jsonata","x":150,"y":360,"wires":[["d32ba2d6.f9a88","f875fa05.9753a8"]]},{"id":"51a1a0fc.3a753","type":"ui_gauge","z":"e57c226a.660f1","name":"","group":"2f40bbad.29a2d4","order":7,"width":3,"height":3,"gtype":"gage","title":"H2 gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":240,"wires":[]},{"id":"d32ba2d6.f9a88","type":"change","z":"e57c226a.660f1","name":"payload[0] / 10 -   H2  - Iot : TH","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]/10","tot":"jsonata"},{"t":"set","p":"iot","pt":"msg","to":"TH","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"H2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":240,"wires":[["51a1a0fc.3a753","a1b5ace1.12494","be5c33cb.5b7f4"]]},{"id":"2999c156.fd6a4e","type":"ui_gauge","z":"e57c226a.660f1","name":"","group":"2f40bbad.29a2d4","order":1,"width":3,"height":3,"gtype":"gage","title":"T2 gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":540,"wires":[]},{"id":"f875fa05.9753a8","type":"change","z":"e57c226a.660f1","name":"payload[1] / 10 - T2 - Iot : TH","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1]/10","tot":"jsonata"},{"t":"set","p":"iot","pt":"msg","to":"TH","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"T2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":540,"wires":[["2999c156.fd6a4e","fa655f47.4fe57","27325875.46e358","ce747494.6f8da8"]]},{"id":"a1b5ace1.12494","type":"ui_chart","z":"e57c226a.660f1","name":"","group":"2f40bbad.29a2d4","order":8,"width":10,"height":6,"label":"H2 chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":740,"y":280,"wires":[[]]},{"id":"fa655f47.4fe57","type":"ui_chart","z":"e57c226a.660f1","name":"","group":"2f40bbad.29a2d4","order":2,"width":10,"height":5,"label":"T2 chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":720,"y":580,"wires":[[]]},{"id":"be5c33cb.5b7f4","type":"function","z":"e57c226a.660f1","name":"INSERT Into iotdat","func":"var sql = \"INSERT INTO iotdata (metric,value,iot) VALUES (?,?,?)\";\n\n    var metric = msg.topic;\n    var value = msg.payload; \n    \n    msg.payload = [ metric,value,msg.iot];\n \n    msg.topic = sql;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":320,"wires":[["a3596fcf.1ce97"]]},{"id":"a3596fcf.1ce97","type":"mysql","z":"e57c226a.660f1","mydb":"6cf82e37.9a1db","name":"","x":1070,"y":540,"wires":[[]]},{"id":"27325875.46e358","type":"function","z":"e57c226a.660f1","name":"INSERT Into iotdata","func":"var sql = \"INSERT INTO iotdata (metric,value,iot) VALUES (?,?,?)\";\n\n    var metric = msg.topic;\n    var value = msg.payload; \n    \n    msg.payload = [ metric,value,msg.iot];\n \n    msg.topic = sql;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":640,"wires":[["a3596fcf.1ce97"]]},{"id":"ce747494.6f8da8","type":"function","z":"e57c226a.660f1","name":"if (T > 30)  ","func":"if (msg.payload > 25 ) {\n   msg.topic = msg.topic + \" (>30)\";\n    return msg;    \n    \n} else {\n    \n    return null;    \n    \n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":700,"wires":[["60c40113.a3eec","d596010f.6b487"]]},{"id":"60c40113.a3eec","type":"function","z":"e57c226a.660f1","name":"INSERT Into IotAlarm","func":"    var sql = \"INSERT INTO iotalarm (metric,value,iot) VALUES (?,?,?)\";\n    \n    var metric = msg.topic;\n    var value = msg.payload; \n    \n    msg.payload = [ metric,value,msg.iot];\n    msg.topic = sql;\n    \n\n    return msg;    \n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":740,"wires":[["a3596fcf.1ce97"]]},{"id":"7d68b53.c57c94c","type":"comment","z":"e57c226a.660f1","name":"Set Repeat Timer","info":"","x":240,"y":200,"wires":[]},{"id":"6183ea0d.c12394","type":"modbus-read","z":"e57c226a.660f1","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"2","rate":"60","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"137bbffa.030f7","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":230,"y":140,"wires":[["7c198e35.1d9f2","34e82e53.afa142","d32ba2d6.f9a88","f875fa05.9753a8"],[]]},{"id":"7c198e35.1d9f2","type":"modbus-response","z":"e57c226a.660f1","name":"","registerShowMax":20,"x":570,"y":160,"wires":[]},{"id":"34e82e53.afa142","type":"debug","z":"e57c226a.660f1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":100,"wires":[]},{"id":"a4d29dd8.a160f","type":"ui_text","z":"e57c226a.660f1","group":"2f40bbad.29a2d4","order":5,"width":9,"height":1,"name":"","label":"<font color= red size=3 > Last ({{msg.topic}}) {{msg.myymd}} {{msg.mytimes}} </font>","format":"<font color= red size=5 > {{msg.payload}} </font>","layout":"row-spread","x":930,"y":820,"wires":[]},{"id":"f6e4dacd.c55e08","type":"inject","z":"e57c226a.660f1","name":">30   31","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":">30","payload":"31","payloadType":"num","x":550,"y":820,"wires":[["d596010f.6b487"]]},{"id":"d596010f.6b487","type":"simpletime","z":"e57c226a.660f1","name":"","mydate":false,"myymd":true,"myyear":false,"mymonth":false,"mymonthn":false,"mydom":false,"mydoy":false,"myday":false,"myhourpm":false,"myhour":false,"mytime":false,"mytimes":true,"myminute":false,"myminutes":false,"mysecond":false,"mymillis":false,"myepoch":false,"myrawdate":false,"mypm":false,"x":750,"y":820,"wires":[["a4d29dd8.a160f"]]},{"id":"ecce179f.8ced88","type":"comment","z":"e57c226a.660f1","name":"Set HF2211 TCP IP  Select Wifi HF_xx  default 10.10.100.254","info":"","x":240,"y":40,"wires":[]},{"id":"d40cbbda.d556f8","type":"comment","z":"e57c226a.660f1","name":"Set Repeat timer defaul 60 s","info":"","x":140,"y":100,"wires":[]},{"id":"3eed7ec8.d68462","type":"modbus-client","name":"HMI TCP Slave default 192.168.10.100","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.10.100","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"9cf62672.509618","type":"ui_group","name":"Temp Humi Group","tab":"d4df061a.b13c68","order":3,"disp":true,"width":12,"collapse":false},{"id":"42c371a8.da2f5","type":"ui_group","name":"Counter Group","tab":"d4df061a.b13c68","order":1,"disp":true,"width":7,"collapse":false},{"id":"afae81ee.273b8","type":"ui_group","name":"Status","tab":"d4df061a.b13c68","order":2,"disp":true,"width":"6","collapse":false},{"id":"6cf82e37.9a1db","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"IotDB","tz":"","charset":""},{"id":"39dc80df.a9cf7","type":"ui_group","name":"DTK4848V12","tab":"4f180ae6.f70944","order":1,"disp":true,"width":"6","collapse":false},{"id":"c0b03638.614568","type":"modbus-client","name":"rs485","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"COM7","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"2f40bbad.29a2d4","type":"ui_group","name":"Group T2  and  H2","tab":"5d800004.69b67","order":1,"disp":true,"width":"13","collapse":false},{"id":"137bbffa.030f7","type":"modbus-client","name":"IotHF2211","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.10.100.254","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"d4df061a.b13c68","type":"ui_tab","name":"HMI TCP Slave","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"4f180ae6.f70944","type":"ui_tab","name":"Iot Temp Control","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"5d800004.69b67","type":"ui_tab","name":"Iot Temp Humi","icon":"dashboard","order":3,"disabled":false,"hidden":false}]
