Device_Programs/Node-Red/Value Source 4 Cooling.json
[{"id":"41113009.befaf","type":"subflow","name":"MyTimer","info":"msg.delay --> delay setting \nmsg.OnMsg\n\noutput 1\n\noutput 2  Timer Counter Up\n","category":"","in":[{"x":60,"y":220,"wires":[{"id":"ed6766c0.3b3378"}]}],"out":[{"x":1140,"y":220,"wires":[{"id":"bb322651.40c8f8","port":0}]},{"x":1140,"y":320,"wires":[{"id":"c2ca14d4.e8dbc8","port":0}]}],"env":[{"name":"CloseTimer","type":"num","value":"5000"},{"name":"CloseTimerOnMsg","type":"str","value":"Open ..."}],"meta":{},"color":"#DDAA99"},{"id":"ed6766c0.3b3378","type":"change","z":"41113009.befaf","name":"Set Close Timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"Cooling...","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"str"},{"t":"set","p":"closstimestatus","pt":"msg","to":"Close Timer Running ...","tot":"str"},{"t":"set","p":"starttimestap","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":220,"wires":[["7e28f4be.dd96ec","c7d22e8e.defd4","310eb58a.c3343a"]]},{"id":"7e28f4be.dd96ec","type":"delay","z":"41113009.befaf","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":220,"wires":[["bb322651.40c8f8"]]},{"id":"bb322651.40c8f8","type":"change","z":"41113009.befaf","name":"Set Close Timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"${CloseTimerOnMsg)","tot":"str"},{"t":"set","p":"reset","pt":"msg","to":"","tot":"str"},{"t":"set","p":"closstimestatus","pt":"msg","to":"Timer On ..","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":220,"wires":[["310eb58a.c3343a"]]},{"id":"c7d22e8e.defd4","type":"debug","z":"41113009.befaf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":300,"wires":[]},{"id":"c2ca14d4.e8dbc8","type":"moment","z":"41113009.befaf","name":"","topic":"","input":"payload","inputType":"msg","inTz":"ETC/GMT","adjAmount":"0","adjType":"hours","adjDir":"add","format":"mm:ss","locale":"en_GB","output":"payload","outputType":"msg","outTz":"ETC/GMT","x":1020,"y":440,"wires":[[]]},{"id":"373efad5.d563b6","type":"function","z":"41113009.befaf","name":"","func":" \n\n\nvar timediff = 0;\ntimediff = (msg.payload - msg.starttimestap);\n\n\nmsg.payload = timediff ;\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":440,"wires":[["c2ca14d4.e8dbc8"]]},{"id":"310eb58a.c3343a","type":"trigger","z":"41113009.befaf","name":"","op1":"","op2":"","op1type":"date","op2type":"date","duration":"-1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":440,"y":440,"wires":[["5444bc4a.fa4214"]]},{"id":"5444bc4a.fa4214","type":"change","z":"41113009.befaf","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":440,"wires":[["373efad5.d563b6"]]},{"id":"d71338ba.7610c8","type":"tab","label":"Value Source Cooling ","disabled":false,"info":""},{"id":"413477a8.990818","type":"inject","z":"d71338ba.7610c8","name":"set Iot ","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"statechange","v":"","vt":"date"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"door1","payload":"door1","payloadType":"flow","x":120,"y":1180,"wires":[["de6bbaf.10f9048","9e993279.d8ff4","99a3d616.1e88d8","454fb285.a55aec"]]},{"id":"eba0132.2b504f","type":"ui_chart","z":"d71338ba.7610c8","name":"","group":"4fd70989.3c7fb8","order":9,"width":0,"height":0,"label":"Open/Close","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1250,"y":800,"wires":[[]]},{"id":"aaa1e8b.3df5918","type":"change","z":"d71338ba.7610c8","name":"flowdoor1-4 = 0","rules":[{"t":"set","p":"flowdoor1","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"flowdoor2","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"flowdoor3","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"flowdoor4","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":40,"wires":[[]]},{"id":"7520f8e2.eca9a8","type":"switch","z":"d71338ba.7610c8","name":"!= flowdoor1","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"flowdoor1","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":1180,"wires":[["6dd08025.46e2a"]]},{"id":"6dd08025.46e2a","type":"change","z":"d71338ba.7610c8","name":"flowdoor1 = door1","rules":[{"t":"set","p":"flowdoor1","pt":"flow","to":"door1","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1180,"wires":[["3d549c36.021074","75808725.039b78","eba0132.2b504f"]]},{"id":"9890f101.287a5","type":"inject","z":"d71338ba.7610c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":40,"wires":[["aaa1e8b.3df5918","c0424220.c44a2"]]},{"id":"661d2127.5437e","type":"switch","z":"d71338ba.7610c8","name":"Close = 1/ Open = 0","property":"flowdoor1","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":580,"y":2060,"wires":[["e5dcba36.bc4dd8"],["e0c3747e.2be4f8"]]},{"id":"e5dcba36.bc4dd8","type":"change","z":"d71338ba.7610c8","name":"Set Close Timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"Cooling...","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"str"},{"t":"set","p":"delay","pt":"msg","to":"$flowContext(\"closetimer1\")*$flowContext(\"timex\")","tot":"jsonata"},{"t":"set","p":"status","pt":"msg","to":"close","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":2040,"wires":[["4921f0d1.62c25","b334c1e8.d62a7"]]},{"id":"919f8025.2b165","type":"ui_text_input","z":"d71338ba.7610c8","name":"","label":"Close Time (mm)","tooltip":"","group":"4fd70989.3c7fb8","order":5,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":490,"y":1740,"wires":[["53817a50.317334"]]},{"id":"53817a50.317334","type":"change","z":"d71338ba.7610c8","name":"","rules":[{"t":"set","p":"closetimer1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1740,"wires":[[]]},{"id":"96b948a9.b8ee68","type":"ui_text_input","z":"d71338ba.7610c8","name":"","label":"Open Time (mm)","tooltip":"","group":"4fd70989.3c7fb8","order":6,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":490,"y":1780,"wires":[["497c0719.3f3278"]]},{"id":"497c0719.3f3278","type":"change","z":"d71338ba.7610c8","name":"","rules":[{"t":"set","p":"opentimer1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1780,"wires":[[]]},{"id":"e0c3747e.2be4f8","type":"change","z":"d71338ba.7610c8","name":"Set Open Timer","rules":[{"t":"set","p":"delay","pt":"msg","to":"$flowContext(\"opentimer1\")*$flowContext(\"timex\")","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"< Reload >","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"orange","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":2100,"wires":[["4921f0d1.62c25","9e742d45.f8561"]]},{"id":"989fe19e.17c7c","type":"inject","z":"d71338ba.7610c8","name":"","props":[{"p":"payload"},{"p":"topic","v":"","vt":"num"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"cooltime","payloadType":"flow","x":250,"y":1740,"wires":[["919f8025.2b165"]]},{"id":"4d0c806b.e9116","type":"inject","z":"d71338ba.7610c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"reloadtime","payloadType":"flow","x":260,"y":1780,"wires":[["96b948a9.b8ee68"]]},{"id":"5c77ed14.6d5484","type":"ui_button","z":"d71338ba.7610c8","name":"","group":"4fd70989.3c7fb8","order":2,"width":2,"height":1,"passthru":false,"label":"On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"On","payloadType":"str","topic":"topic","topicType":"msg","x":390,"y":1880,"wires":[["784842e.f83f6bc"]]},{"id":"784842e.f83f6bc","type":"change","z":"d71338ba.7610c8","name":"","rules":[{"t":"set","p":"onoff1","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"payload","tot":"msg"},{"t":"change","p":"color","pt":"msg","from":"On","fromt":"str","to":"red","tot":"str"},{"t":"change","p":"color","pt":"msg","from":"Off","fromt":"str","to":"blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1900,"wires":[["75d8b04e.6ba74","e9a48b77.15d368","9d99d558.655c48"]]},{"id":"54aca21f.6b210c","type":"ui_button","z":"d71338ba.7610c8","name":"","group":"4fd70989.3c7fb8","order":3,"width":2,"height":1,"passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Off","payloadType":"str","topic":"topic","topicType":"msg","x":390,"y":1920,"wires":[["784842e.f83f6bc","d01111da.008d4"]]},{"id":"75d8b04e.6ba74","type":"ui_text","z":"d71338ba.7610c8","group":"4fd70989.3c7fb8","order":1,"width":0,"height":0,"name":"","label":"On/Off Status","format":"<font color=={{msg.color}} size={{msg.size}} > {{msg.payload}} </font>","layout":"row-spread","x":860,"y":1900,"wires":[]},{"id":"4921f0d1.62c25","type":"ui_text","z":"d71338ba.7610c8","group":"4fd70989.3c7fb8","order":8,"width":0,"height":0,"name":"","label":"Working","format":"<font color=={{msg.color}} size={{msg.size}} > {{msg.payload}} </font>","layout":"row-spread","x":1120,"y":1940,"wires":[]},{"id":"d01111da.008d4","type":"change","z":"d71338ba.7610c8","name":"Reset  Timer","rules":[{"t":"set","p":"reset","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1980,"wires":[["4921f0d1.62c25","4801db7d.8fad54","61a1c06.7b77a4"]]},{"id":"4f23257b.00ef7c","type":"comment","z":"d71338ba.7610c8","name":"Machine 1","info":"","x":1420,"y":960,"wires":[]},{"id":"86f5e66e.99cd28","type":"modbus-read","z":"d71338ba.7610c8","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"Input","adr":"0","quantity":"4","rate":"2","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"bf07dbb7.6d6928","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":170,"y":580,"wires":[["5e75c24b.1d45dc","7c4c65bf.8c186c","91c2857.4221178","233561c1.6e36de","fdbdc468.d90998"],[]]},{"id":"fdbdc468.d90998","type":"change","z":"d71338ba.7610c8","name":"payload[0]","rules":[{"t":"set","p":"topic","pt":"msg","to":"door1","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"jsonata"},{"t":"set","p":"door1","pt":"flow","to":"payload?1:0","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":500,"wires":[["4d15e57a.38f20c"]]},{"id":"5e75c24b.1d45dc","type":"change","z":"d71338ba.7610c8","name":"payload[1]","rules":[{"t":"set","p":"topic","pt":"msg","to":"door2?1:0","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload[1] ","tot":"jsonata"},{"t":"set","p":"door2","pt":"flow","to":"payload?1:0","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":540,"wires":[["4d15e57a.38f20c"]]},{"id":"7c4c65bf.8c186c","type":"change","z":"d71338ba.7610c8","name":"payload[2]","rules":[{"t":"set","p":"topic","pt":"msg","to":"door3","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload[2]","tot":"jsonata"},{"t":"set","p":"door3","pt":"flow","to":"payload?1:0","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":580,"wires":[["4d15e57a.38f20c"]]},{"id":"91c2857.4221178","type":"change","z":"d71338ba.7610c8","name":"payload[3]","rules":[{"t":"set","p":"topic","pt":"msg","to":"door4","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload[3]","tot":"jsonata"},{"t":"set","p":"door4","pt":"flow","to":"payload?1:0","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":620,"wires":[["4d15e57a.38f20c"]]},{"id":"5124ce49.984d4","type":"inject","z":"d71338ba.7610c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[0,1,0,1]","payloadType":"jsonata","x":240,"y":460,"wires":[["fdbdc468.d90998","5e75c24b.1d45dc","7c4c65bf.8c186c","91c2857.4221178"]]},{"id":"b3acb1d7.754ad","type":"ui_text","z":"d71338ba.7610c8","group":"4fd70989.3c7fb8","order":4,"width":3,"height":1,"name":"","label":"Door 1","format":"<font color= {{msg.color}} size={{msg.size}} > {{msg.status}} </font>","layout":"row-spread","x":970,"y":500,"wires":[]},{"id":"4ee27cd.c764484","type":"ui_text","z":"d71338ba.7610c8","group":"bfd9b042.5d935","order":1,"width":0,"height":0,"name":"","label":"Door 2","format":"{{msg.status}}","layout":"row-spread","x":970,"y":540,"wires":[]},{"id":"1c4f7556.ff225b","type":"ui_text","z":"d71338ba.7610c8","group":"a2a99612.2a7968","order":1,"width":0,"height":0,"name":"","label":"Door 3","format":"{{msg.status}}","layout":"row-spread","x":970,"y":580,"wires":[]},{"id":"6d2792eb.a070ac","type":"ui_text","z":"d71338ba.7610c8","group":"f3f28ddd.1157a","order":1,"width":0,"height":0,"name":"","label":"Door 4","format":"{{msg.status}}","layout":"row-spread","x":970,"y":620,"wires":[]},{"id":"f5329d08.bf519","type":"inject","z":"d71338ba.7610c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"cooltime","payloadType":"flow","x":250,"y":1820,"wires":[["1fcefc9d.3eb9f3"]]},{"id":"364f2b5d.7e81e4","type":"comment","z":"d71338ba.7610c8","name":"Machine 1","info":"","x":100,"y":1660,"wires":[]},{"id":"233561c1.6e36de","type":"modbus-response","z":"d71338ba.7610c8","name":"","registerShowMax":20,"x":470,"y":660,"wires":[]},{"id":"730df8cd.7c63c8","type":"modbus-read","z":"d71338ba.7610c8","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"0","quantity":"1","rate":"15","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"bf07dbb7.6d6928","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":190,"y":360,"wires":[["a75f43ef.28868","2b8dbc00.9347f4"],[]]},{"id":"a75f43ef.28868","type":"modbus-response","z":"d71338ba.7610c8","name":"","registerShowMax":20,"x":530,"y":400,"wires":[]},{"id":"2b8dbc00.9347f4","type":"change","z":"d71338ba.7610c8","name":"Temp payload[0]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]/10","tot":"jsonata"},{"t":"set","p":"Temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":360,"wires":[["4c668d82.1c0154","a672eeb1.3496b"]]},{"id":"4c668d82.1c0154","type":"ui_chart","z":"d71338ba.7610c8","name":"","group":"fa0c73cf.25601","order":7,"width":10,"height":8,"label":"Temp ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":730,"y":380,"wires":[[]]},{"id":"1cf4757c.43926b","type":"switch","z":"d71338ba.7610c8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"door1","vt":"str"},{"t":"eq","v":"door2","vt":"str"},{"t":"eq","v":"door3","vt":"str"},{"t":"eq","v":"door4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":790,"y":560,"wires":[["b3acb1d7.754ad"],["4ee27cd.c764484"],["1c4f7556.ff225b"],["6d2792eb.a070ac"]]},{"id":"4d15e57a.38f20c","type":"change","z":"d71338ba.7610c8","name":"","rules":[{"t":"set","p":"status","pt":"msg","to":"payload?'Close':'Open'","tot":"jsonata"},{"t":"set","p":"color","pt":"msg","to":"payload?'yellow':'red'","tot":"jsonata"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload?1:0","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":560,"wires":[["1cf4757c.43926b"]]},{"id":"1fcefc9d.3eb9f3","type":"change","z":"d71338ba.7610c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Off","tot":"str"},{"t":"set","p":"onoffstatus","pt":"flow","to":"onoffstatus","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1820,"wires":[["784842e.f83f6bc"]]},{"id":"e9a48b77.15d368","type":"debug","z":"d71338ba.7610c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":1860,"wires":[]},{"id":"4801db7d.8fad54","type":"ui_text","z":"d71338ba.7610c8","group":"4fd70989.3c7fb8","order":7,"width":3,"height":1,"name":"","label":"Timer","format":"<font  size=5 > {{msg.payload}} </font>","layout":"row-spread","x":1230,"y":2040,"wires":[]},{"id":"f23b6ab6.44c5d8","type":"change","z":"d71338ba.7610c8","name":"","rules":[{"t":"set","p":"timex","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":160,"wires":[[]]},{"id":"ddc3589a.32b0b8","type":"inject","z":"d71338ba.7610c8","name":"","props":[{"p":"payload"},{"p":"topic","v":"","vt":"num"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"60000","payloadType":"num","x":190,"y":160,"wires":[["f23b6ab6.44c5d8"]]},{"id":"f3a4820b.e150a","type":"inject","z":"d71338ba.7610c8","name":"10 s payload = door1","props":[],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":180,"y":800,"wires":[["61385c83.4c5d74","523f567f.014618","b59beb0d.8454d8","f155ea2d.f0f358"]]},{"id":"4d1c412b.1dcc","type":"switch","z":"d71338ba.7610c8","name":"= flowdoor1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"flowdoor1","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":800,"wires":[["eba0132.2b504f","3d549c36.021074"]]},{"id":"1769c154.8b50af","type":"ui_text_input","z":"d71338ba.7610c8","name":"","label":"Close Time","tooltip":"","group":"fa0c73cf.25601","order":2,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":370,"y":200,"wires":[["cd31b59f.54d998"]]},{"id":"20c452b7.79947e","type":"inject","z":"d71338ba.7610c8","name":"","props":[{"p":"payload"},{"p":"topic","v":"","vt":"num"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":190,"y":200,"wires":[["1769c154.8b50af"]]},{"id":"487e4b35.748544","type":"ui_text_input","z":"d71338ba.7610c8","name":"","label":"Open Time","tooltip":"","group":"fa0c73cf.25601","order":3,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":370,"y":240,"wires":[["279a6f41.c32c4"]]},{"id":"4adefa45.7ed014","type":"inject","z":"d71338ba.7610c8","name":"","props":[{"p":"payload"},{"p":"topic","v":"","vt":"num"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"num","x":190,"y":240,"wires":[["487e4b35.748544"]]},{"id":"cd31b59f.54d998","type":"change","z":"d71338ba.7610c8","name":"","rules":[{"t":"set","p":"cooltime","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":200,"wires":[[]]},{"id":"279a6f41.c32c4","type":"change","z":"d71338ba.7610c8","name":"","rules":[{"t":"set","p":"reloadtime","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":240,"wires":[[]]},{"id":"d9522468.19c598","type":"ui_template","z":"d71338ba.7610c8","group":"e461d128.b1148","name":"","order":4,"width":0,"height":0,"format":"<style id='custom-styles'>\n    .nr-dashboard-theme .nr-dashboard-textinput input {\n        border-color: #eeeeee;\n       \n        border-bottom-width: 1px;\n        font-family: inherit;\n        padding-left: 8px;\n        font-size: 25px;\n        height: 50px;\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","x":780,"y":160,"wires":[[]]},{"id":"9fcb9e67.7406b","type":"modbus-write","z":"d71338ba.7610c8","name":"Set Off 0","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"0","quantity":"1","server":"bf07dbb7.6d6928","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1700,"y":2020,"wires":[[],[]]},{"id":"61d48b16.bcf5c4","type":"change","z":"d71338ba.7610c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"},{"t":"delete","p":"reset","pt":"msg"},{"t":"set","p":"delay","pt":"msg","to":"$flowContext(\"alarmtime\")*1000","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":2120,"wires":[["749b2d67.05bb44","9fcb9e67.7406b"]]},{"id":"a672eeb1.3496b","type":"ui_gauge","z":"d71338ba.7610c8","name":"","group":"fa0c73cf.25601","order":1,"width":4,"height":2,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"15","seg2":"50","x":730,"y":340,"wires":[]},{"id":"749b2d67.05bb44","type":"delay","z":"d71338ba.7610c8","name":"","pauseType":"delayv","timeout":"2","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1520,"y":2120,"wires":[["61a1c06.7b77a4"]]},{"id":"47650f2b.d1e61","type":"change","z":"d71338ba.7610c8","name":"","rules":[{"t":"set","p":"alarmtime","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":280,"wires":[[]]},{"id":"33587c02.1936c4","type":"ui_text_input","z":"d71338ba.7610c8","name":"","label":"alarm time (s)","tooltip":"","group":"fa0c73cf.25601","order":4,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":380,"y":280,"wires":[["47650f2b.d1e61"]]},{"id":"3782aa88.4844c6","type":"inject","z":"d71338ba.7610c8","name":"","props":[{"p":"payload"},{"p":"topic","v":"","vt":"num"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":190,"y":280,"wires":[["33587c02.1936c4"]]},{"id":"61a1c06.7b77a4","type":"change","z":"d71338ba.7610c8","name":"payload = 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1450,"y":2020,"wires":[["9fcb9e67.7406b"]]},{"id":"9d99d558.655c48","type":"function","z":"d71338ba.7610c8","name":"","func":"var onoff = flow.get('onoff1');\nnode.status({text:onoff});\nif (onoff == 'Off') { \n    return null;\n}\n \n    return msg;\n ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":2060,"wires":[["661d2127.5437e"]]},{"id":"406569dc.2dafc8","type":"function","z":"d71338ba.7610c8","name":"INSERT Into IotData","func":"var sql = \"INSERT INTO iotdata (metric,value,iot) VALUES (?,?,?)\";\n\n    var metric = msg.topic;\n    var value = msg.payload; \n    \n    msg.payload = [ metric,value,msg.iot];\n \n    msg.topic = sql;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":1060,"wires":[["9c233bad.b58408","e0b9c1f3.0176d"]]},{"id":"9c233bad.b58408","type":"mysql","z":"d71338ba.7610c8","d":true,"mydb":"6cf82e37.9a1db","name":"","x":1390,"y":1060,"wires":[[]]},{"id":"b334c1e8.d62a7","type":"subflow:41113009.befaf","z":"d71338ba.7610c8","name":"","x":1040,"y":2100,"wires":[["61d48b16.bcf5c4"],["4801db7d.8fad54"]]},{"id":"9e742d45.f8561","type":"subflow:41113009.befaf","z":"d71338ba.7610c8","name":"","x":1040,"y":2160,"wires":[["61d48b16.bcf5c4"],["4801db7d.8fad54"]]},{"id":"3ff2f670.6b0cba","type":"ui_chart","z":"d71338ba.7610c8","name":"","group":"bfd9b042.5d935","order":9,"width":0,"height":0,"label":"Open/Close","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1250,"y":860,"wires":[[]]},{"id":"ac86c873.ee54b8","type":"switch","z":"d71338ba.7610c8","name":"= flowdoor2","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"flowdoor2","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":860,"wires":[["3ff2f670.6b0cba","3d549c36.021074"]]},{"id":"e261ca4.4c76138","type":"ui_chart","z":"d71338ba.7610c8","name":"","group":"a2a99612.2a7968","order":9,"width":0,"height":0,"label":"Open/Close","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1250,"y":920,"wires":[[]]},{"id":"2c855854.e85558","type":"switch","z":"d71338ba.7610c8","name":"= flowdoor3","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"flowdoor3","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":920,"wires":[["e261ca4.4c76138","3d549c36.021074"]]},{"id":"3d614f7a.05d89","type":"ui_chart","z":"d71338ba.7610c8","name":"","group":"f3f28ddd.1157a","order":9,"width":0,"height":0,"label":"Open/Close","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1250,"y":980,"wires":[[]]},{"id":"184f841f.01cfec","type":"switch","z":"d71338ba.7610c8","name":"= flowdoor4","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"flowdoor4","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":980,"wires":[["3d614f7a.05d89","3d549c36.021074"]]},{"id":"de6bbaf.10f9048","type":"change","z":"d71338ba.7610c8","name":"door1","rules":[{"t":"set","p":"payload","pt":"msg","to":"door1","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"door1","tot":"str"},{"t":"set","p":"flowdoor1","pt":"msg","to":"flowdoor1","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1180,"wires":[["7520f8e2.eca9a8","13a38964.9082a7"]]},{"id":"9e993279.d8ff4","type":"change","z":"d71338ba.7610c8","name":"door2","rules":[{"t":"set","p":"payload","pt":"msg","to":"door2","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"door2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1240,"wires":[["54e3b438.1b7b8c"]]},{"id":"99a3d616.1e88d8","type":"change","z":"d71338ba.7610c8","name":"door3","rules":[{"t":"set","p":"payload","pt":"msg","to":"door3","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"door3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1300,"wires":[["5b058bfa.4c1b44"]]},{"id":"454fb285.a55aec","type":"change","z":"d71338ba.7610c8","name":"door4","rules":[{"t":"set","p":"payload","pt":"msg","to":"door4","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"door4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1360,"wires":[["a5188e7.02b637"]]},{"id":"61385c83.4c5d74","type":"change","z":"d71338ba.7610c8","name":"door1","rules":[{"t":"set","p":"payload","pt":"msg","to":"door1","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"door1","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload?1:0","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":800,"wires":[["4d1c412b.1dcc"]]},{"id":"523f567f.014618","type":"change","z":"d71338ba.7610c8","name":"door2","rules":[{"t":"set","p":"payload","pt":"msg","to":"door2","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"door2","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload?1:0","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":860,"wires":[["ac86c873.ee54b8"]]},{"id":"b59beb0d.8454d8","type":"change","z":"d71338ba.7610c8","name":"door3","rules":[{"t":"set","p":"topic","pt":"msg","to":"door3","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"door3","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"payload?1:0","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":920,"wires":[["2c855854.e85558"]]},{"id":"f155ea2d.f0f358","type":"change","z":"d71338ba.7610c8","name":"door4","rules":[{"t":"set","p":"topic","pt":"msg","to":"door4","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"door4","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"payload?1:0","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":980,"wires":[["184f841f.01cfec"]]},{"id":"54e3b438.1b7b8c","type":"switch","z":"d71338ba.7610c8","name":"!= flowdoor2","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"flowdoor2","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":1240,"wires":[["ba625def.9b0ee"]]},{"id":"5b058bfa.4c1b44","type":"switch","z":"d71338ba.7610c8","name":"!= flowdoor3","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"flowdoor3","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":1300,"wires":[["fa3afff4.9443d"]]},{"id":"a5188e7.02b637","type":"switch","z":"d71338ba.7610c8","name":"!= flowdoor4","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"flowdoor4","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":1360,"wires":[["7f2d587f.6c8788"]]},{"id":"ba625def.9b0ee","type":"change","z":"d71338ba.7610c8","name":"flowdoor2 = door2","rules":[{"t":"set","p":"flowdoor2","pt":"flow","to":"door2","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1240,"wires":[["3d549c36.021074","b8e456e.4fdd7a8","3ff2f670.6b0cba"]]},{"id":"fa3afff4.9443d","type":"change","z":"d71338ba.7610c8","name":"flowdoor3 = door","rules":[{"t":"set","p":"flowdoor3","pt":"flow","to":"door3","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1300,"wires":[["3d549c36.021074","904c31fd.da36","e261ca4.4c76138"]]},{"id":"7f2d587f.6c8788","type":"change","z":"d71338ba.7610c8","name":"flowdoor4 = door4","rules":[{"t":"set","p":"flowdoor4","pt":"flow","to":"door4","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1360,"wires":[["3d549c36.021074","39d356a5.9597da","3d614f7a.05d89"]]},{"id":"3d549c36.021074","type":"change","z":"d71338ba.7610c8","name":"","rules":[{"t":"set","p":"iot","pt":"msg","to":"Cooling","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":1060,"wires":[["406569dc.2dafc8"]]},{"id":"75808725.039b78","type":"link out","z":"d71338ba.7610c8","name":"","links":["8e40a393.75c35","4729a323.b10cac","6052770a.b9e758","20d9eac8.37ea46"],"x":1135,"y":1180,"wires":[]},{"id":"8e40a393.75c35","type":"link in","z":"d71338ba.7610c8","name":"","links":["75808725.039b78"],"x":175,"y":1980,"wires":[["9d99d558.655c48","d01111da.008d4"]]},{"id":"b8e456e.4fdd7a8","type":"link out","z":"d71338ba.7610c8","name":"","links":["ec5635e4.703a08"],"x":1135,"y":1240,"wires":[]},{"id":"ec5635e4.703a08","type":"link in","z":"d71338ba.7610c8","name":"","links":["b8e456e.4fdd7a8"],"x":135,"y":2540,"wires":[["f9e7f03e.84404","616e53fd.04691c"]]},{"id":"904c31fd.da36","type":"link out","z":"d71338ba.7610c8","name":"","links":["fbf8e720.435338"],"x":1135,"y":1300,"wires":[]},{"id":"fbf8e720.435338","type":"link in","z":"d71338ba.7610c8","name":"","links":["904c31fd.da36"],"x":155,"y":3100,"wires":[["b43910e7.a7767","c71a1f3c.4b261"]]},{"id":"39d356a5.9597da","type":"link out","z":"d71338ba.7610c8","name":"","links":["cdb7ce1f.6a853","74087504.5ac75c"],"x":1135,"y":1360,"wires":[]},{"id":"9b3d5edf.183b6","type":"comment","z":"d71338ba.7610c8","name":"Machine 2","info":"","x":180,"y":2220,"wires":[]},{"id":"b47f5274.96d4b","type":"comment","z":"d71338ba.7610c8","name":"Machine 4","info":"","x":140,"y":3300,"wires":[]},{"id":"7cab3b0c.3fb924","type":"comment","z":"d71338ba.7610c8","name":"Machine 3","info":"","x":220,"y":2740,"wires":[]},{"id":"e0b9c1f3.0176d","type":"debug","z":"d71338ba.7610c8","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1410,"y":1100,"wires":[]},{"id":"13a38964.9082a7","type":"debug","z":"d71338ba.7610c8","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":1120,"wires":[]},{"id":"c0424220.c44a2","type":"change","z":"d71338ba.7610c8","name":"flowdoor1-4 = 0","rules":[{"t":"set","p":"onoff1","pt":"flow","to":"Off","tot":"str"},{"t":"set","p":"onoff2","pt":"flow","to":"Off","tot":"str"},{"t":"set","p":"onoff3","pt":"flow","to":"Off","tot":"str"},{"t":"set","p":"onoff4","pt":"flow","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":80,"wires":[[]]},{"id":"efbe9a9d.f34b88","type":"switch","z":"d71338ba.7610c8","name":"Close = 1/ Open = 0","property":"flowdoor2","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":560,"y":2600,"wires":[["668b150a.a2740c"],["a1f9c5ed.d68d48"]]},{"id":"668b150a.a2740c","type":"change","z":"d71338ba.7610c8","name":"Set Close Timer","rules":[{"t":"set","p":"delay","pt":"msg","to":"$flowContext(\"closetimer2\")*$flowContext(\"timex\")","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"Cooling...","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"close","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":2580,"wires":[["727f19a2.7d2f58","e4230240.305f8"]]},{"id":"868c161f.ed2df8","type":"ui_text_input","z":"d71338ba.7610c8","name":"","label":"Close Time (mm)","tooltip":"","group":"bfd9b042.5d935","order":5,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":470,"y":2280,"wires":[["b83a1eb0.c2a0e"]]},{"id":"b83a1eb0.c2a0e","type":"change","z":"d71338ba.7610c8","name":"Set flow.closetimer2","rules":[{"t":"set","p":"closetimer2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":2280,"wires":[[]]},{"id":"3f54d204.8636de","type":"ui_text_input","z":"d71338ba.7610c8","name":"","label":"Open Time (mm)","tooltip":"","group":"bfd9b042.5d935","order":6,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":470,"y":2320,"wires":[["68117fdf.97d02"]]},{"id":"68117fdf.97d02","type":"change","z":"d71338ba.7610c8","name":"Set flow.opentimer2","rules":[{"t":"set","p":"opentimer2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":2320,"wires":[[]]},{"id":"a1f9c5ed.d68d48","type":"change","z":"d71338ba.7610c8","name":"Set Open Timer","rules":[{"t":"set","p":"delay","pt":"msg","to":"$flowContext(\"opentimer2\")*$flowContext(\"timex\")","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"< Reload >","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"orange","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":2640,"wires":[["727f19a2.7d2f58","3276d16f.450dbe"]]},{"id":"bc93aeeb.3a4c5","type":"inject","z":"d71338ba.7610c8","name":"","props":[{"p":"payload"},{"p":"topic","v":"","vt":"num"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"cooltime","payloadType":"flow","x":230,"y":2280,"wires":[["868c161f.ed2df8"]]},{"id":"48f3c4ab.ea4e9c","type":"inject","z":"d71338ba.7610c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"reloadtime","payloadType":"flow","x":240,"y":2320,"wires":[["3f54d204.8636de"]]},{"id":"68e22139.9b809","type":"ui_button","z":"d71338ba.7610c8","name":"","group":"bfd9b042.5d935","order":2,"width":2,"height":1,"passthru":false,"label":"On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"On","payloadType":"str","topic":"topic","topicType":"msg","x":370,"y":2420,"wires":[["db7901f6.f66fe"]]},{"id":"db7901f6.f66fe","type":"change","z":"d71338ba.7610c8","name":"","rules":[{"t":"set","p":"onoff2","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"payload","tot":"msg"},{"t":"change","p":"color","pt":"msg","from":"On","fromt":"str","to":"red","tot":"str"},{"t":"change","p":"color","pt":"msg","from":"Off","fromt":"str","to":"blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":2440,"wires":[["94a78ef4.4f29c","a6a1f019.aca53","616e53fd.04691c"]]},{"id":"362f110c.32a15e","type":"ui_button","z":"d71338ba.7610c8","name":"","group":"bfd9b042.5d935","order":3,"width":2,"height":1,"passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Off","payloadType":"str","topic":"topic","topicType":"msg","x":370,"y":2460,"wires":[["db7901f6.f66fe","f9e7f03e.84404"]]},{"id":"94a78ef4.4f29c","type":"ui_text","z":"d71338ba.7610c8","group":"bfd9b042.5d935","order":4,"width":3,"height":1,"name":"","label":"On/Off Status","format":"<font color=={{msg.color}} size={{msg.size}} > {{msg.payload}} </font>","layout":"row-spread","x":840,"y":2440,"wires":[]},{"id":"727f19a2.7d2f58","type":"ui_text","z":"d71338ba.7610c8","group":"bfd9b042.5d935","order":8,"width":0,"height":0,"name":"","label":"Working","format":"<font color=={{msg.color}} size={{msg.size}} > {{msg.payload}} </font>","layout":"row-spread","x":1100,"y":2480,"wires":[]},{"id":"f9e7f03e.84404","type":"change","z":"d71338ba.7610c8","name":"Reset  Timer","rules":[{"t":"set","p":"reset","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":2520,"wires":[["727f19a2.7d2f58","4522bba6.2af734","a54772f3.0ff8a"]]},{"id":"9b330a21.bc1988","type":"inject","z":"d71338ba.7610c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"cooltime","payloadType":"flow","x":230,"y":2360,"wires":[["313b0ca8.ae54d4"]]},{"id":"313b0ca8.ae54d4","type":"change","z":"d71338ba.7610c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Off","tot":"str"},{"t":"set","p":"onoffstatus","pt":"flow","to":"onoffstatus","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":2360,"wires":[["db7901f6.f66fe"]]},{"id":"a6a1f019.aca53","type":"debug","z":"d71338ba.7610c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":2400,"wires":[]},{"id":"4522bba6.2af734","type":"ui_text","z":"d71338ba.7610c8","group":"bfd9b042.5d935","order":7,"width":3,"height":1,"name":"","label":"Timer","format":"<font  size=5 > {{msg.payload}} </font>","layout":"row-spread","x":1210,"y":2580,"wires":[]},{"id":"452e594e.1597e8","type":"modbus-write","z":"d71338ba.7610c8","name":"Set Off 0","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"0","quantity":"1","server":"bf07dbb7.6d6928","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1680,"y":2560,"wires":[[],[]]},{"id":"e60639cc.2fb028","type":"change","z":"d71338ba.7610c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"},{"t":"delete","p":"reset","pt":"msg"},{"t":"set","p":"delay","pt":"msg","to":"$flowContext(\"alarmtime\")*1000","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":2660,"wires":[["3a1b8533.2d4caa","452e594e.1597e8"]]},{"id":"3a1b8533.2d4caa","type":"delay","z":"d71338ba.7610c8","name":"","pauseType":"delayv","timeout":"2","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1500,"y":2660,"wires":[["a54772f3.0ff8a"]]},{"id":"a54772f3.0ff8a","type":"change","z":"d71338ba.7610c8","name":"payload = 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":2560,"wires":[["452e594e.1597e8"]]},{"id":"616e53fd.04691c","type":"function","z":"d71338ba.7610c8","name":"","func":"var onoff = flow.get('onoff2');\nnode.status({text:onoff});\nif (onoff == 'Off') { \n    return null;\n}\n \n    return msg;\n ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":2600,"wires":[["efbe9a9d.f34b88"]]},{"id":"e4230240.305f8","type":"subflow:41113009.befaf","z":"d71338ba.7610c8","name":"","x":1020,"y":2640,"wires":[["e60639cc.2fb028"],["4522bba6.2af734"]]},{"id":"3276d16f.450dbe","type":"subflow:41113009.befaf","z":"d71338ba.7610c8","name":"","x":1020,"y":2700,"wires":[["e60639cc.2fb028"],["4522bba6.2af734"]]},{"id":"1811211e.2c0f0f","type":"switch","z":"d71338ba.7610c8","name":"Close = 1/ Open = 0","property":"flowdoor3","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":580,"y":3160,"wires":[["a32c9cd5.aad3e"],["cb06adac.27ada"]]},{"id":"a32c9cd5.aad3e","type":"change","z":"d71338ba.7610c8","name":"Set Close Timer","rules":[{"t":"set","p":"delay","pt":"msg","to":"$flowContext(\"closetimer3\")*$flowContext(\"timex\")","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"Cooling...","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"close","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":3140,"wires":[["a09902bc.d0e1a","c6dff9e1.7ab258"]]},{"id":"a397bc31.b120d","type":"ui_text_input","z":"d71338ba.7610c8","name":"","label":"Close Time (mm)","tooltip":"","group":"a2a99612.2a7968","order":5,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":490,"y":2840,"wires":[["a06d6f42.0c323"]]},{"id":"a06d6f42.0c323","type":"change","z":"d71338ba.7610c8","name":"Set flow closetimer3","rules":[{"t":"set","p":"closetimer3","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":2840,"wires":[[]]},{"id":"dbb3c5b0.b67a58","type":"ui_text_input","z":"d71338ba.7610c8","name":"","label":"Open Time (mm)","tooltip":"","group":"a2a99612.2a7968","order":6,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":490,"y":2880,"wires":[["c54c3d7d.60086"]]},{"id":"c54c3d7d.60086","type":"change","z":"d71338ba.7610c8","name":"Set flow opentimer3","rules":[{"t":"set","p":"opentimer3","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":2880,"wires":[[]]},{"id":"cb06adac.27ada","type":"change","z":"d71338ba.7610c8","name":"Set Open Timer","rules":[{"t":"set","p":"delay","pt":"msg","to":"$flowContext(\"opentimer3\")*$flowContext(\"timex\")","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"< Reload >","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"orange","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":3200,"wires":[["a09902bc.d0e1a","2380e0a3.a8e0e"]]},{"id":"2146c25e.f7646e","type":"inject","z":"d71338ba.7610c8","name":"","props":[{"p":"payload"},{"p":"topic","v":"","vt":"num"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"cooltime","payloadType":"flow","x":250,"y":2840,"wires":[["a397bc31.b120d"]]},{"id":"cc76fa4c.a14a28","type":"inject","z":"d71338ba.7610c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"reloadtime","payloadType":"flow","x":260,"y":2880,"wires":[["dbb3c5b0.b67a58"]]},{"id":"bbef4aae.0218d8","type":"ui_button","z":"d71338ba.7610c8","name":"","group":"a2a99612.2a7968","order":2,"width":2,"height":1,"passthru":false,"label":"On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"On","payloadType":"str","topic":"topic","topicType":"msg","x":290,"y":2980,"wires":[["63928628.b287c8"]]},{"id":"63928628.b287c8","type":"change","z":"d71338ba.7610c8","name":"","rules":[{"t":"set","p":"onoff3","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"payload","tot":"msg"},{"t":"change","p":"color","pt":"msg","from":"On","fromt":"str","to":"red","tot":"str"},{"t":"change","p":"color","pt":"msg","from":"Off","fromt":"str","to":"blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":3000,"wires":[["f98a113a.6d5fd","113e6184.05059e","b43910e7.a7767"]]},{"id":"72bd1bf.a5b65e4","type":"ui_button","z":"d71338ba.7610c8","name":"","group":"a2a99612.2a7968","order":3,"width":2,"height":1,"passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Off","payloadType":"str","topic":"topic","topicType":"msg","x":290,"y":3020,"wires":[["63928628.b287c8","c71a1f3c.4b261"]]},{"id":"f98a113a.6d5fd","type":"ui_text","z":"d71338ba.7610c8","group":"a2a99612.2a7968","order":4,"width":3,"height":1,"name":"","label":"On/Off Status","format":"<font color=={{msg.color}} size={{msg.size}} > {{msg.payload}} </font>","layout":"row-spread","x":860,"y":3000,"wires":[]},{"id":"a09902bc.d0e1a","type":"ui_text","z":"d71338ba.7610c8","group":"a2a99612.2a7968","order":8,"width":0,"height":0,"name":"","label":"Working","format":"<font color=={{msg.color}} size={{msg.size}} > {{msg.payload}} </font>","layout":"row-spread","x":1120,"y":3040,"wires":[]},{"id":"c71a1f3c.4b261","type":"change","z":"d71338ba.7610c8","name":"Reset  Timer","rules":[{"t":"set","p":"reset","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":3080,"wires":[["a09902bc.d0e1a","8186e11f.cbf19","82463b3e.8dd5c8"]]},{"id":"cd6ecd7.9eae53","type":"inject","z":"d71338ba.7610c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"Off","payloadType":"str","x":230,"y":2920,"wires":[["63928628.b287c8"]]},{"id":"113e6184.05059e","type":"debug","z":"d71338ba.7610c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":2960,"wires":[]},{"id":"8186e11f.cbf19","type":"ui_text","z":"d71338ba.7610c8","group":"a2a99612.2a7968","order":7,"width":3,"height":1,"name":"","label":"Timer","format":"<font  size=5 > {{msg.payload}} </font>","layout":"row-spread","x":1230,"y":3140,"wires":[]},{"id":"e47072e9.ad03a","type":"modbus-write","z":"d71338ba.7610c8","name":"Set Off 0","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"0","quantity":"1","server":"bf07dbb7.6d6928","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1700,"y":3120,"wires":[[],[]]},{"id":"589ca47b.7b6dec","type":"change","z":"d71338ba.7610c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"},{"t":"delete","p":"reset","pt":"msg"},{"t":"set","p":"delay","pt":"msg","to":"$flowContext(\"alarmtime\")*1000","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":3220,"wires":[["45d29ff3.365b6","e47072e9.ad03a"]]},{"id":"45d29ff3.365b6","type":"delay","z":"d71338ba.7610c8","name":"","pauseType":"delayv","timeout":"2","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1520,"y":3220,"wires":[["82463b3e.8dd5c8"]]},{"id":"82463b3e.8dd5c8","type":"change","z":"d71338ba.7610c8","name":"payload = 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1450,"y":3120,"wires":[["e47072e9.ad03a"]]},{"id":"b43910e7.a7767","type":"function","z":"d71338ba.7610c8","name":"","func":"var onoff = flow.get('onoff3');\nnode.status({text:onoff});\nif (onoff == 'Off') { \n    return null;\n}\n \n    return msg;\n ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":3160,"wires":[["1811211e.2c0f0f"]]},{"id":"c6dff9e1.7ab258","type":"subflow:41113009.befaf","z":"d71338ba.7610c8","name":"","x":1040,"y":3200,"wires":[["589ca47b.7b6dec"],["8186e11f.cbf19"]]},{"id":"2380e0a3.a8e0e","type":"subflow:41113009.befaf","z":"d71338ba.7610c8","name":"","x":1040,"y":3260,"wires":[["589ca47b.7b6dec"],["8186e11f.cbf19"]]},{"id":"28e702d7.42820e","type":"switch","z":"d71338ba.7610c8","name":"Close = 1/ Open = 0","property":"flowdoor4","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":580,"y":3700,"wires":[["f317a8f.f924858"],["588afde0.bc3884"]]},{"id":"f317a8f.f924858","type":"change","z":"d71338ba.7610c8","name":"Set Close Timer","rules":[{"t":"set","p":"delay","pt":"msg","to":"$flowContext(\"closetimer4\")*$flowContext(\"timex\")","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"Cooling...","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"close","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":3680,"wires":[["a37fa961.0f83d8","c17d899.9ef1b78"]]},{"id":"a2b1f70b.2c8778","type":"ui_text_input","z":"d71338ba.7610c8","name":"","label":"Close Time (mm)","tooltip":"","group":"f3f28ddd.1157a","order":6,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":490,"y":3380,"wires":[["17250976.347f27"]]},{"id":"17250976.347f27","type":"change","z":"d71338ba.7610c8","name":"set flow closetimer4","rules":[{"t":"set","p":"closetimer4","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":3380,"wires":[[]]},{"id":"28b3673b.26d3a8","type":"ui_text_input","z":"d71338ba.7610c8","name":"","label":"Open Time (mm)","tooltip":"","group":"f3f28ddd.1157a","order":5,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":490,"y":3420,"wires":[["8033af7f.cb8a3"]]},{"id":"8033af7f.cb8a3","type":"change","z":"d71338ba.7610c8","name":"set flow opentimer4","rules":[{"t":"set","p":"opentimer4","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":3420,"wires":[[]]},{"id":"588afde0.bc3884","type":"change","z":"d71338ba.7610c8","name":"Set Open Timer","rules":[{"t":"set","p":"delay","pt":"msg","to":"$flowContext(\"opentimer4\")*$flowContext(\"timex\")","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"< Reload >","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"orange","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":3740,"wires":[["a37fa961.0f83d8","4f6271ea.895b7"]]},{"id":"4a18ab25.f91334","type":"inject","z":"d71338ba.7610c8","name":"","props":[{"p":"payload"},{"p":"topic","v":"","vt":"num"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"cooltime","payloadType":"flow","x":250,"y":3380,"wires":[["a2b1f70b.2c8778"]]},{"id":"aa811970.7c0cb8","type":"inject","z":"d71338ba.7610c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"reloadtime","payloadType":"flow","x":260,"y":3420,"wires":[["28b3673b.26d3a8"]]},{"id":"85aa7eca.e1cf7","type":"ui_button","z":"d71338ba.7610c8","name":"","group":"f3f28ddd.1157a","order":2,"width":2,"height":1,"passthru":false,"label":"On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"On","payloadType":"str","topic":"topic","topicType":"msg","x":290,"y":3520,"wires":[["1d648665.82884a"]]},{"id":"1d648665.82884a","type":"change","z":"d71338ba.7610c8","name":"","rules":[{"t":"set","p":"onoff1","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"payload","tot":"msg"},{"t":"change","p":"color","pt":"msg","from":"On","fromt":"str","to":"red","tot":"str"},{"t":"change","p":"color","pt":"msg","from":"Off","fromt":"str","to":"blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":3540,"wires":[["1c017c1d.695b64","27a9ee41.f57422","b799aa43.f73428"]]},{"id":"f275d30.c4ac63","type":"ui_button","z":"d71338ba.7610c8","name":"","group":"f3f28ddd.1157a","order":3,"width":2,"height":1,"passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Off","payloadType":"str","topic":"topic","topicType":"msg","x":290,"y":3560,"wires":[["1d648665.82884a","f037ea9e.a288f8"]]},{"id":"1c017c1d.695b64","type":"ui_text","z":"d71338ba.7610c8","group":"f3f28ddd.1157a","order":4,"width":3,"height":1,"name":"","label":"On/Off Status","format":"<font color=={{msg.color}} size={{msg.size}} > {{msg.payload}} </font>","layout":"row-spread","x":860,"y":3540,"wires":[]},{"id":"a37fa961.0f83d8","type":"ui_text","z":"d71338ba.7610c8","group":"f3f28ddd.1157a","order":8,"width":0,"height":0,"name":"","label":"Working","format":"<font color=={{msg.color}} size={{msg.size}} > {{msg.payload}} </font>","layout":"row-spread","x":1120,"y":3580,"wires":[]},{"id":"f037ea9e.a288f8","type":"change","z":"d71338ba.7610c8","name":"Reset  Timer","rules":[{"t":"set","p":"reset","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":3620,"wires":[["a37fa961.0f83d8","cfcc3479.839098","f7dbd618.e72928"]]},{"id":"d3eb6f01.721f5","type":"inject","z":"d71338ba.7610c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"Off","payloadType":"str","x":230,"y":3460,"wires":[["1d648665.82884a"]]},{"id":"27a9ee41.f57422","type":"debug","z":"d71338ba.7610c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":3500,"wires":[]},{"id":"cfcc3479.839098","type":"ui_text","z":"d71338ba.7610c8","group":"f3f28ddd.1157a","order":7,"width":3,"height":1,"name":"","label":"Timer","format":"<font  size=5 > {{msg.payload}} </font>","layout":"row-spread","x":1230,"y":3680,"wires":[]},{"id":"2cd7078a.387c58","type":"modbus-write","z":"d71338ba.7610c8","name":"Set Off 0","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"0","quantity":"1","server":"bf07dbb7.6d6928","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1700,"y":3660,"wires":[[],[]]},{"id":"9a2178f2.da5388","type":"change","z":"d71338ba.7610c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"},{"t":"delete","p":"reset","pt":"msg"},{"t":"set","p":"delay","pt":"msg","to":"$flowContext(\"alarmtime\")*1000","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":3760,"wires":[["619551af.6555c","2cd7078a.387c58"]]},{"id":"619551af.6555c","type":"delay","z":"d71338ba.7610c8","name":"","pauseType":"delayv","timeout":"2","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1520,"y":3760,"wires":[["f7dbd618.e72928"]]},{"id":"f7dbd618.e72928","type":"change","z":"d71338ba.7610c8","name":"payload = 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1450,"y":3660,"wires":[["2cd7078a.387c58"]]},{"id":"b799aa43.f73428","type":"function","z":"d71338ba.7610c8","name":"","func":"var onoff = flow.get('onoff4');\nnode.status({text:onoff});\nif (onoff == 'Off') { \n    return null;\n}\n \n    return msg;\n ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":3700,"wires":[["28e702d7.42820e"]]},{"id":"c17d899.9ef1b78","type":"subflow:41113009.befaf","z":"d71338ba.7610c8","name":"","x":1040,"y":3740,"wires":[["9a2178f2.da5388"],["cfcc3479.839098"]]},{"id":"4f6271ea.895b7","type":"subflow:41113009.befaf","z":"d71338ba.7610c8","name":"","x":1040,"y":3800,"wires":[["9a2178f2.da5388"],["cfcc3479.839098"]]},{"id":"74087504.5ac75c","type":"link in","z":"d71338ba.7610c8","name":"","links":["39d356a5.9597da"],"x":135,"y":3620,"wires":[["f037ea9e.a288f8","b799aa43.f73428"]]},{"id":"1ee081d9.cb029e","type":"ui_dropdown","z":"d71338ba.7610c8","name":"","label":"Timer Unit","tooltip":"","place":"Select option","group":"fa0c73cf.25601","order":5,"width":4,"height":1,"passthru":true,"multiple":false,"options":[{"label":"Minite","value":"60000","type":"str"},{"label":"Second","value":"1000","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":370,"y":140,"wires":[["f23b6ab6.44c5d8"]]},{"id":"4fd70989.3c7fb8","type":"ui_group","name":"Machine 1","tab":"47ff175b.6d31e8","order":2,"disp":true,"width":7,"collapse":false},{"id":"bf07dbb7.6d6928","type":"modbus-client","name":"IotHF2211","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.55","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"bfd9b042.5d935","type":"ui_group","name":"Machine 2","tab":"47ff175b.6d31e8","order":3,"disp":true,"width":7,"collapse":false},{"id":"a2a99612.2a7968","type":"ui_group","name":"Machine 3","tab":"47ff175b.6d31e8","order":4,"disp":true,"width":7,"collapse":false},{"id":"f3f28ddd.1157a","type":"ui_group","name":"Machine 4","tab":"47ff175b.6d31e8","order":5,"disp":true,"width":7,"collapse":false},{"id":"fa0c73cf.25601","type":"ui_group","name":"Temp","tab":"47ff175b.6d31e8","order":1,"disp":true,"width":10,"collapse":false},{"id":"e461d128.b1148","type":"ui_group","name":"Total","tab":"4a1d491e.7705f8","order":1,"disp":true,"width":4,"collapse":true},{"id":"6cf82e37.9a1db","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"IotDB","tz":"","charset":""},{"id":"47ff175b.6d31e8","type":"ui_tab","name":"Value Status","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"4a1d491e.7705f8","type":"ui_tab","name":"STW DashBoard","icon":"dashboard","order":2,"disabled":false,"hidden":false}]
