Device_Programs/Node-Red/Value Source 4 Cooling.json
[{"id":"72729282.e85afc","type":"subflow","name":"MySecondWrite","info":"","category":"","in":[{"x":60,"y":140,"wires":[{"id":"98c6fa93.3f25e8"}]}],"out":[{"x":860,"y":140,"wires":[{"id":"98c6fa93.3f25e8","port":0},{"id":"c22c88f8.3ba448","port":0}]}],"env":[{"name":"firstdelay","type":"num","value":"100"},{"name":"seconddelay","type":"num","value":"600"},{"name":"secondvalue","type":"num","value":"0"}],"meta":{},"color":"#F3B567","icon":"node-red/sort.svg"},{"id":"98c6fa93.3f25e8","type":"delay","z":"72729282.e85afc","name":"","pauseType":"delay","timeout":"${firstdelay}","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":220,"y":140,"wires":[["2114c6ea.c62bda"]]},{"id":"2114c6ea.c62bda","type":"delay","z":"72729282.e85afc","name":"","pauseType":"delay","timeout":"${seconddelay}","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":80,"wires":[["c22c88f8.3ba448"]]},{"id":"c22c88f8.3ba448","type":"change","z":"72729282.e85afc","name":"address = address2","rules":[{"t":"set","p":"payload.value","pt":"msg","to":"${secondvalue}","tot":"num"},{"t":"set","p":"payload.address","pt":"msg","to":"address2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":80,"wires":[[]]},{"id":"41113009.befaf","type":"subflow","name":"MyTimer","info":"msg.delay --> delay setting \nmsg.OnMsg\n\noutput 1\n\noutput 2  Timer Counter Up\n","category":"","in":[{"x":80,"y":180,"wires":[{"id":"ed6766c0.3b3378"},{"id":"3315cebd.cc3362"}]}],"out":[{"x":1140,"y":220,"wires":[{"id":"bb322651.40c8f8","port":0}]},{"x":1140,"y":320,"wires":[{"id":"c2ca14d4.e8dbc8","port":0}]}],"env":[{"name":"CloseTimer","type":"num","value":"5000"},{"name":"CloseTimerOnMsg","type":"str","value":"Open ..."}],"meta":{},"color":"#DDAA99"},{"id":"ed6766c0.3b3378","type":"change","z":"41113009.befaf","name":"Set Close Timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"Cooling...","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"str"},{"t":"set","p":"closstimestatus","pt":"msg","to":"Close Timer Running ...","tot":"str"},{"t":"set","p":"starttimestap","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":220,"wires":[["7e28f4be.dd96ec","c7d22e8e.defd4","310eb58a.c3343a"]]},{"id":"7e28f4be.dd96ec","type":"delay","z":"41113009.befaf","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":220,"wires":[["bb322651.40c8f8"]]},{"id":"bb322651.40c8f8","type":"change","z":"41113009.befaf","name":"Set Close Timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"${CloseTimerOnMsg)","tot":"str"},{"t":"set","p":"reset","pt":"msg","to":"","tot":"str"},{"t":"set","p":"closstimestatus","pt":"msg","to":"Timer On ..","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":220,"wires":[["310eb58a.c3343a"]]},{"id":"c7d22e8e.defd4","type":"debug","z":"41113009.befaf","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":300,"wires":[]},{"id":"c2ca14d4.e8dbc8","type":"moment","z":"41113009.befaf","name":"","topic":"","input":"payload","inputType":"msg","inTz":"ETC/GMT","adjAmount":"0","adjType":"hours","adjDir":"add","format":"mm:ss","locale":"en_GB","output":"payload","outputType":"msg","outTz":"ETC/GMT","x":1020,"y":440,"wires":[[]]},{"id":"373efad5.d563b6","type":"function","z":"41113009.befaf","name":"","func":" \n\n\nvar timediff = 0;\ntimediff = (msg.payload - msg.starttimestap);\n\n\nmsg.payload = timediff ;\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":440,"wires":[["c2ca14d4.e8dbc8"]]},{"id":"310eb58a.c3343a","type":"trigger","z":"41113009.befaf","name":"","op1":"","op2":"","op1type":"date","op2type":"date","duration":"-1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":440,"y":440,"wires":[["5444bc4a.fa4214"]]},{"id":"5444bc4a.fa4214","type":"change","z":"41113009.befaf","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":440,"wires":[["373efad5.d563b6"]]},{"id":"3315cebd.cc3362","type":"function","z":"41113009.befaf","name":"Check Reset","func":"if (msg.payload.hasOwnProperty(\"reset\")){\n    return msg;   \n} else  { return null;}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":140,"wires":[["bb322651.40c8f8","e89b4570.29afb8"]]},{"id":"e89b4570.29afb8","type":"debug","z":"41113009.befaf","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":660,"y":160,"wires":[]},{"id":"d71338ba.7610c8","type":"tab","label":"Value Source Cooling ","disabled":false,"info":""},{"id":"413477a8.990818","type":"inject","z":"d71338ba.7610c8","name":"Every 2 s","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"statechange","v":"","vt":"date"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"door1","payload":"door1","payloadType":"flow","x":970,"y":1420,"wires":[["de6bbaf.10f9048","9e993279.d8ff4","99a3d616.1e88d8","454fb285.a55aec"]]},{"id":"eba0132.2b504f","type":"ui_chart","z":"d71338ba.7610c8","name":"","group":"4fd70989.3c7fb8","order":9,"width":0,"height":0,"label":"Open/Close","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1750,"y":1240,"wires":[[]]},{"id":"aaa1e8b.3df5918","type":"change","z":"d71338ba.7610c8","name":"flowdoor1-4 = 0","rules":[{"t":"set","p":"flowdoor1","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"flowdoor2","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"flowdoor3","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"flowdoor4","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":100,"wires":[[]]},{"id":"7520f8e2.eca9a8","type":"switch","z":"d71338ba.7610c8","name":"!= flowdoor1","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"flowdoor1","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":1290,"y":1420,"wires":[["6dd08025.46e2a"]]},{"id":"6dd08025.46e2a","type":"change","z":"d71338ba.7610c8","name":"flowdoor1 = door1","rules":[{"t":"set","p":"flowdoor1","pt":"flow","to":"door1","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":1420,"wires":[["75808725.039b78","eba0132.2b504f"]]},{"id":"9890f101.287a5","type":"inject","z":"d71338ba.7610c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":80,"wires":[["aaa1e8b.3df5918","c0424220.c44a2","d8142255.69db9","433683d7.d93f2c","7f578ff0.6f4c9","3780f10b.f39d2e"]]},{"id":"661d2127.5437e","type":"switch","z":"d71338ba.7610c8","name":"Close = 1/ Open = 0","property":"flowdoor1","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2900,"y":2020,"wires":[["e5dcba36.bc4dd8"],["e0c3747e.2be4f8"]]},{"id":"e5dcba36.bc4dd8","type":"change","z":"d71338ba.7610c8","name":"Set Close Timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"Cooling...","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"str"},{"t":"set","p":"delay","pt":"msg","to":"$flowContext(\"closetimer1\")*$flowContext(\"timex\")","tot":"jsonata"},{"t":"set","p":"status","pt":"msg","to":"close","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3100,"y":2000,"wires":[["4921f0d1.62c25","b334c1e8.d62a7"]]},{"id":"e0c3747e.2be4f8","type":"change","z":"d71338ba.7610c8","name":"Set Open Timer","rules":[{"t":"set","p":"delay","pt":"msg","to":"$flowContext(\"opentimer1\")*$flowContext(\"timex\")","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"< Reload >","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"orange","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3100,"y":2040,"wires":[["4921f0d1.62c25","9e742d45.f8561"]]},{"id":"5c77ed14.6d5484","type":"ui_button","z":"d71338ba.7610c8","name":"","group":"4fd70989.3c7fb8","order":2,"width":2,"height":1,"passthru":true,"label":"On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"On","payloadType":"str","topic":"topic","topicType":"msg","x":2670,"y":1860,"wires":[["784842e.f83f6bc"]]},{"id":"784842e.f83f6bc","type":"change","z":"d71338ba.7610c8","name":"","rules":[{"t":"set","p":"onoff1","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"payload","tot":"msg"},{"t":"change","p":"color","pt":"msg","from":"On","fromt":"str","to":"red","tot":"str"},{"t":"change","p":"color","pt":"msg","from":"Off","fromt":"str","to":"blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2920,"y":1880,"wires":[["75d8b04e.6ba74","9d99d558.655c48"]]},{"id":"54aca21f.6b210c","type":"ui_button","z":"d71338ba.7610c8","name":"","group":"4fd70989.3c7fb8","order":3,"width":2,"height":1,"passthru":true,"label":"Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Off","payloadType":"str","topic":"topic","topicType":"msg","x":2670,"y":1900,"wires":[["784842e.f83f6bc","d01111da.008d4"]]},{"id":"75d8b04e.6ba74","type":"ui_text","z":"d71338ba.7610c8","group":"4fd70989.3c7fb8","order":4,"width":3,"height":1,"name":"","label":"On/Off Status","format":"<font color=={{msg.color}} size={{msg.size}} > {{msg.payload}} </font>","layout":"row-spread","x":3160,"y":1880,"wires":[]},{"id":"4921f0d1.62c25","type":"ui_text","z":"d71338ba.7610c8","group":"4fd70989.3c7fb8","order":8,"width":0,"height":0,"name":"","label":"Working","format":"<font color=={{msg.color}} size={{msg.size}} > {{msg.payload}} </font>","layout":"row-spread","x":3500,"y":1940,"wires":[]},{"id":"d01111da.008d4","type":"change","z":"d71338ba.7610c8","name":"Reset  Timer","rules":[{"t":"set","p":"reset","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3110,"y":1960,"wires":[["4921f0d1.62c25","4801db7d.8fad54","61a1c06.7b77a4","b334c1e8.d62a7","9e742d45.f8561"]]},{"id":"4f23257b.00ef7c","type":"comment","z":"d71338ba.7610c8","name":"Record Data To Database ever 60 s","info":"","x":700,"y":3680,"wires":[]},{"id":"fdbdc468.d90998","type":"change","z":"d71338ba.7610c8","name":"payload[0]","rules":[{"t":"set","p":"topic","pt":"msg","to":"door1","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"jsonata"},{"t":"set","p":"door1","pt":"flow","to":"payload?1:0","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":360,"wires":[["4d15e57a.38f20c"]]},{"id":"5e75c24b.1d45dc","type":"change","z":"d71338ba.7610c8","name":"payload[1]","rules":[{"t":"set","p":"topic","pt":"msg","to":"door2","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload[1] ","tot":"jsonata"},{"t":"set","p":"door2","pt":"flow","to":"payload?1:0","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":400,"wires":[["4d15e57a.38f20c"]]},{"id":"7c4c65bf.8c186c","type":"change","z":"d71338ba.7610c8","name":"payload[2]","rules":[{"t":"set","p":"topic","pt":"msg","to":"door3","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload[2]","tot":"jsonata"},{"t":"set","p":"door3","pt":"flow","to":"payload?1:0","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":440,"wires":[["4d15e57a.38f20c"]]},{"id":"91c2857.4221178","type":"change","z":"d71338ba.7610c8","name":"payload[3]","rules":[{"t":"set","p":"topic","pt":"msg","to":"door4","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload[3]","tot":"jsonata"},{"t":"set","p":"door4","pt":"flow","to":"payload?1:0","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":480,"wires":[["4d15e57a.38f20c"]]},{"id":"b3acb1d7.754ad","type":"ui_text","z":"d71338ba.7610c8","group":"4fd70989.3c7fb8","order":1,"width":0,"height":0,"name":"","label":"Door 1","format":"<font color= {{msg.color}} size={{msg.size}} > {{msg.status}} </font>","layout":"row-spread","x":1590,"y":340,"wires":[]},{"id":"4ee27cd.c764484","type":"ui_text","z":"d71338ba.7610c8","group":"bfd9b042.5d935","order":1,"width":0,"height":0,"name":"","label":"Door 2","format":"<font color= {{msg.color}} size={{msg.size}} > {{msg.status}} </font>","layout":"row-spread","x":1590,"y":380,"wires":[]},{"id":"1c4f7556.ff225b","type":"ui_text","z":"d71338ba.7610c8","group":"a2a99612.2a7968","order":1,"width":0,"height":0,"name":"","label":"Door 3","format":"<font color= {{msg.color}} size={{msg.size}} > {{msg.status}} </font>","layout":"row-spread","x":1590,"y":420,"wires":[]},{"id":"6d2792eb.a070ac","type":"ui_text","z":"d71338ba.7610c8","group":"f3f28ddd.1157a","order":1,"width":0,"height":0,"name":"","label":"Door 4","format":"<font color= {{msg.color}} size={{msg.size}} > {{msg.status}} </font>","layout":"row-spread","x":1590,"y":460,"wires":[]},{"id":"f5329d08.bf519","type":"inject","z":"d71338ba.7610c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"Off","payloadType":"str","x":2670,"y":1820,"wires":[["784842e.f83f6bc"]]},{"id":"364f2b5d.7e81e4","type":"comment","z":"d71338ba.7610c8","name":"Machine 1","info":"","x":2480,"y":1820,"wires":[]},{"id":"233561c1.6e36de","type":"modbus-response","z":"d71338ba.7610c8","name":"","registerShowMax":20,"x":850,"y":440,"wires":[]},{"id":"2b8dbc00.9347f4","type":"change","z":"d71338ba.7610c8","name":"InTemp payload[0]","rules":[{"t":"set","p":"value","pt":"msg","to":"payload[0]","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"payload[0]/10","tot":"jsonata"},{"t":"set","p":"InTemp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":680,"wires":[["7588ff39.b8082"]]},{"id":"4c668d82.1c0154","type":"ui_chart","z":"d71338ba.7610c8","name":"","group":"fa0c73cf.25601","order":9,"width":10,"height":7,"label":"Temp ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1730,"y":1140,"wires":[[]]},{"id":"1cf4757c.43926b","type":"switch","z":"d71338ba.7610c8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"door1","vt":"str"},{"t":"eq","v":"door2","vt":"str"},{"t":"eq","v":"door3","vt":"str"},{"t":"eq","v":"door4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":1450,"y":400,"wires":[["b3acb1d7.754ad"],["4ee27cd.c764484"],["1c4f7556.ff225b"],["6d2792eb.a070ac"]]},{"id":"4d15e57a.38f20c","type":"change","z":"d71338ba.7610c8","name":"","rules":[{"t":"set","p":"status","pt":"msg","to":"payload?'Close':'Open'","tot":"jsonata"},{"t":"set","p":"color","pt":"msg","to":"payload?'yellow':'red'","tot":"jsonata"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload?1:0","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":400,"wires":[["1cf4757c.43926b"]]},{"id":"4801db7d.8fad54","type":"ui_text","z":"d71338ba.7610c8","group":"4fd70989.3c7fb8","order":7,"width":3,"height":1,"name":"","label":"Timer","format":"<font  size=5 > {{msg.payload}} </font>","layout":"row-spread","x":3550,"y":2020,"wires":[]},{"id":"f23b6ab6.44c5d8","type":"change","z":"d71338ba.7610c8","name":"","rules":[{"t":"set","p":"timex","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":60,"wires":[["430d55c8.9f640c"]]},{"id":"ddc3589a.32b0b8","type":"inject","z":"d71338ba.7610c8","name":"","props":[{"p":"payload"},{"p":"topic","v":"","vt":"num"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"60000","payloadType":"num","x":1150,"y":60,"wires":[["1ee081d9.cb029e","f23b6ab6.44c5d8"]]},{"id":"f3a4820b.e150a","type":"inject","z":"d71338ba.7610c8","name":"15 s payload = door1","props":[],"repeat":"15","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":940,"y":1260,"wires":[["61385c83.4c5d74","523f567f.014618","b59beb0d.8454d8","f155ea2d.f0f358","83574e30.65f17","dce233ac.44d18","e9f28b81.2d7798"]]},{"id":"4d1c412b.1dcc","type":"switch","z":"d71338ba.7610c8","name":"= flowdoor1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"flowdoor1","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":1330,"y":1260,"wires":[["eba0132.2b504f"]]},{"id":"d9522468.19c598","type":"ui_template","z":"d71338ba.7610c8","group":"e461d128.b1148","name":"","order":4,"width":0,"height":0,"format":"<style id='custom-styles'>\n    .nr-dashboard-theme .nr-dashboard-textinput input {\n        border-color: #eeeeee;\n       \n        border-bottom-width: 1px;\n        font-family: inherit;\n        padding-left: 8px;\n        font-size: 25px;\n        height: 50px;\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","x":960,"y":60,"wires":[[]]},{"id":"9fcb9e67.7406b","type":"modbus-write","z":"d71338ba.7610c8","name":"Set Off 0","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"0","quantity":"1","server":"bf07dbb7.6d6928","emptyMsgOnFail":false,"keepMsgProperties":false,"x":3900,"y":1980,"wires":[[],[]]},{"id":"61d48b16.bcf5c4","type":"change","z":"d71338ba.7610c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"},{"t":"delete","p":"reset","pt":"msg"},{"t":"set","p":"delay","pt":"msg","to":"$flowContext(\"alarmtime\")*1000","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3580,"y":2080,"wires":[["749b2d67.05bb44","9fcb9e67.7406b"]]},{"id":"a672eeb1.3496b","type":"ui_gauge","z":"d71338ba.7610c8","name":"","group":"fa0c73cf.25601","order":1,"width":4,"height":2,"gtype":"gage","title":"In Temp","label":"units","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"10","seg2":"50","x":1720,"y":680,"wires":[]},{"id":"749b2d67.05bb44","type":"delay","z":"d71338ba.7610c8","name":"","pauseType":"delayv","timeout":"2","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3820,"y":2080,"wires":[["61a1c06.7b77a4"]]},{"id":"61a1c06.7b77a4","type":"change","z":"d71338ba.7610c8","name":"payload = 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3710,"y":1980,"wires":[["9fcb9e67.7406b"]]},{"id":"9d99d558.655c48","type":"function","z":"d71338ba.7610c8","name":"","func":"var onoff = flow.get('onoff1');\nnode.status({text:onoff});\nif (onoff == 'Off') { \n    return null;\n}\n \n    return msg;\n ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2720,"y":2020,"wires":[["661d2127.5437e"]]},{"id":"406569dc.2dafc8","type":"function","z":"d71338ba.7610c8","name":"INSERT Into IotData","func":"var sql = \"INSERT INTO iotdata (metric,value,iot,tag) VALUES (?,?,?,?)\";\n\n    var metric = msg.topic;\n    var value = msg.payload; \n    \n    msg.payload = [ metric,value,msg.iot,msg.tag];\n \n    msg.topic = sql;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":3720,"wires":[["9c233bad.b58408","e0b9c1f3.0176d"]]},{"id":"9c233bad.b58408","type":"mysql","z":"d71338ba.7610c8","mydb":"6cf82e37.9a1db","name":"","x":1110,"y":3800,"wires":[[]]},{"id":"b334c1e8.d62a7","type":"subflow:41113009.befaf","z":"d71338ba.7610c8","name":"","env":[],"x":3360,"y":2040,"wires":[["61d48b16.bcf5c4"],["4801db7d.8fad54"]]},{"id":"9e742d45.f8561","type":"subflow:41113009.befaf","z":"d71338ba.7610c8","name":"","x":3360,"y":2080,"wires":[["61d48b16.bcf5c4"],["4801db7d.8fad54"]]},{"id":"3ff2f670.6b0cba","type":"ui_chart","z":"d71338ba.7610c8","name":"","group":"bfd9b042.5d935","order":9,"width":0,"height":0,"label":"Open/Close","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1750,"y":1280,"wires":[[]]},{"id":"ac86c873.ee54b8","type":"switch","z":"d71338ba.7610c8","name":"= flowdoor2","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"flowdoor2","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":1330,"y":1300,"wires":[["3ff2f670.6b0cba"]]},{"id":"e261ca4.4c76138","type":"ui_chart","z":"d71338ba.7610c8","name":"","group":"a2a99612.2a7968","order":9,"width":0,"height":0,"label":"Open/Close","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1750,"y":1320,"wires":[[]]},{"id":"2c855854.e85558","type":"switch","z":"d71338ba.7610c8","name":"= flowdoor3","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"flowdoor3","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":1330,"y":1340,"wires":[["e261ca4.4c76138"]]},{"id":"3d614f7a.05d89","type":"ui_chart","z":"d71338ba.7610c8","name":"","group":"f3f28ddd.1157a","order":9,"width":0,"height":0,"label":"Open/Close","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1750,"y":1360,"wires":[[]]},{"id":"184f841f.01cfec","type":"switch","z":"d71338ba.7610c8","name":"= flowdoor4","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"flowdoor4","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":1330,"y":1380,"wires":[["3d614f7a.05d89"]]},{"id":"de6bbaf.10f9048","type":"change","z":"d71338ba.7610c8","name":"door1","rules":[{"t":"set","p":"payload","pt":"msg","to":"door1","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"door1","tot":"str"},{"t":"set","p":"flowdoor1","pt":"msg","to":"flowdoor1","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":1420,"wires":[["7520f8e2.eca9a8"]]},{"id":"9e993279.d8ff4","type":"change","z":"d71338ba.7610c8","name":"door2","rules":[{"t":"set","p":"payload","pt":"msg","to":"door2","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"door2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":1480,"wires":[["54e3b438.1b7b8c"]]},{"id":"99a3d616.1e88d8","type":"change","z":"d71338ba.7610c8","name":"door3","rules":[{"t":"set","p":"payload","pt":"msg","to":"door3","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"door3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":1520,"wires":[["5b058bfa.4c1b44"]]},{"id":"454fb285.a55aec","type":"change","z":"d71338ba.7610c8","name":"door4","rules":[{"t":"set","p":"payload","pt":"msg","to":"door4","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"door4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":1560,"wires":[["a5188e7.02b637"]]},{"id":"61385c83.4c5d74","type":"change","z":"d71338ba.7610c8","name":"door1","rules":[{"t":"set","p":"payload","pt":"msg","to":"door1","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"door1","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload?1:0","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":1260,"wires":[["4d1c412b.1dcc"]]},{"id":"523f567f.014618","type":"change","z":"d71338ba.7610c8","name":"door2","rules":[{"t":"set","p":"payload","pt":"msg","to":"door2","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"door2","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload?1:0","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":1300,"wires":[["ac86c873.ee54b8"]]},{"id":"b59beb0d.8454d8","type":"change","z":"d71338ba.7610c8","name":"door3","rules":[{"t":"set","p":"topic","pt":"msg","to":"door3","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"door3","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"payload?1:0","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":1340,"wires":[["2c855854.e85558"]]},{"id":"f155ea2d.f0f358","type":"change","z":"d71338ba.7610c8","name":"door4","rules":[{"t":"set","p":"topic","pt":"msg","to":"door4","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"door4","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"payload?1:0","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":1380,"wires":[["184f841f.01cfec"]]},{"id":"54e3b438.1b7b8c","type":"switch","z":"d71338ba.7610c8","name":"!= flowdoor2","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"flowdoor2","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":1310,"y":1480,"wires":[["ba625def.9b0ee"]]},{"id":"5b058bfa.4c1b44","type":"switch","z":"d71338ba.7610c8","name":"!= flowdoor3","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"flowdoor3","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":1310,"y":1520,"wires":[["fa3afff4.9443d"]]},{"id":"a5188e7.02b637","type":"switch","z":"d71338ba.7610c8","name":"!= flowdoor4","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"flowdoor4","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":1310,"y":1560,"wires":[["7f2d587f.6c8788"]]},{"id":"ba625def.9b0ee","type":"change","z":"d71338ba.7610c8","name":"flowdoor2 = door2","rules":[{"t":"set","p":"flowdoor2","pt":"flow","to":"door2","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":1480,"wires":[["b8e456e.4fdd7a8","3ff2f670.6b0cba"]]},{"id":"fa3afff4.9443d","type":"change","z":"d71338ba.7610c8","name":"flowdoor3 = door","rules":[{"t":"set","p":"flowdoor3","pt":"flow","to":"door3","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":1520,"wires":[["904c31fd.da36","e261ca4.4c76138"]]},{"id":"7f2d587f.6c8788","type":"change","z":"d71338ba.7610c8","name":"flowdoor4 = door4","rules":[{"t":"set","p":"flowdoor4","pt":"flow","to":"door4","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":1560,"wires":[["39d356a5.9597da","3d614f7a.05d89"]]},{"id":"3d549c36.021074","type":"change","z":"d71338ba.7610c8","name":"door1","rules":[{"t":"set","p":"Cooling","pt":"msg","to":"Cooling","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"door1","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"door1","tot":"str"},{"t":"set","p":"tag","pt":"msg","to":"Door","tot":"str"},{"t":"set","p":"iot","pt":"msg","to":"Cooling","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":3720,"wires":[["406569dc.2dafc8"]]},{"id":"75808725.039b78","type":"link out","z":"d71338ba.7610c8","name":"","links":["8e40a393.75c35","4729a323.b10cac","6052770a.b9e758","20d9eac8.37ea46","f3a59637.7705f8"],"x":1835,"y":1420,"wires":[]},{"id":"8e40a393.75c35","type":"link in","z":"d71338ba.7610c8","name":"","links":["75808725.039b78"],"x":2595,"y":1960,"wires":[["9d99d558.655c48","d01111da.008d4"]]},{"id":"b8e456e.4fdd7a8","type":"link out","z":"d71338ba.7610c8","name":"","links":["ec5635e4.703a08","599b669b.b101e8"],"x":1855,"y":1480,"wires":[]},{"id":"ec5635e4.703a08","type":"link in","z":"d71338ba.7610c8","name":"","links":["b8e456e.4fdd7a8"],"x":2595,"y":2280,"wires":[["f9e7f03e.84404","616e53fd.04691c"]]},{"id":"904c31fd.da36","type":"link out","z":"d71338ba.7610c8","name":"","links":["fbf8e720.435338","ef5fa7a5.b9ca48"],"x":1855,"y":1520,"wires":[]},{"id":"fbf8e720.435338","type":"link in","z":"d71338ba.7610c8","name":"","links":["904c31fd.da36"],"x":2595,"y":2620,"wires":[["b43910e7.a7767","c71a1f3c.4b261"]]},{"id":"39d356a5.9597da","type":"link out","z":"d71338ba.7610c8","name":"","links":["cdb7ce1f.6a853","74087504.5ac75c","eb6598da.a48b98"],"x":1855,"y":1560,"wires":[]},{"id":"9b3d5edf.183b6","type":"comment","z":"d71338ba.7610c8","name":"Machine 2","info":"","x":2460,"y":2140,"wires":[]},{"id":"b47f5274.96d4b","type":"comment","z":"d71338ba.7610c8","name":"Machine 4","info":"","x":2500,"y":2800,"wires":[]},{"id":"7cab3b0c.3fb924","type":"comment","z":"d71338ba.7610c8","name":"Machine 3","info":"","x":2480,"y":2480,"wires":[]},{"id":"e0b9c1f3.0176d","type":"debug","z":"d71338ba.7610c8","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":3660,"wires":[]},{"id":"c0424220.c44a2","type":"change","z":"d71338ba.7610c8","name":"flowdoor1-4 = 0","rules":[{"t":"set","p":"onoff1","pt":"flow","to":"Off","tot":"str"},{"t":"set","p":"onoff2","pt":"flow","to":"Off","tot":"str"},{"t":"set","p":"onoff3","pt":"flow","to":"Off","tot":"str"},{"t":"set","p":"onoff4","pt":"flow","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":140,"wires":[[]]},{"id":"efbe9a9d.f34b88","type":"switch","z":"d71338ba.7610c8","name":"Close = 1/ Open = 0","property":"flowdoor2","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2900,"y":2340,"wires":[["668b150a.a2740c"],["a1f9c5ed.d68d48"]]},{"id":"668b150a.a2740c","type":"change","z":"d71338ba.7610c8","name":"Set Close Timer","rules":[{"t":"set","p":"delay","pt":"msg","to":"$flowContext(\"closetimer2\")*$flowContext(\"timex\")","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"Cooling...","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"close","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3100,"y":2320,"wires":[["727f19a2.7d2f58","e4230240.305f8"]]},{"id":"a1f9c5ed.d68d48","type":"change","z":"d71338ba.7610c8","name":"Set Open Timer","rules":[{"t":"set","p":"delay","pt":"msg","to":"$flowContext(\"opentimer2\")*$flowContext(\"timex\")","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"< Reload >","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"orange","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3100,"y":2360,"wires":[["727f19a2.7d2f58","3276d16f.450dbe"]]},{"id":"68e22139.9b809","type":"ui_button","z":"d71338ba.7610c8","name":"","group":"bfd9b042.5d935","order":2,"width":2,"height":1,"passthru":true,"label":"On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"On","payloadType":"str","topic":"topic","topicType":"msg","x":2610,"y":2180,"wires":[["db7901f6.f66fe"]]},{"id":"db7901f6.f66fe","type":"change","z":"d71338ba.7610c8","name":"onoff2","rules":[{"t":"set","p":"onoff2","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"payload","tot":"msg"},{"t":"change","p":"color","pt":"msg","from":"On","fromt":"str","to":"red","tot":"str"},{"t":"change","p":"color","pt":"msg","from":"Off","fromt":"str","to":"blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2810,"y":2200,"wires":[["94a78ef4.4f29c","616e53fd.04691c"]]},{"id":"362f110c.32a15e","type":"ui_button","z":"d71338ba.7610c8","name":"","group":"bfd9b042.5d935","order":3,"width":2,"height":1,"passthru":true,"label":"Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Off","payloadType":"str","topic":"topic","topicType":"msg","x":2610,"y":2220,"wires":[["db7901f6.f66fe","f9e7f03e.84404"]]},{"id":"94a78ef4.4f29c","type":"ui_text","z":"d71338ba.7610c8","group":"bfd9b042.5d935","order":4,"width":3,"height":1,"name":"","label":"On/Off Status","format":"<font color=={{msg.color}} size={{msg.size}} > {{msg.payload}} </font>","layout":"row-spread","x":3080,"y":2200,"wires":[]},{"id":"727f19a2.7d2f58","type":"ui_text","z":"d71338ba.7610c8","group":"bfd9b042.5d935","order":8,"width":0,"height":0,"name":"","label":"Working","format":"<font color=={{msg.color}} size={{msg.size}} > {{msg.payload}} </font>","layout":"row-spread","x":3540,"y":2260,"wires":[]},{"id":"f9e7f03e.84404","type":"change","z":"d71338ba.7610c8","name":"Reset  Timer","rules":[{"t":"set","p":"reset","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3110,"y":2280,"wires":[["727f19a2.7d2f58","4522bba6.2af734","a54772f3.0ff8a","e4230240.305f8","3276d16f.450dbe"]]},{"id":"9b330a21.bc1988","type":"inject","z":"d71338ba.7610c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"Off","payloadType":"str","x":2610,"y":2140,"wires":[["db7901f6.f66fe"]]},{"id":"4522bba6.2af734","type":"ui_text","z":"d71338ba.7610c8","group":"bfd9b042.5d935","order":7,"width":3,"height":1,"name":"","label":"Timer","format":"<font  size=5 > {{msg.payload}} </font>","layout":"row-spread","x":3590,"y":2360,"wires":[]},{"id":"452e594e.1597e8","type":"modbus-write","z":"d71338ba.7610c8","name":"Set Off 0","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"0","quantity":"1","server":"bf07dbb7.6d6928","emptyMsgOnFail":false,"keepMsgProperties":false,"x":3920,"y":2300,"wires":[[],[]]},{"id":"e60639cc.2fb028","type":"change","z":"d71338ba.7610c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"},{"t":"delete","p":"reset","pt":"msg"},{"t":"set","p":"delay","pt":"msg","to":"$flowContext(\"alarmtime\")*1000","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3580,"y":2420,"wires":[["3a1b8533.2d4caa","452e594e.1597e8"]]},{"id":"3a1b8533.2d4caa","type":"delay","z":"d71338ba.7610c8","name":"","pauseType":"delayv","timeout":"2","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3780,"y":2420,"wires":[["a54772f3.0ff8a"]]},{"id":"a54772f3.0ff8a","type":"change","z":"d71338ba.7610c8","name":"payload = 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3710,"y":2300,"wires":[["452e594e.1597e8"]]},{"id":"616e53fd.04691c","type":"function","z":"d71338ba.7610c8","name":"","func":"var onoff = flow.get('onoff2');\nnode.status({text:onoff});\nif (onoff == 'Off') { \n    return null;\n}\n \n    return msg;\n ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2720,"y":2340,"wires":[["efbe9a9d.f34b88"]]},{"id":"e4230240.305f8","type":"subflow:41113009.befaf","z":"d71338ba.7610c8","name":"","x":3360,"y":2380,"wires":[["e60639cc.2fb028"],["4522bba6.2af734"]]},{"id":"3276d16f.450dbe","type":"subflow:41113009.befaf","z":"d71338ba.7610c8","name":"","x":3360,"y":2420,"wires":[["e60639cc.2fb028"],["4522bba6.2af734"]]},{"id":"1811211e.2c0f0f","type":"switch","z":"d71338ba.7610c8","name":"Close = 1/ Open = 0","property":"flowdoor3","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2920,"y":2680,"wires":[["a32c9cd5.aad3e"],["cb06adac.27ada"]]},{"id":"a32c9cd5.aad3e","type":"change","z":"d71338ba.7610c8","name":"Set Close Timer","rules":[{"t":"set","p":"delay","pt":"msg","to":"$flowContext(\"closetimer3\")*$flowContext(\"timex\")","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"Cooling...","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"close","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3120,"y":2660,"wires":[["a09902bc.d0e1a","c6dff9e1.7ab258"]]},{"id":"cb06adac.27ada","type":"change","z":"d71338ba.7610c8","name":"Set Open Timer","rules":[{"t":"set","p":"delay","pt":"msg","to":"$flowContext(\"opentimer3\")*$flowContext(\"timex\")","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"< Reload >","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"orange","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3120,"y":2700,"wires":[["a09902bc.d0e1a","2380e0a3.a8e0e"]]},{"id":"bbef4aae.0218d8","type":"ui_button","z":"d71338ba.7610c8","name":"","group":"a2a99612.2a7968","order":2,"width":2,"height":1,"passthru":true,"label":"On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"On","payloadType":"str","topic":"topic","topicType":"msg","x":2630,"y":2520,"wires":[["63928628.b287c8"]]},{"id":"63928628.b287c8","type":"change","z":"d71338ba.7610c8","name":"","rules":[{"t":"set","p":"onoff3","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"payload","tot":"msg"},{"t":"change","p":"color","pt":"msg","from":"On","fromt":"str","to":"red","tot":"str"},{"t":"change","p":"color","pt":"msg","from":"Off","fromt":"str","to":"blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2880,"y":2540,"wires":[["f98a113a.6d5fd","b43910e7.a7767"]]},{"id":"72bd1bf.a5b65e4","type":"ui_button","z":"d71338ba.7610c8","name":"","group":"a2a99612.2a7968","order":3,"width":2,"height":1,"passthru":true,"label":"Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Off","payloadType":"str","topic":"topic","topicType":"msg","x":2630,"y":2560,"wires":[["63928628.b287c8","c71a1f3c.4b261"]]},{"id":"f98a113a.6d5fd","type":"ui_text","z":"d71338ba.7610c8","group":"a2a99612.2a7968","order":4,"width":3,"height":1,"name":"","label":"On/Off Status","format":"<font color=={{msg.color}} size={{msg.size}} > {{msg.payload}} </font>","layout":"row-spread","x":3200,"y":2540,"wires":[]},{"id":"a09902bc.d0e1a","type":"ui_text","z":"d71338ba.7610c8","group":"a2a99612.2a7968","order":8,"width":0,"height":0,"name":"","label":"Working","format":"<font color=={{msg.color}} size={{msg.size}} > {{msg.payload}} </font>","layout":"row-spread","x":3540,"y":2620,"wires":[]},{"id":"c71a1f3c.4b261","type":"change","z":"d71338ba.7610c8","name":"Reset  Timer","rules":[{"t":"set","p":"reset","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3130,"y":2620,"wires":[["a09902bc.d0e1a","8186e11f.cbf19","82463b3e.8dd5c8","c6dff9e1.7ab258","2380e0a3.a8e0e"]]},{"id":"cd6ecd7.9eae53","type":"inject","z":"d71338ba.7610c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"Off","payloadType":"str","x":2630,"y":2480,"wires":[["63928628.b287c8"]]},{"id":"8186e11f.cbf19","type":"ui_text","z":"d71338ba.7610c8","group":"a2a99612.2a7968","order":7,"width":3,"height":1,"name":"","label":"Timer","format":"<font  size=5 > {{msg.payload}} </font>","layout":"row-spread","x":3590,"y":2700,"wires":[]},{"id":"e47072e9.ad03a","type":"modbus-write","z":"d71338ba.7610c8","name":"Set Off 0","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"0","quantity":"1","server":"bf07dbb7.6d6928","emptyMsgOnFail":false,"keepMsgProperties":false,"x":3960,"y":2680,"wires":[[],[]]},{"id":"589ca47b.7b6dec","type":"change","z":"d71338ba.7610c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"},{"t":"delete","p":"reset","pt":"msg"},{"t":"set","p":"delay","pt":"msg","to":"$flowContext(\"alarmtime\")*1000","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3620,"y":2760,"wires":[["45d29ff3.365b6","e47072e9.ad03a"]]},{"id":"45d29ff3.365b6","type":"delay","z":"d71338ba.7610c8","name":"","pauseType":"delayv","timeout":"2","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3840,"y":2760,"wires":[["82463b3e.8dd5c8"]]},{"id":"82463b3e.8dd5c8","type":"change","z":"d71338ba.7610c8","name":"payload = 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3750,"y":2660,"wires":[["e47072e9.ad03a"]]},{"id":"b43910e7.a7767","type":"function","z":"d71338ba.7610c8","name":"","func":"var onoff = flow.get('onoff3');\nnode.status({text:onoff});\nif (onoff == 'Off') { \n    return null;\n}\n \n    return msg;\n ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2740,"y":2680,"wires":[["1811211e.2c0f0f"]]},{"id":"c6dff9e1.7ab258","type":"subflow:41113009.befaf","z":"d71338ba.7610c8","name":"","x":3380,"y":2720,"wires":[["589ca47b.7b6dec"],["8186e11f.cbf19"]]},{"id":"2380e0a3.a8e0e","type":"subflow:41113009.befaf","z":"d71338ba.7610c8","name":"","x":3380,"y":2760,"wires":[["589ca47b.7b6dec"],["8186e11f.cbf19"]]},{"id":"28e702d7.42820e","type":"switch","z":"d71338ba.7610c8","name":"Close = 1/ Open = 0","property":"flowdoor4","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2920,"y":3000,"wires":[["f317a8f.f924858"],["588afde0.bc3884"]]},{"id":"f317a8f.f924858","type":"change","z":"d71338ba.7610c8","name":"Set Close Timer","rules":[{"t":"set","p":"delay","pt":"msg","to":"$flowContext(\"closetimer4\")*$flowContext(\"timex\")","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"Cooling...","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"close","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3120,"y":2980,"wires":[["a37fa961.0f83d8","c17d899.9ef1b78"]]},{"id":"588afde0.bc3884","type":"change","z":"d71338ba.7610c8","name":"Set Open Timer","rules":[{"t":"set","p":"delay","pt":"msg","to":"$flowContext(\"opentimer4\")*$flowContext(\"timex\")","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"< Reload >","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"orange","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"str"},{"t":"set","p":"status","pt":"msg","to":"open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3120,"y":3020,"wires":[["a37fa961.0f83d8","4f6271ea.895b7"]]},{"id":"85aa7eca.e1cf7","type":"ui_button","z":"d71338ba.7610c8","name":"","group":"f3f28ddd.1157a","order":2,"width":2,"height":1,"passthru":true,"label":"On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"On","payloadType":"str","topic":"topic","topicType":"msg","x":2650,"y":2840,"wires":[["1d648665.82884a"]]},{"id":"1d648665.82884a","type":"change","z":"d71338ba.7610c8","name":"","rules":[{"t":"set","p":"onoff4","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"size","pt":"msg","to":"6","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"payload","tot":"msg"},{"t":"change","p":"color","pt":"msg","from":"On","fromt":"str","to":"red","tot":"str"},{"t":"change","p":"color","pt":"msg","from":"Off","fromt":"str","to":"blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2880,"y":2860,"wires":[["1c017c1d.695b64","b799aa43.f73428"]]},{"id":"f275d30.c4ac63","type":"ui_button","z":"d71338ba.7610c8","name":"","group":"f3f28ddd.1157a","order":3,"width":2,"height":1,"passthru":true,"label":"Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Off","payloadType":"str","topic":"topic","topicType":"msg","x":2650,"y":2880,"wires":[["1d648665.82884a","f037ea9e.a288f8"]]},{"id":"1c017c1d.695b64","type":"ui_text","z":"d71338ba.7610c8","group":"f3f28ddd.1157a","order":4,"width":3,"height":1,"name":"","label":"On/Off Status","format":"<font color=={{msg.color}} size={{msg.size}} > {{msg.payload}} </font>","layout":"row-spread","x":3220,"y":2860,"wires":[]},{"id":"a37fa961.0f83d8","type":"ui_text","z":"d71338ba.7610c8","group":"f3f28ddd.1157a","order":8,"width":0,"height":0,"name":"","label":"Working","format":"<font color=={{msg.color}} size={{msg.size}} > {{msg.payload}} </font>","layout":"row-spread","x":3580,"y":2940,"wires":[]},{"id":"f037ea9e.a288f8","type":"change","z":"d71338ba.7610c8","name":"Reset  Timer","rules":[{"t":"set","p":"reset","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3130,"y":2940,"wires":[["a37fa961.0f83d8","cfcc3479.839098","f7dbd618.e72928","c17d899.9ef1b78","4f6271ea.895b7"]]},{"id":"d3eb6f01.721f5","type":"inject","z":"d71338ba.7610c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"Off","payloadType":"str","x":2650,"y":2800,"wires":[["1d648665.82884a"]]},{"id":"cfcc3479.839098","type":"ui_text","z":"d71338ba.7610c8","group":"f3f28ddd.1157a","order":7,"width":3,"height":1,"name":"","label":"Timer","format":"<font  size=5 > {{msg.payload}} </font>","layout":"row-spread","x":3570,"y":3020,"wires":[]},{"id":"2cd7078a.387c58","type":"modbus-write","z":"d71338ba.7610c8","name":"Set Off 0","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"0","quantity":"1","server":"bf07dbb7.6d6928","emptyMsgOnFail":false,"keepMsgProperties":false,"x":3960,"y":2980,"wires":[[],[]]},{"id":"9a2178f2.da5388","type":"change","z":"d71338ba.7610c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"},{"t":"delete","p":"reset","pt":"msg"},{"t":"set","p":"delay","pt":"msg","to":"$flowContext(\"alarmtime\")*1000","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3660,"y":3080,"wires":[["619551af.6555c","2cd7078a.387c58"]]},{"id":"619551af.6555c","type":"delay","z":"d71338ba.7610c8","name":"","pauseType":"delayv","timeout":"2","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3880,"y":3080,"wires":[["f7dbd618.e72928"]]},{"id":"f7dbd618.e72928","type":"change","z":"d71338ba.7610c8","name":"payload = 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3750,"y":2980,"wires":[["2cd7078a.387c58"]]},{"id":"b799aa43.f73428","type":"function","z":"d71338ba.7610c8","name":"","func":"var onoff = flow.get('onoff4');\nnode.status({text:onoff});\nif (onoff == 'Off') { \n    return null;\n}\n \n    return msg;\n ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2740,"y":3000,"wires":[["28e702d7.42820e"]]},{"id":"c17d899.9ef1b78","type":"subflow:41113009.befaf","z":"d71338ba.7610c8","name":"","x":3380,"y":3040,"wires":[["9a2178f2.da5388"],["cfcc3479.839098"]]},{"id":"4f6271ea.895b7","type":"subflow:41113009.befaf","z":"d71338ba.7610c8","name":"","env":[],"x":3380,"y":3080,"wires":[["9a2178f2.da5388"],["cfcc3479.839098"]]},{"id":"74087504.5ac75c","type":"link in","z":"d71338ba.7610c8","name":"","links":["39d356a5.9597da"],"x":2595,"y":2940,"wires":[["f037ea9e.a288f8","b799aa43.f73428"]]},{"id":"1ee081d9.cb029e","type":"ui_dropdown","z":"d71338ba.7610c8","name":"","label":"Timer Unit","tooltip":"","place":"Select option","group":"fa0c73cf.25601","order":6,"width":4,"height":1,"passthru":true,"multiple":false,"options":[{"label":"Minute","value":"60000","type":"str"},{"label":"Second","value":"1000","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":1330,"y":120,"wires":[["f23b6ab6.44c5d8"]]},{"id":"430d55c8.9f640c","type":"ui_text","z":"d71338ba.7610c8","group":"fa0c73cf.25601","order":13,"width":2,"height":1,"name":"","label":"time","format":"{{msg.payload}}","layout":"row-spread","x":1670,"y":60,"wires":[]},{"id":"c48ddbf.e7ae828","type":"link in","z":"d71338ba.7610c8","name":"","links":["f3cd5753.b00ef8"],"x":2475,"y":1900,"wires":[["54aca21f.6b210c"]]},{"id":"8a19fb58.0275f8","type":"link in","z":"d71338ba.7610c8","name":"","links":["84df37c2.fc1e38"],"x":2475,"y":1860,"wires":[["5c77ed14.6d5484"]]},{"id":"4883f295.8c61ac","type":"link in","z":"d71338ba.7610c8","name":"","links":["387eb46a.c7e49c"],"x":2455,"y":2220,"wires":[["362f110c.32a15e"]]},{"id":"ac51aa39.bd5b18","type":"link in","z":"d71338ba.7610c8","name":"","links":["77c5a728.5b76b8"],"x":2515,"y":2560,"wires":[["72bd1bf.a5b65e4"]]},{"id":"1ac4db90.87c194","type":"link in","z":"d71338ba.7610c8","name":"","links":["614d1f92.4dd15"],"x":2535,"y":2880,"wires":[["f275d30.c4ac63"]]},{"id":"95c77497.286778","type":"link in","z":"d71338ba.7610c8","name":"","links":["9c395aa5.d683d8"],"x":2455,"y":2180,"wires":[["68e22139.9b809"]]},{"id":"f9feba40.398898","type":"link in","z":"d71338ba.7610c8","name":"","links":["40a1df2d.a32f"],"x":2515,"y":2520,"wires":[["bbef4aae.0218d8"]]},{"id":"cb092990.6f1818","type":"link in","z":"d71338ba.7610c8","name":"","links":["d51b1f3c.9ed13"],"x":2535,"y":2840,"wires":[["85aa7eca.e1cf7"]]},{"id":"9c4ca38b.2b0f3","type":"comment","z":"d71338ba.7610c8","name":"Read From HF2211  Doors 1 and Temperature 2","info":"","x":520,"y":320,"wires":[]},{"id":"e3aeae68.c3d93","type":"change","z":"d71338ba.7610c8","name":"","rules":[{"t":"set","p":"arraydoors","pt":"flow","to":"[msg.payload[0]?1:0,msg.payload[1]?1:0,msg.payload[2]?1:0,msg.payload[3]?1:0]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":520,"wires":[["c45ddc9a.e717"]]},{"id":"60b065d0.571a9c","type":"inject","z":"d71338ba.7610c8","name":"Read HF2211 after 3 S","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"4","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":170,"y":380,"wires":[["4875bac6.428194","576ca517.eaa78c"]]},{"id":"4875bac6.428194","type":"delay","z":"d71338ba.7610c8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":160,"y":480,"wires":[["3ca1906b.4875f","d8de245b.3fc0e8"]]},{"id":"e780ea09.33dc08","type":"comment","z":"d71338ba.7610c8","name":"Read From HMI ","info":"","x":580,"y":1880,"wires":[]},{"id":"e7ec8bda.e0fdf8","type":"ui_text","z":"d71338ba.7610c8","group":"fa0c73cf.25601","order":8,"width":5,"height":1,"name":"Last Update","label":"","format":"HF s{{msg.topic}} - {{msg.payload}} ","layout":"row-spread","x":1750,"y":620,"wires":[]},{"id":"4d965f83.b2529","type":"moment","z":"d71338ba.7610c8","name":"","topic":"","input":"payload","inputType":"msg","inTz":"ETC/GMT","adjAmount":"7","adjType":"hours","adjDir":"add","format":"DD/MM/YYYY - HH:mm:ss","locale":"en_GB","output":"payload","outputType":"msg","outTz":"ETC/GMT","x":1340,"y":620,"wires":[["e7ec8bda.e0fdf8","57cd03a0.d5611c"]]},{"id":"168cab13.3efe15","type":"change","z":"d71338ba.7610c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":580,"wires":[["4d965f83.b2529"]]},{"id":"647c4538.643f0c","type":"comment","z":"d71338ba.7610c8","name":"Write Data To HMI","info":"","x":1950,"y":2620,"wires":[]},{"id":"3c112cda.e4d8f4","type":"comment","z":"d71338ba.7610c8","name":"","info":"","x":1220,"y":2840,"wires":[]},{"id":"265a1832.688d38","type":"inject","z":"d71338ba.7610c8","name":"Every 1 min","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Every 1 m to Db  hfconnecting = 0","payloadType":"str","x":170,"y":3920,"wires":[["635712d.fe4b2ec"]]},{"id":"a9c73f8e.27209","type":"change","z":"d71338ba.7610c8","name":"door2","rules":[{"t":"set","p":"Cooling","pt":"msg","to":"Cooling","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"door2","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"door2","tot":"str"},{"t":"set","p":"tag","pt":"msg","to":"Door","tot":"str"},{"t":"set","p":"iot","pt":"msg","to":"Cooling","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":3760,"wires":[["406569dc.2dafc8"]]},{"id":"b56a3a9b.0b9bf8","type":"change","z":"d71338ba.7610c8","name":"door3","rules":[{"t":"set","p":"Cooling","pt":"msg","to":"Cooling","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"door3","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"door3","tot":"str"},{"t":"set","p":"tag","pt":"msg","to":"Door","tot":"str"},{"t":"set","p":"iot","pt":"msg","to":"Cooling","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":3800,"wires":[["406569dc.2dafc8"]]},{"id":"e1caa7fa.ed8e78","type":"change","z":"d71338ba.7610c8","name":"door4","rules":[{"t":"set","p":"Cooling","pt":"msg","to":"Cooling","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"door4","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"door4","tot":"str"},{"t":"set","p":"tag","pt":"msg","to":"Door","tot":"str"},{"t":"set","p":"iot","pt":"msg","to":"Cooling","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":3840,"wires":[["406569dc.2dafc8"]]},{"id":"fefd4018.b60c7","type":"change","z":"d71338ba.7610c8","name":"InTemp","rules":[{"t":"set","p":"Cooling","pt":"msg","to":"Cooling","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"InTemp","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"InTemp","tot":"str"},{"t":"set","p":"tag","pt":"msg","to":"Temp","tot":"str"},{"t":"set","p":"iot","pt":"msg","to":"Cooling","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":3920,"wires":[["406569dc.2dafc8"]]},{"id":"63eb1ce3.2d06b4","type":"change","z":"d71338ba.7610c8","name":"RoomTemp","rules":[{"t":"set","p":"Cooling","pt":"msg","to":"Cooling","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"RoomTemp","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"RoomTemp","tot":"str"},{"t":"set","p":"tag","pt":"msg","to":"Temp","tot":"str"},{"t":"set","p":"iot","pt":"msg","to":"Cooling","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":3960,"wires":[["406569dc.2dafc8"]]},{"id":"ca428771.764eb8","type":"comment","z":"d71338ba.7610c8","name":"Door 1 Change","info":"","x":2500,"y":1960,"wires":[]},{"id":"f3a59637.7705f8","type":"link in","z":"d71338ba.7610c8","name":"","links":["75808725.039b78"],"x":595,"y":3720,"wires":[["3d549c36.021074"]]},{"id":"c0f742b3.0973f","type":"comment","z":"d71338ba.7610c8","name":"Door 1 Change","info":"","x":500,"y":3720,"wires":[]},{"id":"af557a96.575788","type":"comment","z":"d71338ba.7610c8","name":"Door 2 Change","info":"","x":2500,"y":2280,"wires":[]},{"id":"599b669b.b101e8","type":"link in","z":"d71338ba.7610c8","name":"","links":["b8e456e.4fdd7a8"],"x":595,"y":3760,"wires":[["a9c73f8e.27209"]]},{"id":"6b7511d3.1ca0a","type":"comment","z":"d71338ba.7610c8","name":"Door 2 Change","info":"","x":500,"y":3760,"wires":[]},{"id":"8ac40170.ca1aa","type":"comment","z":"d71338ba.7610c8","name":"Door 3 Change","info":"","x":2500,"y":2620,"wires":[]},{"id":"ef5fa7a5.b9ca48","type":"link in","z":"d71338ba.7610c8","name":"","links":["904c31fd.da36"],"x":595,"y":3800,"wires":[["b56a3a9b.0b9bf8"]]},{"id":"35157a16.e6ae56","type":"comment","z":"d71338ba.7610c8","name":"Door 3 Change","info":"","x":500,"y":3800,"wires":[]},{"id":"f21a466d.2acd18","type":"comment","z":"d71338ba.7610c8","name":"Door 4 Change","info":"","x":2500,"y":2940,"wires":[]},{"id":"eb6598da.a48b98","type":"link in","z":"d71338ba.7610c8","name":"","links":["39d356a5.9597da"],"x":595,"y":3840,"wires":[["e1caa7fa.ed8e78"]]},{"id":"8ce9139b.93c46","type":"comment","z":"d71338ba.7610c8","name":"Door 4 Change","info":"","x":500,"y":3840,"wires":[]},{"id":"ad1ded01.12903","type":"comment","z":"d71338ba.7610c8","name":"Set All ClosTimer","info":"","x":1000,"y":2420,"wires":[]},{"id":"1c79345f.dcd5fc","type":"comment","z":"d71338ba.7610c8","name":"Set All OpenTimer","info":"","x":950,"y":2680,"wires":[]},{"id":"53ac24f5.12353c","type":"comment","z":"d71338ba.7610c8","name":"Write Data To Database","info":"","x":320,"y":3680,"wires":[]},{"id":"3ca1906b.4875f","type":"delay","z":"d71338ba.7610c8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":160,"y":580,"wires":[["e0b4b69d.553ea8","3a38ae4a.5dc822"]]},{"id":"2694e89.9a15c18","type":"change","z":"d71338ba.7610c8","name":"Sv3 - RoomTemp payload[1] ","rules":[{"t":"set","p":"value","pt":"msg","to":"payload[1]","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"payload[1]/10","tot":"jsonata"},{"t":"set","p":"RoomTemp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":800,"wires":[["3d60a50.d00a75c"]]},{"id":"f1d772a.c7e7d9","type":"ui_gauge","z":"d71338ba.7610c8","name":"","group":"fa0c73cf.25601","order":10,"width":4,"height":2,"gtype":"gage","title":"Room Temp","label":"units","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"50","x":1750,"y":800,"wires":[]},{"id":"f4492928.13a928","type":"change","z":"d71338ba.7610c8","name":"Sv3 - RoomHumi payload[0]","rules":[{"t":"set","p":"value","pt":"msg","to":"payload[0]","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"payload[0]/10","tot":"jsonata"},{"t":"set","p":"RoomHumi","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":760,"wires":[["bc66b4d7.1b2fa8"]]},{"id":"b8a52b74.96e7c8","type":"ui_gauge","z":"d71338ba.7610c8","name":"","group":"fa0c73cf.25601","order":11,"width":4,"height":2,"gtype":"gage","title":"Room Humi","label":"units","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"65","seg2":"80","x":1750,"y":760,"wires":[]},{"id":"dce233ac.44d18","type":"change","z":"d71338ba.7610c8","name":"RoomHumi ","rules":[{"t":"set","p":"payload","pt":"msg","to":"RoomHumi","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"RoomHumi","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":1160,"wires":[["4c668d82.1c0154"]]},{"id":"d8142255.69db9","type":"change","z":"d71338ba.7610c8","name":"RoomTemp RoomHumi","rules":[{"t":"set","p":"RoomTemp","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"RoomHumi","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":60,"wires":[[]]},{"id":"83574e30.65f17","type":"change","z":"d71338ba.7610c8","name":"RoomTemp","rules":[{"t":"set","p":"payload","pt":"msg","to":"RoomTemp","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"RoomTemp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":1200,"wires":[["4c668d82.1c0154"]]},{"id":"e9f28b81.2d7798","type":"change","z":"d71338ba.7610c8","name":"InTemp","rules":[{"t":"set","p":"payload","pt":"msg","to":"InTemp","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"InTemp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":1120,"wires":[["4c668d82.1c0154"]]},{"id":"8b6027b3.237648","type":"change","z":"d71338ba.7610c8","name":"RoomHumi","rules":[{"t":"set","p":"Cooling","pt":"msg","to":"Cooling","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"RoomHumi","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"RoomHumi","tot":"str"},{"t":"set","p":"tag","pt":"msg","to":"Humi","tot":"str"},{"t":"set","p":"iot","pt":"msg","to":"Cooling","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":4000,"wires":[["406569dc.2dafc8"]]},{"id":"57cd03a0.d5611c","type":"change","z":"d71338ba.7610c8","name":"currentUpdate","rules":[{"t":"set","p":"currentUpdate","pt":"flow","to":"","tot":"date"},{"t":"set","p":"payload","pt":"msg","to":"Running","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1580,"y":640,"wires":[[]]},{"id":"a99f76ac.268da8","type":"switch","z":"d71338ba.7610c8","name":"? lastUpdate <> currentUpdate","property":"currentUpdate","propertyType":"flow","rules":[{"t":"gte","v":"lastUpdate","vt":"flow"},{"t":"eq","v":"lastUpdate","vt":"flow"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":3940,"wires":[["8b6027b3.237648","63eb1ce3.2d06b4","fefd4018.b60c7","e1caa7fa.ed8e78","b56a3a9b.0b9bf8","a9c73f8e.27209","3d549c36.021074"],[]]},{"id":"433683d7.d93f2c","type":"change","z":"d71338ba.7610c8","name":"lastUpdate =  CurrentUpdate = timestamp","rules":[{"t":"set","p":"currentUpdate","pt":"flow","to":"","tot":"date"},{"t":"set","p":"lastUpdate","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":180,"wires":[[]]},{"id":"5457bd91.9f5394","type":"change","z":"d71338ba.7610c8","name":"","rules":[{"t":"set","p":"lastUpdate","pt":"flow","to":"currentUpdate","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":940,"wires":[[]]},{"id":"5838cbe6.178154","type":"http request","z":"d71338ba.7610c8","d":true,"name":"Restart","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/restart-flows ","tls":"","persist":false,"proxy":"","authType":"","x":440,"y":4180,"wires":[[]],"info":"Note:\nEnsure the path is correct\nif httpAdminRoot: '/admin' is activated then \nthis needs to be added to\nhttp://localhost:1880/"},{"id":"79b0ff42.f884","type":"ui_button","z":"d71338ba.7610c8","d":true,"name":"","group":"fa0c73cf.25601","order":14,"width":0,"height":0,"passthru":false,"label":"Restart flow","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":4180,"wires":[["5838cbe6.178154"]]},{"id":"599fa69f.d41b88","type":"comment","z":"d71338ba.7610c8","name":"Error Reading","info":"","x":830,"y":680,"wires":[]},{"id":"7f578ff0.6f4c9","type":"change","z":"d71338ba.7610c8","name":"lb20connecting = 0  hfconnecting =0     hmiconnecting =0","rules":[{"t":"set","p":"lb20connecting","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"hfconnecting1","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"hfconnecting2","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"hfconnecting3","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"hmiconnecting","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":220,"wires":[[]]},{"id":"6ad4ff93.4e04e","type":"change","z":"d71338ba.7610c8","name":"hfconnecting = 0","rules":[{"t":"set","p":"hfconnecting1","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":420,"wires":[["926b9516.d044c8"]]},{"id":"41ee0330.1c92ec","type":"change","z":"d71338ba.7610c8","name":"hfconnecting1 = 1","rules":[{"t":"set","p":"hfconnecting1","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":540,"wires":[["91c2857.4221178","7c4c65bf.8c186c","5e75c24b.1d45dc","fdbdc468.d90998","e3aeae68.c3d93","168cab13.3efe15"]]},{"id":"635712d.fe4b2ec","type":"switch","z":"d71338ba.7610c8","name":"? hfconnecting1 = 1","property":"hfconnecting1","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":4000,"wires":[["a99f76ac.268da8"],["6ff6c763.a5eca8"]]},{"id":"6ff6c763.a5eca8","type":"debug","z":"d71338ba.7610c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":4100,"wires":[]},{"id":"e0b4b69d.553ea8","type":"delay","z":"d71338ba.7610c8","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":350,"y":860,"wires":[["5886e422.733e6c"]]},{"id":"a49bd5d5.6f25d8","type":"delay","z":"d71338ba.7610c8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1380,"y":560,"wires":[["c7a89f4f.15a4"]]},{"id":"c45ddc9a.e717","type":"change","z":"d71338ba.7610c8","name":"Write arraydoors LB21-24","rules":[{"t":"set","p":"value","pt":"msg","to":"arraydoors","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"Doors","tot":"str"},{"t":"set","p":"address","pt":"msg","to":"21","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":500,"wires":[["c2e8a20.ab6176","a49bd5d5.6f25d8"]]},{"id":"c7a89f4f.15a4","type":"change","z":"d71338ba.7610c8","name":"Write Doors LB91-94","rules":[{"t":"set","p":"value","pt":"msg","to":"arraydoors","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"Doors","tot":"str"},{"t":"set","p":"address","pt":"msg","to":"91","tot":"num"},{"t":"set","p":"quantity","pt":"msg","to":"4","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1580,"y":560,"wires":[["20052bd7.e6b154"]]},{"id":"c2e8a20.ab6176","type":"function","z":"d71338ba.7610c8","name":"FC15 Bit To HMI","func":" node.status({text:msg.value });\n \n    msg.payload = { \n    'fc': 15, \n    'unitid': 1,\n    'address': msg.address , \n    'quantity': 4 , \n     'value': msg.value\n    };  \n     \n    return msg;\n     \n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1820,"y":500,"wires":[["a088eb13.85a408"]]},{"id":"20052bd7.e6b154","type":"function","z":"d71338ba.7610c8","name":"FC16 word To HMI","func":" node.status({text: msg.value +' -> LW '+ msg.address });\n \n \n \n\n    msg.payload = { \n    'fc': 16, \n    'unitid': 1,\n    'address': msg.address , \n    'quantity': msg.quantity , \n     'value': msg.value\n    };  \n     \n    return msg;\n     \n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1830,"y":560,"wires":[["a088eb13.85a408"]]},{"id":"a088eb13.85a408","type":"modbus-flex-write","z":"d71338ba.7610c8","name":"Write to HMI","showStatusActivities":false,"showErrors":false,"server":"1fdc6193.368fde","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2030,"y":760,"wires":[[],[]]},{"id":"9fba439c.f8b1a","type":"inject","z":"d71338ba.7610c8","name":"Every 6 s  refresh Connection Status","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"6","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":910,"y":1000,"wires":[["3752960a.b8224a"]]},{"id":"e5920a85.c74a08","type":"function","z":"d71338ba.7610c8","name":"FC15 Bit To HMI","func":" node.status({text:msg.value });\n \n \n \n\n    msg.payload = { \n    'fc': 15, \n    'unitid': 1,\n    'address': msg.address , \n    'quantity': 4 , \n     'value': msg.value\n    };  \n     \n    return msg;\n     \n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1640,"y":3340,"wires":[["ed27c61.fcb0138"]]},{"id":"3ef6bc70.4f0884","type":"function","z":"d71338ba.7610c8","name":"FC16 word To HMI","func":" node.status({text: msg.value +' -> LW '+ msg.address });\n \n \n \n\n    msg.payload = { \n    'fc': 16, \n    'unitid': 1,\n    'address': msg.address , \n    'quantity': msg.quantity , \n     'value': msg.value\n    };  \n     \n    return msg;\n     \n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1610,"y":3180,"wires":[["ed27c61.fcb0138"]]},{"id":"3752960a.b8224a","type":"switch","z":"d71338ba.7610c8","name":"? lastUpdate <> currentUpdate","property":"currentUpdate","propertyType":"flow","rules":[{"t":"gte","v":"lastUpdate","vt":"flow"},{"t":"eq","v":"lastUpdate","vt":"flow"}],"checkall":"true","repair":false,"outputs":2,"x":1230,"y":1000,"wires":[["d6cdc08d.5ec93","5457bd91.9f5394"],["38f4aa81.7e7586"]]},{"id":"90e7167d.3093d8","type":"change","z":"d71338ba.7610c8","name":"Write arraydoors LB21-24","rules":[{"t":"set","p":"value","pt":"msg","to":"arraydoors","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"Doors","tot":"str"},{"t":"set","p":"address","pt":"msg","to":"21","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":3280,"wires":[["e5920a85.c74a08"]]},{"id":"ce35dfe6.600c8","type":"change","z":"d71338ba.7610c8","name":"Write TimerClose LW31-34","rules":[{"t":"set","p":"value","pt":"msg","to":"[$flowContext(\"closetimer1\"),$flowContext(\"closetimer2\"),$flowContext(\"closetimer3\"),$flowContext(\"closetimer4\")]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"closetimer","tot":"str"},{"t":"set","p":"address","pt":"msg","to":"31","tot":"str"},{"t":"set","p":"quantity","pt":"msg","to":"4","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":3140,"wires":[["3ef6bc70.4f0884"]]},{"id":"d78787d6.c64298","type":"change","z":"d71338ba.7610c8","name":"Write opentimer1-4  LW51-54","rules":[{"t":"set","p":"topic","pt":"msg","to":"opentimer","tot":"str"},{"t":"set","p":"address","pt":"msg","to":"51","tot":"str"},{"t":"set","p":"value","pt":"msg","to":"[$flowContext(\"opentimer1\"),$flowContext(\"opentimer2\"),$flowContext(\"opentimer3\"),$flowContext(\"opentimer4\")]","tot":"jsonata"},{"t":"set","p":"quantity","pt":"msg","to":"4","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":3180,"wires":[["3ef6bc70.4f0884"]]},{"id":"40e8207d.d79bc","type":"change","z":"d71338ba.7610c8","name":"Write Doors LB91-94","rules":[{"t":"set","p":"value","pt":"msg","to":"arraydoors","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"Doors","tot":"str"},{"t":"set","p":"address","pt":"msg","to":"91","tot":"num"},{"t":"set","p":"quantity","pt":"msg","to":"4","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":3340,"wires":[["3ef6bc70.4f0884"]]},{"id":"f6d95e72.261ce","type":"change","z":"d71338ba.7610c8","name":"cooltime LW21 reloadtime LW23  alarmtime  LW25","rules":[{"t":"set","p":"topic","pt":"msg","to":"cooltime","tot":"str"},{"t":"set","p":"address","pt":"msg","to":"21","tot":"num"},{"t":"set","p":"value","pt":"msg","to":"[$flowContext(\"cooltime\"),0,$flowContext(\"reloadtime\"),0,$flowContext(\"alarmtime\")]","tot":"jsonata"},{"t":"set","p":"quantity","pt":"msg","to":"5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":3220,"wires":[["3ef6bc70.4f0884"]]},{"id":"d6cdc08d.5ec93","type":"change","z":"d71338ba.7610c8","name":"HF Connecting","rules":[{"t":"set","p":"payload","pt":"msg","to":"HF Connecting","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":980,"wires":[["4f7341ee.4c073"]]},{"id":"38f4aa81.7e7586","type":"change","z":"d71338ba.7610c8","name":"HF Fail Connecting","rules":[{"t":"set","p":"payload","pt":"msg","to":"!!! HF Fail Connecting","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":1040,"wires":[["4f7341ee.4c073"]]},{"id":"9942454e.509f18","type":"delay","z":"d71338ba.7610c8","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1110,"y":3280,"wires":[["90e7167d.3093d8"]]},{"id":"e885b5b1.178be8","type":"delay","z":"d71338ba.7610c8","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":610,"y":3140,"wires":[["ce35dfe6.600c8","bdd4a49a.221d48"]]},{"id":"bdd4a49a.221d48","type":"delay","z":"d71338ba.7610c8","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":610,"y":3180,"wires":[["d78787d6.c64298","586617bb.6124b8"]]},{"id":"c73ffdd4.5ce99","type":"delay","z":"d71338ba.7610c8","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1110,"y":3340,"wires":[["40e8207d.d79bc"]]},{"id":"586617bb.6124b8","type":"delay","z":"d71338ba.7610c8","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":610,"y":3220,"wires":[["f6d95e72.261ce","e85ff569.6efb18"]]},{"id":"4f7341ee.4c073","type":"ui_text","z":"d71338ba.7610c8","group":"fa0c73cf.25601","order":7,"width":5,"height":1,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":1890,"y":1000,"wires":[]},{"id":"e85ff569.6efb18","type":"delay","z":"d71338ba.7610c8","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":610,"y":3260,"wires":[[]]},{"id":"884e04d0.e025c8","type":"change","z":"d71338ba.7610c8","name":"payload[0]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"jsonata"},{"t":"set","p":"address","pt":"msg","to":"51","tot":"num"},{"t":"set","p":"address2","pt":"msg","to":"31","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":2940,"wires":[["f0b5004d.d3a6c"]]},{"id":"16734330.897e4d","type":"change","z":"d71338ba.7610c8","name":"payload[1]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1]","tot":"jsonata"},{"t":"set","p":"address","pt":"msg","to":"52","tot":"num"},{"t":"set","p":"address2","pt":"msg","to":"32","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":2980,"wires":[["f0b5004d.d3a6c"]]},{"id":"7ac2eee9.70663","type":"change","z":"d71338ba.7610c8","name":"payload[2]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[2]","tot":"jsonata"},{"t":"set","p":"address","pt":"msg","to":"53","tot":"num"},{"t":"set","p":"address2","pt":"msg","to":"33","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":3020,"wires":[["f0b5004d.d3a6c"]]},{"id":"4fdcca47.8ac6b4","type":"change","z":"d71338ba.7610c8","name":"payload[3]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[3]","tot":"jsonata"},{"t":"set","p":"address","pt":"msg","to":"54","tot":"num"},{"t":"set","p":"address2","pt":"msg","to":"34","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":3060,"wires":[["f0b5004d.d3a6c"]]},{"id":"f0b5004d.d3a6c","type":"function","z":"d71338ba.7610c8","name":"FC05 Set LB41-44","func":" node.status({text:msg.payload });\n\nif (msg.payload) {\n\n    msg.payload = { \n    'fc': 5, \n    'unitid': 1,\n    'address': msg.address , \n    'quantity': 1 , \n     'value': 0\n    };  \n     \n    return msg;\n    \n} else {\n    return null;\n}\n \n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":2940,"wires":[["c5fbd187.a8a55","23b39cd9.39ba24"]]},{"id":"a5b798f7.bbca58","type":"change","z":"d71338ba.7610c8","name":"payload[0]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"jsonata"},{"t":"set","p":"address","pt":"msg","to":"41","tot":"num"},{"t":"set","p":"address2","pt":"msg","to":"31","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":2740,"wires":[["a1420ba0.f00388"]]},{"id":"6d1df57d.fe60cc","type":"change","z":"d71338ba.7610c8","name":"payload[1]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1]","tot":"jsonata"},{"t":"set","p":"address","pt":"msg","to":"42","tot":"num"},{"t":"set","p":"address2","pt":"msg","to":"32","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":2780,"wires":[["a1420ba0.f00388"]]},{"id":"fd1b7a54.dcc7d8","type":"change","z":"d71338ba.7610c8","name":"payload[2]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[2]","tot":"jsonata"},{"t":"set","p":"address","pt":"msg","to":"43","tot":"num"},{"t":"set","p":"address2","pt":"msg","to":"33","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":2820,"wires":[["a1420ba0.f00388"]]},{"id":"f7f97ac1.8fd848","type":"change","z":"d71338ba.7610c8","name":"payload[3]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[3]","tot":"jsonata"},{"t":"set","p":"address","pt":"msg","to":"44","tot":"num"},{"t":"set","p":"address2","pt":"msg","to":"34","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":2860,"wires":[["a1420ba0.f00388"]]},{"id":"c5fbd187.a8a55","type":"switch","z":"d71338ba.7610c8","name":"","property":"address","propertyType":"msg","rules":[{"t":"eq","v":"51","vt":"str"},{"t":"eq","v":"52","vt":"str"},{"t":"eq","v":"53","vt":"str"},{"t":"eq","v":"54","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":1890,"y":3060,"wires":[["84df37c2.fc1e38"],["9c395aa5.d683d8"],["40a1df2d.a32f"],["d51b1f3c.9ed13"]]},{"id":"23b39cd9.39ba24","type":"subflow:72729282.e85afc","z":"d71338ba.7610c8","name":"Second Value 0","env":[{"name":"secondvalue","value":"1","type":"num"}],"x":1500,"y":2940,"wires":[["ed27c61.fcb0138"]]},{"id":"a1420ba0.f00388","type":"function","z":"d71338ba.7610c8","name":"FC05 Set LB41-44","func":" node.status({text:msg.payload });\n\nif (msg.payload) {\n\n    msg.payload = { \n    'fc': 5, \n    'unitid': 1,\n    'address': msg.address , \n    'quantity': 1 , \n     'value': 0\n    };  \n     \n    return msg;\n    \n} else {\n    return null;\n}\n \n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":2740,"wires":[["707aa78c.b63c38","ef9789fb.f68de8"]]},{"id":"84df37c2.fc1e38","type":"link out","z":"d71338ba.7610c8","name":"","links":["8a19fb58.0275f8"],"x":2015,"y":3000,"wires":[]},{"id":"9c395aa5.d683d8","type":"link out","z":"d71338ba.7610c8","name":"","links":["95c77497.286778"],"x":2015,"y":3040,"wires":[]},{"id":"40a1df2d.a32f","type":"link out","z":"d71338ba.7610c8","name":"","links":["f9feba40.398898"],"x":2015,"y":3080,"wires":[]},{"id":"d51b1f3c.9ed13","type":"link out","z":"d71338ba.7610c8","name":"","links":["cb092990.6f1818"],"x":2015,"y":3120,"wires":[]},{"id":"ed27c61.fcb0138","type":"modbus-flex-write","z":"d71338ba.7610c8","name":"Write HMI","showStatusActivities":false,"showErrors":false,"server":"1fdc6193.368fde","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1920,"y":2660,"wires":[[],[]]},{"id":"bb3412d1.b4ebe","type":"change","z":"d71338ba.7610c8","name":"payload[0]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"jsonata"},{"t":"set","p":"address","pt":"msg","to":"51","tot":"num"},{"t":"set","p":"address2","pt":"msg","to":"61","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":2500,"wires":[["834e74a3.1094d8","b24b3f2a.27ccf"]]},{"id":"a60ca730.73d2a8","type":"change","z":"d71338ba.7610c8","name":"payload[1]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1]","tot":"jsonata"},{"t":"set","p":"address","pt":"msg","to":"52","tot":"num"},{"t":"set","p":"address2","pt":"msg","to":"62","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":2540,"wires":[["834e74a3.1094d8","b24b3f2a.27ccf"]]},{"id":"7ace5ad0.72f4d4","type":"change","z":"d71338ba.7610c8","name":"payload[2]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[2]","tot":"jsonata"},{"t":"set","p":"address","pt":"msg","to":"53","tot":"num"},{"t":"set","p":"address2","pt":"msg","to":"63","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":2580,"wires":[["834e74a3.1094d8","b24b3f2a.27ccf"]]},{"id":"a8c9b6e8.6d8118","type":"change","z":"d71338ba.7610c8","name":"payload[3]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[3]","tot":"jsonata"},{"t":"set","p":"address","pt":"msg","to":"54","tot":"num"},{"t":"set","p":"address2","pt":"msg","to":"64","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":2620,"wires":[["834e74a3.1094d8","b24b3f2a.27ccf"]]},{"id":"707aa78c.b63c38","type":"switch","z":"d71338ba.7610c8","name":"","property":"address","propertyType":"msg","rules":[{"t":"eq","v":"41","vt":"str"},{"t":"eq","v":"42","vt":"str"},{"t":"eq","v":"43","vt":"str"},{"t":"eq","v":"44","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":1890,"y":2880,"wires":[["f3cd5753.b00ef8"],["387eb46a.c7e49c"],["77c5a728.5b76b8"],["614d1f92.4dd15"]]},{"id":"ef9789fb.f68de8","type":"subflow:72729282.e85afc","z":"d71338ba.7610c8","name":"Second Value 1","env":[],"x":1480,"y":2740,"wires":[["ed27c61.fcb0138"]]},{"id":"3c778b10.bfcc04","type":"subflow:72729282.e85afc","z":"d71338ba.7610c8","name":"Second Value 0","env":[],"x":1560,"y":2240,"wires":[["ed27c61.fcb0138"]]},{"id":"efc11cfc.17bb2","type":"subflow:72729282.e85afc","z":"d71338ba.7610c8","name":"Second Value 0","env":[],"x":1500,"y":2500,"wires":[["ed27c61.fcb0138"]]},{"id":"b9b38ffe.671fb","type":"subflow:72729282.e85afc","z":"d71338ba.7610c8","name":"Second Value 0","env":[],"x":1600,"y":2160,"wires":[["ed27c61.fcb0138"]]},{"id":"834e74a3.1094d8","type":"function","z":"d71338ba.7610c8","name":"FC06 Set LW51-54","func":"\n \nvar value = msg.payload;\n\nif (msg.payload > 0 ) {\n    node.status({text:msg.payload + ' , ' + msg.address2});\n    msg.payload = { \n    'fc': 6, \n    'unitid': 1,\n    'address': msg.address , \n    'quantity': 1 , \n     'value': value\n    };  \n     \n    return msg;\n    \n} else {\n    return null;\n}\n \n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":2500,"wires":[["efc11cfc.17bb2"]]},{"id":"b24b3f2a.27ccf","type":"function","z":"d71338ba.7610c8","name":"payload > 0 ","func":" \n \n\nif (msg.payload > 0 ) {\n     \n    return msg;\n    \n} else {\n    return null;\n}\n \n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":2580,"wires":[["e08c6796.36d408"]]},{"id":"f3cd5753.b00ef8","type":"link out","z":"d71338ba.7610c8","name":"","links":["c48ddbf.e7ae828"],"x":2015,"y":2820,"wires":[]},{"id":"387eb46a.c7e49c","type":"link out","z":"d71338ba.7610c8","name":"","links":["4883f295.8c61ac"],"x":2015,"y":2860,"wires":[]},{"id":"77c5a728.5b76b8","type":"link out","z":"d71338ba.7610c8","name":"","links":["ac51aa39.bd5b18"],"x":2015,"y":2900,"wires":[]},{"id":"614d1f92.4dd15","type":"link out","z":"d71338ba.7610c8","name":"","links":["1ac4db90.87c194"],"x":2015,"y":2940,"wires":[]},{"id":"73cd0001.7a168","type":"function","z":"d71338ba.7610c8","name":"FC06 Set LW31-44","func":" \n \nvar value = msg.payload;\n\nif (msg.payload > 0 ) {\n    node.status({text:msg.payload + ' , ' + msg.address2});\n    msg.payload = { \n    'fc': 6, \n    'unitid': 1,\n    'address': msg.address , \n    'quantity': 1 , \n     'value': value\n    };  \n     \n    return msg;\n    \n} else {\n    return null;\n}\n \n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":2240,"wires":[["3c778b10.bfcc04"]]},{"id":"18e71749.f76979","type":"function","z":"d71338ba.7610c8","name":"FC06 Set LW31-44","func":" node.status({text:msg.payload });\n \nvar value = msg.payload;\n\nif (msg.payload > 0 ) {\n\n    msg.payload = { \n    'fc': 6, \n    'unitid': 1,\n    'address': msg.address , \n    'quantity': 1 , \n     'value': value\n    };  \n     \n    return msg;\n    \n} else {\n    return null;\n}\n \n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":2160,"wires":[["b9b38ffe.671fb"]]},{"id":"50a22783.45cd68","type":"change","z":"d71338ba.7610c8","name":"payload[0]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"jsonata"},{"t":"set","p":"address","pt":"msg","to":"31","tot":"num"},{"t":"set","p":"address2","pt":"msg","to":"41","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":2220,"wires":[["73cd0001.7a168","7df44198.8309f"]]},{"id":"6d764735.7f4da8","type":"change","z":"d71338ba.7610c8","name":"payload[1]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1]","tot":"jsonata"},{"t":"set","p":"address","pt":"msg","to":"32","tot":"num"},{"t":"set","p":"address2","pt":"msg","to":"42","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":2260,"wires":[["73cd0001.7a168","7df44198.8309f"]]},{"id":"978b3155.2712f","type":"change","z":"d71338ba.7610c8","name":"payload[2]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[2]","tot":"jsonata"},{"t":"set","p":"address","pt":"msg","to":"33","tot":"num"},{"t":"set","p":"address2","pt":"msg","to":"43","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":2300,"wires":[["73cd0001.7a168","7df44198.8309f"]]},{"id":"60f80d34.a91404","type":"change","z":"d71338ba.7610c8","name":"payload[3]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[3]","tot":"jsonata"},{"t":"set","p":"address","pt":"msg","to":"34","tot":"num"},{"t":"set","p":"address2","pt":"msg","to":"44","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":2340,"wires":[["73cd0001.7a168","7df44198.8309f"]]},{"id":"e08c6796.36d408","type":"switch","z":"d71338ba.7610c8","name":"61-64","property":"address2","propertyType":"msg","rules":[{"t":"eq","v":"61","vt":"str"},{"t":"eq","v":"62","vt":"str"},{"t":"eq","v":"63","vt":"str"},{"t":"eq","v":"64","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":1030,"y":2580,"wires":[["96b948a9.b8ee68"],["3f54d204.8636de"],["dbb3c5b0.b67a58"],["28b3673b.26d3a8"]]},{"id":"9adfd475.5f1d28","type":"change","z":"d71338ba.7610c8","name":"Alert Time LW26 payload[5]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[5]","tot":"jsonata"},{"t":"set","p":"address","pt":"msg","to":"25","tot":"num"},{"t":"set","p":"address2","pt":"msg","to":"26","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":2040,"wires":[["18e71749.f76979","e3247fcf.256f"]]},{"id":"6d1b0b9b.55ad24","type":"change","z":"d71338ba.7610c8","name":"All Close Timer LW22 payload[1]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1]","tot":"jsonata"},{"t":"set","p":"address","pt":"msg","to":"21","tot":"num"},{"t":"set","p":"address2","pt":"msg","to":"22","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1960,"wires":[["18e71749.f76979","c18c2105.1a03c"]]},{"id":"a35e1596.585ae8","type":"change","z":"d71338ba.7610c8","name":"All Close Timer LW24 payload[3]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[3]","tot":"jsonata"},{"t":"set","p":"address","pt":"msg","to":"23","tot":"num"},{"t":"set","p":"address2","pt":"msg","to":"24","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":2000,"wires":[["18e71749.f76979","c90d0a95.a7cde8"]]},{"id":"7df44198.8309f","type":"function","z":"d71338ba.7610c8","name":"payload > 0 ","func":" \n \n\nif (msg.payload > 0 ) {\n     \n    return msg;\n    \n} else {\n    return null;\n}\n \n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":2320,"wires":[["7989767a.47ce28"]]},{"id":"96b948a9.b8ee68","type":"ui_text_input","z":"d71338ba.7610c8","name":"","label":"Open Time 1 (mm)","tooltip":"","group":"4fd70989.3c7fb8","order":6,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":1270,"y":2560,"wires":[["497c0719.3f3278"]]},{"id":"3f54d204.8636de","type":"ui_text_input","z":"d71338ba.7610c8","name":"","label":"Open Time 2 (mm)","tooltip":"","group":"bfd9b042.5d935","order":6,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":1270,"y":2600,"wires":[["68117fdf.97d02"]]},{"id":"dbb3c5b0.b67a58","type":"ui_text_input","z":"d71338ba.7610c8","name":"","label":"Open Time 3 (mm)","tooltip":"","group":"a2a99612.2a7968","order":6,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":1270,"y":2640,"wires":[["c54c3d7d.60086"]]},{"id":"28b3673b.26d3a8","type":"ui_text_input","z":"d71338ba.7610c8","name":"","label":"Open Time 4 (mm)","tooltip":"","group":"f3f28ddd.1157a","order":6,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":1270,"y":2680,"wires":[["8033af7f.cb8a3"]]},{"id":"e3247fcf.256f","type":"function","z":"d71338ba.7610c8","name":"payload > 0 ","func":"\nnode.status({text:msg.payload });\n\nvar value = msg.payload;\n\nif (msg.payload > 0 ) {\n  \n    return msg;\n    \n} else {\n    \n    return null;\n}\n \n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":2100,"wires":[["33587c02.1936c4"]]},{"id":"c18c2105.1a03c","type":"function","z":"d71338ba.7610c8","name":"payload > 0 ","func":"\nnode.status({text:msg.payload });\n\nvar value = msg.payload;\n\nif (msg.payload > 0 ) {\n  \n    return msg;\n    \n} else {\n    \n    return null;\n}\n \n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":1940,"wires":[["1769c154.8b50af"]]},{"id":"c90d0a95.a7cde8","type":"function","z":"d71338ba.7610c8","name":"payload > 0 ","func":"\nnode.status({text:msg.payload });\n\nvar value = msg.payload;\n\nif (msg.payload > 0 ) {\n  \n    return msg;\n    \n} else {\n    \n    return null;\n}\n \n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":2020,"wires":[["487e4b35.748544"]]},{"id":"7989767a.47ce28","type":"switch","z":"d71338ba.7610c8","name":"41-44","property":"address2","propertyType":"msg","rules":[{"t":"eq","v":"41","vt":"str"},{"t":"eq","v":"42","vt":"str"},{"t":"eq","v":"43","vt":"str"},{"t":"eq","v":"44","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":1090,"y":2320,"wires":[["919f8025.2b165"],["868c161f.ed2df8"],["a397bc31.b120d"],["a2b1f70b.2c8778"]]},{"id":"fb76a598.4d49c8","type":"link in","z":"d71338ba.7610c8","name":"","links":["4ce6a733.f68548"],"x":1055,"y":2680,"wires":[["96b948a9.b8ee68","3f54d204.8636de","dbb3c5b0.b67a58","28b3673b.26d3a8"]]},{"id":"497c0719.3f3278","type":"change","z":"d71338ba.7610c8","name":"Set flow.opentimer1","rules":[{"t":"set","p":"opentimer1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":2560,"wires":[[]]},{"id":"68117fdf.97d02","type":"change","z":"d71338ba.7610c8","name":"Set flow.opentimer2","rules":[{"t":"set","p":"opentimer2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":2600,"wires":[[]]},{"id":"c54c3d7d.60086","type":"change","z":"d71338ba.7610c8","name":"Set flow opentimer3","rules":[{"t":"set","p":"opentimer3","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":2640,"wires":[[]]},{"id":"8033af7f.cb8a3","type":"change","z":"d71338ba.7610c8","name":"set flow opentimer4","rules":[{"t":"set","p":"opentimer4","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":2680,"wires":[[]]},{"id":"33587c02.1936c4","type":"ui_text_input","z":"d71338ba.7610c8","name":"","label":"alarm time (s)","tooltip":"","group":"fa0c73cf.25601","order":4,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":1120,"y":2080,"wires":[["47650f2b.d1e61"]]},{"id":"1769c154.8b50af","type":"ui_text_input","z":"d71338ba.7610c8","name":"","label":"Close Time","tooltip":"","group":"fa0c73cf.25601","order":2,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":1130,"y":1920,"wires":[["cd31b59f.54d998","3be88646.f827ca"]]},{"id":"487e4b35.748544","type":"ui_text_input","z":"d71338ba.7610c8","name":"","label":"Open Time","tooltip":"","group":"fa0c73cf.25601","order":3,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":1130,"y":2000,"wires":[["279a6f41.c32c4","ff174207.75c56"]]},{"id":"919f8025.2b165","type":"ui_text_input","z":"d71338ba.7610c8","name":"","label":"Close Time 1 (mm)","tooltip":"","group":"4fd70989.3c7fb8","order":5,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":1310,"y":2300,"wires":[["e58e7a93.ccc1e8"]]},{"id":"868c161f.ed2df8","type":"ui_text_input","z":"d71338ba.7610c8","name":"","label":"Close Time 2 (mm)","tooltip":"","group":"bfd9b042.5d935","order":5,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":1310,"y":2340,"wires":[["cf5baa4c.e12a38"]]},{"id":"a397bc31.b120d","type":"ui_text_input","z":"d71338ba.7610c8","name":"","label":"Close Time  3 (mm)","tooltip":"","group":"a2a99612.2a7968","order":5,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":1310,"y":2380,"wires":[["eaf4fb80.578708"]]},{"id":"a2b1f70b.2c8778","type":"ui_text_input","z":"d71338ba.7610c8","name":"","label":"Close Time 4 (mm)","tooltip":"","group":"f3f28ddd.1157a","order":5,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":1310,"y":2420,"wires":[["4a1ea8e0.19b948"]]},{"id":"d8607e99.da56a","type":"inject","z":"d71338ba.7610c8","name":"","props":[{"p":"payload"},{"p":"topic","v":"","vt":"num"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":950,"y":2060,"wires":[["33587c02.1936c4"]]},{"id":"47650f2b.d1e61","type":"change","z":"d71338ba.7610c8","name":"AlarmTime LW25","rules":[{"t":"set","p":"alarmtime","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"address","pt":"msg","to":"25","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":2080,"wires":[["c5bae650.6aaba8"]]},{"id":"1fd2a978.d27a87","type":"inject","z":"d71338ba.7610c8","name":"","props":[{"p":"payload"},{"p":"topic","v":"","vt":"num"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"33","payloadType":"num","x":950,"y":1900,"wires":[["1769c154.8b50af"]]},{"id":"cd31b59f.54d998","type":"change","z":"d71338ba.7610c8","name":"flow.cooltime LW31-34","rules":[{"t":"set","p":"address","pt":"msg","to":"21","tot":"num"},{"t":"set","p":"cooltime","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"address2","pt":"msg","to":"31","tot":"num"},{"t":"set","p":"value","pt":"msg","to":"[msg.payload,msg.payload,msg.payload,msg.payload]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":1920,"wires":[["195b7a6.04eb386","c5bae650.6aaba8"]]},{"id":"3be88646.f827ca","type":"change","z":"d71338ba.7610c8","name":"Set All closetimer1-4","rules":[{"t":"set","p":"closetimer1","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"closetimer2","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"closetimer3","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"closetimer4","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":1960,"wires":[["ab98187d.dc9a28"]]},{"id":"e691ebdb.9d8308","type":"inject","z":"d71338ba.7610c8","name":"","props":[{"p":"payload"},{"p":"topic","v":"","vt":"num"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"num","x":950,"y":1980,"wires":[["487e4b35.748544"]]},{"id":"279a6f41.c32c4","type":"change","z":"d71338ba.7610c8","name":"flow.reloadtime LW51-54","rules":[{"t":"set","p":"address","pt":"msg","to":"23","tot":"num"},{"t":"set","p":"reloadtime","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"value","pt":"msg","to":"[msg.payload,msg.payload,msg.payload,msg.payload]","tot":"jsonata"},{"t":"set","p":"address2","pt":"msg","to":"51","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":2000,"wires":[["195b7a6.04eb386","c5bae650.6aaba8"]]},{"id":"ff174207.75c56","type":"change","z":"d71338ba.7610c8","name":"Set All opentimer1-4","rules":[{"t":"set","p":"opentimer1","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"opentimer2","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"opentimer3","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"opentimer4","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":2040,"wires":[["4ce6a733.f68548"]]},{"id":"dfadaf91.140f7","type":"link in","z":"d71338ba.7610c8","name":"","links":["ab98187d.dc9a28"],"x":1095,"y":2420,"wires":[["919f8025.2b165","868c161f.ed2df8","a397bc31.b120d","a2b1f70b.2c8778"]]},{"id":"e58e7a93.ccc1e8","type":"change","z":"d71338ba.7610c8","name":"Set flow.closetimer1","rules":[{"t":"set","p":"closetimer1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":2300,"wires":[[]]},{"id":"cf5baa4c.e12a38","type":"change","z":"d71338ba.7610c8","name":"Set flow.closetimer2","rules":[{"t":"set","p":"closetimer2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":2340,"wires":[[]]},{"id":"eaf4fb80.578708","type":"change","z":"d71338ba.7610c8","name":"Set flow closetimer3","rules":[{"t":"set","p":"closetimer3","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":2380,"wires":[[]]},{"id":"4a1ea8e0.19b948","type":"change","z":"d71338ba.7610c8","name":"set flow closetimer 4","rules":[{"t":"set","p":"closetimer4","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":2420,"wires":[[]]},{"id":"c5bae650.6aaba8","type":"function","z":"d71338ba.7610c8","name":"FC06 Set LW31-44","func":" node.status({text:msg.payload });\n \nvar value = msg.payload;\n \n\n    msg.payload = { \n    'fc': 6, \n    'unitid': 1,\n    'address': msg.address , \n    'quantity': 1 , \n     'value': msg.payload\n    };  \n     \n    return msg;\n     \n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1630,"y":2080,"wires":[["ed27c61.fcb0138"]]},{"id":"195b7a6.04eb386","type":"function","z":"d71338ba.7610c8","name":"FC16 Set LW31-51 (4)","func":" node.status({text:msg.payload });\n \n \n \n\n    msg.payload = { \n    'fc': 16, \n    'unitid': 1,\n    'address': msg.address2 , \n    'quantity': 4 , \n     'value': msg.value\n    };  \n     \n    return msg;\n     \n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1680,"y":2000,"wires":[["ed27c61.fcb0138"]]},{"id":"ab98187d.dc9a28","type":"link out","z":"d71338ba.7610c8","name":"","links":["dfadaf91.140f7"],"x":1615,"y":1960,"wires":[]},{"id":"4ce6a733.f68548","type":"link out","z":"d71338ba.7610c8","name":"","links":["fb76a598.4d49c8"],"x":1615,"y":2040,"wires":[]},{"id":"5886e422.733e6c","type":"function","z":"d71338ba.7610c8","name":"lb20 Plus On Off","func":"\nvar lb20connecting = flow.get(\"lb20connecting\");\nvar hfconnecting = flow.get(\"hfconnecting\");\n \n\nif (lb20connecting ==0) {\n    flow.set(\"lb20connecting\",1);\n    msg.payload = 1;\n}else {\n    flow.set(\"lb20connecting\",0);\n    msg.payload = 0;\n}\n\n\nif (hfconnecting == 0) {\n     node.status({text:'HF Fail Connecting' + hfconnecting });\n    return null;\n} else {\n     node.status({text:'HF Connecting' + hfconnecting});\n    return msg;    \n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":860,"wires":[["865160b3.66fd1"]]},{"id":"865160b3.66fd1","type":"function","z":"d71338ba.7610c8","name":"FC5 Send lb20connecting  0/1 To HMI","func":" node.status({text: msg.payload   });\n \n \n \n\n    msg.payload = { \n    'fc': 5, \n    'unitid': 1,\n    'address': 20 , \n    'quantity': 1 , \n     'value': msg.payload\n    };  \n     \n    return msg;\n     \n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1670,"y":860,"wires":[["a088eb13.85a408"]]},{"id":"3780f10b.f39d2e","type":"change","z":"d71338ba.7610c8","name":"hfloop = 0 hmiloop =0","rules":[{"t":"set","p":"hfloop","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"hmiloop","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":260,"wires":[[]]},{"id":"576ca517.eaa78c","type":"function","z":"d71338ba.7610c8","name":"Read HF -  Sv1 - 0 Doors","func":"\nmsg.topic = 1;\nmsg.payload = { \n    'unitid': 1,\n    'fc': 2, \n    'address': 0 , \n    'quantity': 4\n};  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":380,"wires":[["6ad4ff93.4e04e"]]},{"id":"926b9516.d044c8","type":"modbus-flex-getter","z":"d71338ba.7610c8","name":"HF2211 10.10.100.72","showStatusActivities":false,"showErrors":true,"logIOActivities":false,"server":"bf07dbb7.6d6928","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":640,"y":500,"wires":[["a84570f9.2b863","233561c1.6e36de"],[]]},{"id":"d8de245b.3fc0e8","type":"function","z":"d71338ba.7610c8","name":"Read  HF - Sv2 Temp","func":"msg.topic = 2;\nmsg.payload = { \n    'unitid': 2,\n    'fc': 3, \n    'address': 0 , \n    'quantity': 1\n};  \n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":480,"wires":[["a9afa42.4966058"]]},{"id":"3a38ae4a.5dc822","type":"function","z":"d71338ba.7610c8","name":"Read  HF - Sv3 Temp Humi","func":"msg.topic = 3;\nmsg.payload = { \n    'unitid': 3,\n    'fc': 3, \n    'address': 0 , \n    'quantity': 2\n};  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":580,"wires":[["926b9516.d044c8"]]},{"id":"a84570f9.2b863","type":"switch","z":"d71338ba.7610c8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":690,"y":580,"wires":[["41ee0330.1c92ec"],["9e8f75c8.ce3178"],["c712a1ac.d48bd"]]},{"id":"a9afa42.4966058","type":"change","z":"d71338ba.7610c8","name":"hfconnecting = 0","rules":[{"t":"set","p":"hfconnecting2","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":520,"wires":[["926b9516.d044c8"]]},{"id":"9e8f75c8.ce3178","type":"change","z":"d71338ba.7610c8","name":"hfconnecting2 = 1","rules":[{"t":"set","p":"hfconnecting2","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":580,"wires":[["2b8dbc00.9347f4","168cab13.3efe15"]]},{"id":"c712a1ac.d48bd","type":"change","z":"d71338ba.7610c8","name":"hfconnecting3 = 1","rules":[{"t":"set","p":"hfconnecting3","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":620,"wires":[["f4492928.13a928","2694e89.9a15c18","168cab13.3efe15"]]},{"id":"7588ff39.b8082","type":"change","z":"d71338ba.7610c8","name":"InTemp LW81","rules":[{"t":"set","p":"topic","pt":"msg","to":"InTemp","tot":"str"},{"t":"set","p":"address","pt":"msg","to":"81","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":680,"wires":[["a672eeb1.3496b","98316a58.919428"]]},{"id":"bc66b4d7.1b2fa8","type":"change","z":"d71338ba.7610c8","name":"RoomHumi LW83","rules":[{"t":"set","p":"topic","pt":"msg","to":"RoomHumi","tot":"str"},{"t":"set","p":"address","pt":"msg","to":"83","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":760,"wires":[["b8a52b74.96e7c8","98316a58.919428"]]},{"id":"3d60a50.d00a75c","type":"change","z":"d71338ba.7610c8","name":"RoomTemp LW82","rules":[{"t":"set","p":"topic","pt":"msg","to":"RoomTemp ","tot":"str"},{"t":"set","p":"address","pt":"msg","to":"82","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":800,"wires":[["f1d772a.c7e7d9","45ea927b.c0368c"]]},{"id":"98316a58.919428","type":"function","z":"d71338ba.7610c8","name":"FC5 word To HMI","func":" node.status({text: msg.value +' -> LW '+ msg.address });\n \n \n \n\n    msg.payload = { \n    'fc': 6, \n    'unitid': 1,\n    'address': msg.address , \n    'quantity': 1 , \n     'value': msg.value\n    };  \n     \n    return msg;\n     \n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":720,"wires":[["a088eb13.85a408"]]},{"id":"45ea927b.c0368c","type":"delay","z":"d71338ba.7610c8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1560,"y":780,"wires":[["98316a58.919428"]]},{"id":"91564183.f98f7","type":"function","z":"d71338ba.7610c8","name":" TimerSound LW21-26","func":"\nmsg.topic = 21;\nmsg.payload = { \n    'unitid': 1,\n    'fc': 3, \n    'address': 21 , \n    'quantity': 6\n};  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":1540,"wires":[["41ca11a.c9e49f","62d8c54d.5b472c"]]},{"id":"41ca11a.c9e49f","type":"change","z":"d71338ba.7610c8","name":"hmiconnecting = 0","rules":[{"t":"set","p":"hmiconnecting","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1540,"wires":[["66b783e8.939c2c"]]},{"id":"66b783e8.939c2c","type":"modbus-flex-getter","z":"d71338ba.7610c8","name":"HMI 10.10.100.100","showStatusActivities":false,"showErrors":true,"logIOActivities":false,"server":"1fdc6193.368fde","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":490,"y":1760,"wires":[["79ece637.15fe18","9897d629.78fce8","8e26682d.172178"],[]]},{"id":"79ece637.15fe18","type":"modbus-response","z":"d71338ba.7610c8","name":"","registerShowMax":20,"x":710,"y":1640,"wires":[]},{"id":"e55f0bc3.bf45c8","type":"inject","z":"d71338ba.7610c8","name":"Read HMI Affter 6 S","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"6","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":220,"y":1480,"wires":[["91564183.f98f7"]]},{"id":"9897d629.78fce8","type":"change","z":"d71338ba.7610c8","name":"hmiconnecting = 1","rules":[{"t":"set","p":"hmiconnecting","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1740,"wires":[[]]},{"id":"d609dc67.621ce","type":"function","z":"d71338ba.7610c8","name":"Sv1 TimerClose LW41-44","func":"\nmsg.topic = 41;\nmsg.payload = { \n    'unitid': 1,\n    'fc': 3, \n    'address': 41 , \n    'quantity': 4\n};  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":1640,"wires":[["60316a33.95ff84","66b783e8.939c2c"]]},{"id":"62d8c54d.5b472c","type":"delay","z":"d71338ba.7610c8","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":1600,"wires":[["d609dc67.621ce"]]},{"id":"8e26682d.172178","type":"switch","z":"d71338ba.7610c8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"21","vt":"num"},{"t":"eq","v":"41","vt":"num"},{"t":"eq","v":"61","vt":"num"},{"t":"eq","v":"410","vt":"num"},{"t":"eq","v":"510","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":150,"y":2600,"wires":[["6d1b0b9b.55ad24","a35e1596.585ae8","9adfd475.5f1d28"],["50a22783.45cd68","6d764735.7f4da8","978b3155.2712f","60f80d34.a91404"],["bb3412d1.b4ebe","a60ca730.73d2a8","7ace5ad0.72f4d4","a8c9b6e8.6d8118"],["a5b798f7.bbca58","6d1df57d.fe60cc","fd1b7a54.dcc7d8","f7f97ac1.8fd848"],["884e04d0.e025c8","16734330.897e4d","7ac2eee9.70663","4fdcca47.8ac6b4","e885b5b1.178be8"]]},{"id":"66f99123.cc78f","type":"function","z":"d71338ba.7610c8","name":"Sv1 TimerOpen LW61-64","func":"\nmsg.topic = 61;\nmsg.payload = { \n    'unitid': 1,\n    'fc': 3, \n    'address': 61 , \n    'quantity': 4\n};  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":1760,"wires":[["5b8612a0.f471ec","66b783e8.939c2c"]]},{"id":"5b8612a0.f471ec","type":"delay","z":"d71338ba.7610c8","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":230,"y":1820,"wires":[["131c1e46.856d52"]]},{"id":"131c1e46.856d52","type":"function","z":"d71338ba.7610c8","name":"Sv1 Off LB41-44","func":"\nmsg.topic = 410;\nmsg.payload = { \n    'unitid': 1,\n    'fc': 1, \n    'address': 41 , \n    'quantity': 4\n};  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":1860,"wires":[["66b783e8.939c2c","38546b1c.2b0dc4"]]},{"id":"60316a33.95ff84","type":"delay","z":"d71338ba.7610c8","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":230,"y":1720,"wires":[["66f99123.cc78f"]]},{"id":"188d6612.93011a","type":"function","z":"d71338ba.7610c8","name":" Sv1 On LB51-55","func":"\nmsg.topic = 510;\nmsg.payload = { \n    'unitid': 1,\n    'fc': 1, \n    'address': 51 , \n    'quantity': 4\n};  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":1980,"wires":[["66b783e8.939c2c"]]},{"id":"38546b1c.2b0dc4","type":"delay","z":"d71338ba.7610c8","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":210,"y":1940,"wires":[["188d6612.93011a"]]},{"id":"4fd70989.3c7fb8","type":"ui_group","name":"Machine 1","tab":"47ff175b.6d31e8","order":2,"disp":true,"width":7,"collapse":false},{"id":"bfd9b042.5d935","type":"ui_group","name":"Machine 2","tab":"47ff175b.6d31e8","order":3,"disp":true,"width":7,"collapse":false},{"id":"a2a99612.2a7968","type":"ui_group","name":"Machine 3","tab":"47ff175b.6d31e8","order":4,"disp":true,"width":7,"collapse":false},{"id":"f3f28ddd.1157a","type":"ui_group","name":"Machine 4","tab":"47ff175b.6d31e8","order":5,"disp":true,"width":7,"collapse":false},{"id":"fa0c73cf.25601","type":"ui_group","name":"Temp","tab":"47ff175b.6d31e8","order":1,"disp":true,"width":10,"collapse":false},{"id":"e461d128.b1148","type":"ui_group","name":"Total","tab":"4a1d491e.7705f8","order":1,"disp":true,"width":4,"collapse":true},{"id":"bf07dbb7.6d6928","type":"modbus-client","name":"HF2211-- 10.10.100.72","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.10.100.72","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"6cf82e37.9a1db","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"iotdb","tz":"","charset":""},{"id":"1fdc6193.368fde","type":"modbus-client","name":"HMI-10.10.100.100","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"10.10.100.100","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"47ff175b.6d31e8","type":"ui_tab","name":"Value Status","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"4a1d491e.7705f8","type":"ui_tab","name":"STW DashBoard","icon":"dashboard","order":2,"disabled":false,"hidden":false}]
