Node-Red/Flow Variable Tutorial.json
[{"id":"5d70bf64.066de","type":"tab","label":"Flow Variable Tutorial","disabled":false,"info":""},{"id":"884e834b.46823","type":"change","z":"5d70bf64.066de","name":"Set ReadModbus = 0","rules":[{"t":"set","p":"ReadModbus","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":260,"wires":[["9aeaf199.7e878"]]},{"id":"d944e1bc.bb4b4","type":"ui_button","z":"5d70bf64.066de","name":"","group":"2c6fc723.474538","order":2,"width":3,"height":1,"passthru":false,"label":"button 1 ReadModbus","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":132.98823642730713,"y":343.2968807220459,"wires":[["46145aec.68f794"]]},{"id":"ea872777.305338","type":"ui_button","z":"5d70bf64.066de","name":"","group":"2c6fc723.474538","order":3,"width":3,"height":1,"passthru":false,"label":"button 0 Stop ReadModbus","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":141.1132516860962,"y":394.2968611717224,"wires":[["46145aec.68f794"]]},{"id":"46145aec.68f794","type":"change","z":"5d70bf64.066de","name":"","rules":[{"t":"set","p":"ReadModbus","pt":"flow","to":"payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":388.8789224624634,"y":357.72658920288086,"wires":[["9aeaf199.7e878"]]},{"id":"1072397a.b1b337","type":"ui_text","z":"5d70bf64.066de","group":"2c6fc723.474538","order":4,"width":0,"height":0,"name":"","label":"OverValueAlarm","format":"{{msg.payload}}","layout":"row-spread","x":723.0042314529419,"y":82.94548606872559,"wires":[]},{"id":"9aeaf199.7e878","type":"ui_gauge","z":"5d70bf64.066de","name":"","group":"2c6fc723.474538","order":1,"width":3,"height":2,"gtype":"donut","title":"Record Data","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":629.0001535415649,"y":261.42968940734863,"wires":[]},{"id":"d26a9ab2.11c3d8","type":"change","z":"5d70bf64.066de","name":"","rules":[{"t":"set","p":"OverValueAlarm","pt":"flow","to":"payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":420.87910556793213,"y":83.72672748565674,"wires":[["1072397a.b1b337"]]},{"id":"c673651e.1fe118","type":"change","z":"5d70bf64.066de","name":"","rules":[{"t":"set","p":"UnderValueAlarm","pt":"flow","to":"payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":413.8791437149048,"y":171.72675228118896,"wires":[["59bb555f.9d8d8c"]]},{"id":"1cca4012.8aa0c","type":"inject","z":"5d70bf64.066de","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"num","x":173.8791208267212,"y":166.726713180542,"wires":[["c673651e.1fe118"]]},{"id":"ea0aca61.7cf998","type":"inject","z":"5d70bf64.066de","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"8","payloadType":"num","x":174.87912464141846,"y":73.976731300354,"wires":[["d26a9ab2.11c3d8"]]},{"id":"59bb555f.9d8d8c","type":"ui_text","z":"5d70bf64.066de","group":"2c6fc723.474538","order":6,"width":0,"height":0,"name":"","label":"UnderValueAlarm","format":"{{msg.payload}}","layout":"row-spread","x":727.8792276382446,"y":172.72675132751465,"wires":[]},{"id":"9c52b660.2a8e98","type":"comment","z":"5d70bf64.066de","name":"Set On Off Read Modbus","info":"\n\n\nINSERT INTO [LevelData] (SensorCode, SensorValue) \n            VALUES ('{{{topic}}}',{{{payload}}} );","x":935.8793115615845,"y":120.72673606872559,"wires":[]},{"id":"78d1b77a.f79b98","type":"ui_text_input","z":"5d70bf64.066de","name":"","label":"Set OverValueAlarm","tooltip":"","group":"2c6fc723.474538","order":5,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":125.11348056793213,"y":122.64341831207275,"wires":[["d26a9ab2.11c3d8"]]},{"id":"6a751d1e.8267a4","type":"ui_text_input","z":"5d70bf64.066de","name":"","label":"Set UnderValueAlarm","tooltip":"","group":"2c6fc723.474538","order":7,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":124.11349582672119,"y":217.64345932006836,"wires":[["c673651e.1fe118"]]},{"id":"d97f5397.de622","type":"inject","z":"5d70bf64.066de","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":168.7799072265625,"y":277.6431884765625,"wires":[["884e834b.46823"]]},{"id":"58806dd7.bc7564","type":"comment","z":"5d70bf64.066de","name":"Read Modbus When flow.ReadModbus = 1","info":"\n ","x":184.780198097229,"y":427.64340019226074,"wires":[]},{"id":"a1329ee1.36855","type":"function","z":"5d70bf64.066de","name":"FC04  : Read Analog Input","func":"var ReadModbus = flow.get(\"ReadModbus\");\n// values[0] is the 'count' value\n\nmsg.payload = { \n    'fc': 4, \n    'unitid': 1,\n    'address': 0 , \n    'quantity': 2 \n     \n};  \n    \nif ( ReadModbus === 0) {\n    \n    node.status({text:\"ReadModubs = 0\"});\n    return null;\n} else {\n    node.status({text:\"ReadModubs = 1\"});\n    return msg;\n}\n \n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":500,"wires":[["11790e9f.fcfe41"]]},{"id":"ffcc8492.702c18","type":"ui_text","z":"5d70bf64.066de","group":"2c6fc723.474538","order":8,"width":0,"height":0,"name":"","label":"Last Insert Data","format":"<font size =3><font Color =Green>{{msg.payload}}","layout":"row-spread","x":880,"y":540,"wires":[]},{"id":"11790e9f.fcfe41","type":"function","z":"5d70bf64.066de","name":"Last Read Modbus Time","func":"var date;\ndate = new Date();\ndate = (('00' + date.getHours()).slice(-2) + ':' + ('00' + date.getMinutes()).slice(-2) + ':' + ('00' + date.getSeconds()).slice(-2));\nmsg.payload =  date;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":540,"wires":[["ffcc8492.702c18"]]},{"id":"d389c3d7.c8b41","type":"inject","z":"5d70bf64.066de","name":"Interval  15","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"15","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":540,"wires":[["a1329ee1.36855","5f13f1d8.e44c5"]]},{"id":"5f13f1d8.e44c5","type":"debug","z":"5d70bf64.066de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":640,"wires":[]},{"id":"2817e80e.d358b8","type":"ui_template","z":"5d70bf64.066de","group":"b84d832e.d628b","name":"","order":4,"width":8,"height":9,"format":"<table style=\"width:100%\">\n  <tr>\n    <th>id</th> \n    <th>SensorCode</th>\n    <th>SensorValue</th>\n    <th>time</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:20\">\n    <td>{{$index}}</td>\n    <td align=\"center\">{{msg.payload[$index].metric}}</td> \n    <td align=\"center\">{{msg.payload[$index].value}}</td>\n    <td align=\"center\">{{msg.payload[$index].time}}</td>\n   </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":660,"y":720,"wires":[[]]},{"id":"48e07069.336c4","type":"inject","z":"5d70bf64.066de","name":"Interval  60","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"id\":47,\"metric\":\"flow\",\"value\":3.23,\"time\":\"21/06/2021 20:23 \"},{\"id\":46,\"metric\":\"level\",\"value\":6.55,\"time\":\"21/06/2021 20:23 \"},{\"id\":45,\"metric\":\"flow\",\"value\":3.23,\"time\":\"21/06/2021 20:22 \"},{\"id\":44,\"metric\":\"level\",\"value\":6.55,\"time\":\"21/06/2021 20:22 \"},{\"id\":43,\"metric\":\"Level\",\"value\":2.5,\"time\":\"21/06/2021 20:22 \"},{\"id\":42,\"metric\":\"flow\",\"value\":3.24,\"time\":\"21/06/2021 20:21 \"}]","payloadType":"json","x":160,"y":640,"wires":[["5f13f1d8.e44c5","2817e80e.d358b8"]]},{"id":"96dd8700.f13d58","type":"ui_button","z":"5d70bf64.066de","name":"","group":"b84d832e.d628b","order":2,"width":3,"height":1,"passthru":false,"label":"button Show Table","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[{\"id\":47,\"metric\":\"flow\",\"value\":3.23,\"time\":\"21/06/2021 20:23 \"},{\"id\":46,\"metric\":\"level\",\"value\":6.55,\"time\":\"21/06/2021 20:23 \"},{\"id\":45,\"metric\":\"flow\",\"value\":3.23,\"time\":\"21/06/2021 20:22 \"},{\"id\":44,\"metric\":\"level\",\"value\":6.55,\"time\":\"21/06/2021 20:22 \"},{\"id\":43,\"metric\":\"Level\",\"value\":2.5,\"time\":\"21/06/2021 20:22 \"},{\"id\":42,\"metric\":\"flow\",\"value\":3.24,\"time\":\"21/06/2021 20:21 \"}]","payloadType":"json","topic":"topic","topicType":"msg","x":130,"y":720,"wires":[["2817e80e.d358b8"]]},{"id":"2c6fc723.474538","type":"ui_group","name":"Group 1","tab":"6f36d667.385638","order":1,"disp":true,"width":6},{"id":"b84d832e.d628b","type":"ui_group","name":"Group 2","tab":"6f36d667.385638","order":2,"disp":true,"width":6},{"id":"6f36d667.385638","type":"ui_tab","name":"Flow Tutorial","icon":"dashboard","order":9,"disabled":false,"hidden":false}]
