Node-Red/Node-Red 01-04.json
[{"id":"58376f27.96e5b","type":"tab","label":"Node-Red 01-03","disabled":false,"info":""},{"id":"63b49d66.4e8824","type":"function","z":"58376f27.96e5b","name":"","func":"var msg1 = { payload:msg.topic }; \nvar msg2 = { payload:msg.payload }; \nvar msg3 = { payload:\"third out of output 1\" }; \nreturn [ msg1, msg2, msg3 ];\n","outputs":3,"noerr":0,"initialize":"","finalize":"","x":930.878963470459,"y":814.0585918426514,"wires":[["93ca6b4.c7e7c98"],["93ca6b4.c7e7c98"],["93ca6b4.c7e7c98"]]},{"id":"3360818e.f89dee","type":"inject","z":"58376f27.96e5b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"my topic","payload":"my payload","payloadType":"str","x":738.8867416381836,"y":814.9531183242798,"wires":[["63b49d66.4e8824"]]},{"id":"93ca6b4.c7e7c98","type":"debug","z":"58376f27.96e5b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1121.890625,"y":812.4375,"wires":[]},{"id":"1cd9636b.6ca11d","type":"inject","z":"58376f27.96e5b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"first topic","payload":"Hello World","payloadType":"str","x":697,"y":298.9921770095825,"wires":[["dcb1bc6f.345f5","f7e02229.ccb1e"]]},{"id":"f7e02229.ccb1e","type":"debug","z":"58376f27.96e5b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1096.99613571167,"y":297.4882583618164,"wires":[]},{"id":"dcb1bc6f.345f5","type":"change","z":"58376f27.96e5b","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"second topic","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":913.9882545471191,"y":347.0663900375366,"wires":[["f7e02229.ccb1e"]]},{"id":"e2854b93.c6fb48","type":"inject","z":"58376f27.96e5b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"254","payloadType":"num","x":684.9960746765137,"y":188.9882583618164,"wires":[["4658bef1.92539"]]},{"id":"4658bef1.92539","type":"change","z":"58376f27.96e5b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload/10","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":871.9921684265137,"y":190.0702896118164,"wires":[["89d312c3.58257"]]},{"id":"714ba1ab.bac1c","type":"debug","z":"58376f27.96e5b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":993.9921073913574,"y":67.48831939697266,"wires":[]},{"id":"c2e0d3ec.24cd7","type":"inject","z":"58376f27.96e5b","name":"[1,2,3,4]","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1,2,3,4]","payloadType":"jsonata","x":795.9882392883301,"y":48,"wires":[["714ba1ab.bac1c"]]},{"id":"2a434934.a681d6","type":"inject","z":"58376f27.96e5b","name":"{ \"a\": 1, \"b\": 2}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"a\": 1, \"b\": 2}","payloadType":"jsonata","x":784.8788375854492,"y":102.7968521118164,"wires":[["714ba1ab.bac1c"]]},{"id":"89d312c3.58257","type":"debug","z":"58376f27.96e5b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1081.8788871765137,"y":190.7968521118164,"wires":[]},{"id":"81c33045.24b18","type":"inject","z":"58376f27.96e5b","name":"[254,557]","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[254,557]","payloadType":"jsonata","x":717.0038871765137,"y":436.5000534057617,"wires":[["c8cc79b4.138c68","90e16d32.51b5c","b44e39d9.11b4b8"]]},{"id":"90e16d32.51b5c","type":"debug","z":"58376f27.96e5b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1132.8788261413574,"y":435.29691314697266,"wires":[]},{"id":"c8cc79b4.138c68","type":"change","z":"58376f27.96e5b","name":"Select payload[0]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]/10","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"temperature","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920.0038414001465,"y":479.07421875,"wires":[["90e16d32.51b5c"]]},{"id":"b44e39d9.11b4b8","type":"change","z":"58376f27.96e5b","name":"Select payload[1]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1]/10","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"huminity","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":923.8788414001465,"y":532.2968635559082,"wires":[["90e16d32.51b5c"]]},{"id":"82a155fc.c3b698","type":"inject","z":"58376f27.96e5b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":730.8788681030273,"y":609.7968559265137,"wires":[["e0066bad.f23348"]]},{"id":"e0066bad.f23348","type":"function","z":"58376f27.96e5b","name":"Random Number","func":"msg.payload = Math.round(Math.random()*100)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":922.7577972412109,"y":609.8554620742798,"wires":[["95a6bbee.6dc2e8","4cbaf872.e76a88","f702565c.45f058"]]},{"id":"95a6bbee.6dc2e8","type":"debug","z":"58376f27.96e5b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1123.8710746765137,"y":609.2929458618164,"wires":[]},{"id":"4cbaf872.e76a88","type":"ui_gauge","z":"58376f27.96e5b","name":"","group":"95d974c8.a21c18","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1112.8749809265137,"y":672.5702962875366,"wires":[]},{"id":"f702565c.45f058","type":"ui_chart","z":"58376f27.96e5b","name":"","group":"95d974c8.a21c18","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1108.882797241211,"y":720.0468587875366,"wires":[[]]},{"id":"372e172.90b28e8","type":"comment","z":"58376f27.96e5b","name":"Node-Red - 01 Debug Deploy","info":"Node-Red - 01 Debug Deploy","x":497.9999809265137,"y":70.4882583618164,"wires":[]},{"id":"3a37ff9d.542d1","type":"comment","z":"58376f27.96e5b","name":"Node-Red - 02  Basic Change","info":"Node-Red - 01 Debug Deploy","x":442.9999809265137,"y":184.4882583618164,"wires":[]},{"id":"8c1e6d74.af64b","type":"comment","z":"58376f27.96e5b","name":"Node-Red - 03  Function","info":"Node-Red - 01 Debug Deploy","x":467,"y":606.48828125,"wires":[]},{"id":"95d974c8.a21c18","type":"ui_group","name":"Group 1","tab":"99542e6b.5f578","order":1,"disp":true,"width":6},{"id":"99542e6b.5f578","type":"ui_tab","z":"","name":"Tab 1","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
