Node-Red/Node-Red - 02  Change-Function.json
[{"id":"58376f27.96e5b","type":"tab","label":"Node-Red - 02  Change-Function","disabled":false,"info":""},{"id":"63b49d66.4e8824","type":"function","z":"58376f27.96e5b","name":"","func":"var msg1 = { payload:msg.topic }; \nvar msg2 = { payload:msg.payload }; \nvar msg3 = { payload:\"third out of output 1\" }; \nreturn [ msg1, msg2, msg3 ];\n\n","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":1480,"wires":[["a252c5c5.b42c88"],["a252c5c5.b42c88"],["a252c5c5.b42c88"]]},{"id":"3360818e.f89dee","type":"inject","z":"58376f27.96e5b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"my topic","payload":"my payload","payloadType":"str","x":570,"y":1480,"wires":[["63b49d66.4e8824"]]},{"id":"1cd9636b.6ca11d","type":"inject","z":"58376f27.96e5b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"first topic","payload":"Hello World","payloadType":"str","x":520,"y":800,"wires":[["dcb1bc6f.345f5","f7e02229.ccb1e"]]},{"id":"f7e02229.ccb1e","type":"debug","z":"58376f27.96e5b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":933,"y":801.0078229904175,"wires":[]},{"id":"dcb1bc6f.345f5","type":"change","z":"58376f27.96e5b","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"second topic","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":840,"wires":[["f7e02229.ccb1e"]]},{"id":"e2854b93.c6fb48","type":"inject","z":"58376f27.96e5b","name":"express [256,655]","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[256,655]","payloadType":"jsonata","x":490,"y":260,"wires":[["4658bef1.92539","89d312c3.58257","c4c6c4db.ebc4d8"]]},{"id":"4658bef1.92539","type":"change","z":"58376f27.96e5b","name":"Select Arroy[0]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":300,"wires":[["89d312c3.58257"]]},{"id":"89d312c3.58257","type":"debug","z":"58376f27.96e5b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":260,"wires":[]},{"id":"81c33045.24b18","type":"inject","z":"58376f27.96e5b","name":"[254,557]","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[254,557]","payloadType":"jsonata","x":540,"y":1000,"wires":[["c8cc79b4.138c68","90e16d32.51b5c","b44e39d9.11b4b8"]]},{"id":"90e16d32.51b5c","type":"debug","z":"58376f27.96e5b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":955.8749389648438,"y":998.7968597412109,"wires":[]},{"id":"c8cc79b4.138c68","type":"change","z":"58376f27.96e5b","name":"Select payload[0]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]/10","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"temperature","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":742.9999542236328,"y":1042.5741653442383,"wires":[["90e16d32.51b5c"]]},{"id":"b44e39d9.11b4b8","type":"change","z":"58376f27.96e5b","name":"Select payload[1]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1]/10","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"huminity","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":746.8749542236328,"y":1095.7968101501465,"wires":[["90e16d32.51b5c"]]},{"id":"82a155fc.c3b698","type":"inject","z":"58376f27.96e5b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":620,"y":1620,"wires":[["e0066bad.f23348"]]},{"id":"e0066bad.f23348","type":"function","z":"58376f27.96e5b","name":"Random Number","func":"msg.payload = Math.round(Math.random()*100)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":1620,"wires":[["95a6bbee.6dc2e8"]]},{"id":"95a6bbee.6dc2e8","type":"debug","z":"58376f27.96e5b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1052.9922065734863,"y":1619.4960899353027,"wires":[]},{"id":"8c1e6d74.af64b","type":"comment","z":"58376f27.96e5b","name":"Node-Red - 03  Function","info":"Node-Red - 01 Debug Deploy","x":340,"y":1140,"wires":[]},{"id":"690f2055.2d5a8","type":"inject","z":"58376f27.96e5b","name":"My name is @1 @2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"My name is @1 @2","payloadType":"str","x":533.1171875,"y":898.19140625,"wires":[["d8593148.33536","1cc46d5c.078543"]]},{"id":"d8593148.33536","type":"change","z":"58376f27.96e5b","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"@1","fromt":"str","to":"สมชาย","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"@2","fromt":"str","to":"ขยันมาก","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":743.1171875,"y":938.19140625,"wires":[["1cc46d5c.078543"]]},{"id":"1cc46d5c.078543","type":"debug","z":"58376f27.96e5b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":900,"wires":[]},{"id":"2d785cf4.f31c24","type":"inject","z":"58376f27.96e5b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"254","payloadType":"num","x":490,"y":40,"wires":[["6c833c20.e1e214","b12ed3e1.f9f8d"]]},{"id":"6c833c20.e1e214","type":"change","z":"58376f27.96e5b","name":"msg.payload/10","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload/10","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":80,"wires":[["b12ed3e1.f9f8d"]]},{"id":"b12ed3e1.f9f8d","type":"debug","z":"58376f27.96e5b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":40,"wires":[]},{"id":"c4c6c4db.ebc4d8","type":"change","z":"58376f27.96e5b","name":"Select Arroy[1]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":340,"wires":[["89d312c3.58257"]]},{"id":"cad88975.94d5a8","type":"function","z":"58376f27.96e5b","name":"split value","func":"var msg1 = {};\nvar msg2 = {};\nvar msg3 = null;\nmsg1.payload = msg.payload.level ;\nmsg2.payload = msg.payload.flow ; \n\nreturn [ msg1, msg2 ,msg3 ];\n","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":1400,"wires":[["8b3d7152.44a13"],["8b3d7152.44a13"],["8b3d7152.44a13"]]},{"id":"e90206a3.c66fb8","type":"inject","z":"58376f27.96e5b","name":" { \"level\": 10, \"flow\": 20 }","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":" { \"level\": 10, \"flow\": 20 }","payloadType":"jsonata","x":580,"y":1360,"wires":[["cad88975.94d5a8","8b3d7152.44a13"]]},{"id":"8b3d7152.44a13","type":"debug","z":"58376f27.96e5b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1031.011661529541,"y":1358.3789081573486,"wires":[]},{"id":"e50b5800.cf9d88","type":"function","z":"58376f27.96e5b","name":"msg.payload < msg.topic","func":"if (msg.payload < msg.topic) return null;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":1240,"wires":[["17f32694.c92379"]]},{"id":"bb08dae9.d9e308","type":"inject","z":"58376f27.96e5b","name":"topic 2 , payload 6","props":[{"p":"payload"},{"p":"topic","v":"2","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"6","payloadType":"num","x":550,"y":1200,"wires":[["e50b5800.cf9d88"]]},{"id":"17f32694.c92379","type":"debug","z":"58376f27.96e5b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":1240,"wires":[]},{"id":"d4e8363e.6727f8","type":"inject","z":"58376f27.96e5b","name":"topic 2 , payload 0","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"2","payload":"0","payloadType":"num","x":550,"y":1260,"wires":[["e50b5800.cf9d88"]]},{"id":"9e633d5b.d7acd","type":"inject","z":"58376f27.96e5b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"254","payloadType":"num","x":490,"y":120,"wires":[["1d98376f.4e0a19","dd2874a2.e0a6c8"]]},{"id":"1d98376f.4e0a19","type":"debug","z":"58376f27.96e5b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":120,"wires":[]},{"id":"dd2874a2.e0a6c8","type":"function","z":"58376f27.96e5b","name":"msg.payload/10","func":"msg.payload = msg.payload/10;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":160,"wires":[["1d98376f.4e0a19"]]},{"id":"d198230b.427ec","type":"function","z":"58376f27.96e5b","name":"split  Array","func":"var msg1 = {};\nvar msg2 = {};\n \nmsg1.payload = msg.payload[0] ;\n\nmsg2.payload = msg.payload[1] ; \n\nreturn [ msg1, msg2 ];\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":400,"wires":[["9b98f801.a91458"],["9b98f801.a91458"]]},{"id":"9b98f801.a91458","type":"debug","z":"58376f27.96e5b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":400,"wires":[]},{"id":"6e49d37f.78bdfc","type":"function","z":"58376f27.96e5b","name":"split value","func":"var msg1 = {};\nvar msg2 = {};\n\nmsg1.payload = msg.payload.level ;\nmsg2.payload = msg.payload.flow ; \n\nreturn [ msg1, msg2 , null ];\n","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":720,"wires":[["f47d4ae.70a56b8"],["f47d4ae.70a56b8"],["f47d4ae.70a56b8"]]},{"id":"37b1dd85.896632","type":"inject","z":"58376f27.96e5b","name":" { \"level\": 10, \"flow\": 20 }","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":" { \"level\": 10, \"flow\": 20 }","payloadType":"jsonata","x":520,"y":680,"wires":[["6e49d37f.78bdfc","f47d4ae.70a56b8"]]},{"id":"f47d4ae.70a56b8","type":"debug","z":"58376f27.96e5b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":680,"wires":[]},{"id":"f450b594.87f328","type":"inject","z":"58376f27.96e5b","name":"express [256,655]","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[256,655]","payloadType":"jsonata","x":510,"y":400,"wires":[["d198230b.427ec"]]},{"id":"1f011c0d.fcbc44","type":"inject","z":"58376f27.96e5b","name":" { \"level\": 10, \"flow\": 20 }","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":" { \"level\": 10, \"flow\": 20 }","payloadType":"jsonata","x":500,"y":560,"wires":[["61f802b9.82c3ac","b8477967.a84218","faca0846.ef74a8"]]},{"id":"b8477967.a84218","type":"change","z":"58376f27.96e5b","name":"Select  payload.level","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.level","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":600,"wires":[["61f802b9.82c3ac"]]},{"id":"61f802b9.82c3ac","type":"debug","z":"58376f27.96e5b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":560,"wires":[]},{"id":"faca0846.ef74a8","type":"change","z":"58376f27.96e5b","name":"Select payload.flow","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.flow","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":640,"wires":[["61f802b9.82c3ac"]]},{"id":"a252c5c5.b42c88","type":"debug","z":"58376f27.96e5b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":1480,"wires":[]}]
