Node-Red/Node-Red  04  Modbus.json
[{"id":"57a15168.1c5bc","type":"tab","label":"Node-Red  04  Modbus","disabled":false,"info":""},{"id":"9a8e6778.be9f28","type":"modbus-read","z":"57a15168.1c5bc","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"InputRegister","adr":"0","quantity":"2","rate":"","rateUnit":"","delayOnStart":false,"startDelayTime":"","server":"e7589f77.ab05c","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":240,"y":220,"wires":[["af2ddd91.05d95","57db26c.e2d31d8"],[]]},{"id":"ffc1aa92.f7fcb8","type":"modbus-write","z":"57a15168.1c5bc","name":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"d84af18d.a79b2","emptyMsgOnFail":false,"keepMsgProperties":false,"x":260,"y":300,"wires":[["57db26c.e2d31d8"],[]]},{"id":"df21be19.c947c","type":"inject","z":"57a15168.1c5bc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"200","payloadType":"num","x":60,"y":300,"wires":[["ffc1aa92.f7fcb8"]]},{"id":"94954e96.97641","type":"inject","z":"57a15168.1c5bc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"300","payloadType":"num","x":70,"y":360,"wires":[["ffc1aa92.f7fcb8"]]},{"id":"57db26c.e2d31d8","type":"debug","z":"57a15168.1c5bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":240,"wires":[]},{"id":"af2ddd91.05d95","type":"modbus-response","z":"57a15168.1c5bc","name":"","registerShowMax":20,"x":540,"y":160,"wires":[]},{"id":"e7589f77.ab05c","type":"modbus-client","name":"FactoryIO","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.51","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"d84af18d.a79b2","type":"modbus-client","name":"SimModbus","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true}]
