Node-Red/Node-Red  03  Basic Dashboard.json
[{"id":"7b41079d.4bcce8","type":"tab","label":"Node-Red  03  Basic Dashboard","disabled":false,"info":""},{"id":"6dd32687.9752b8","type":"inject","z":"7b41079d.4bcce8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":100,"wires":[["16519f8d.03b0f"]]},{"id":"16519f8d.03b0f","type":"function","z":"7b41079d.4bcce8","name":"Random Number","func":"msg.payload = Math.round(Math.random()*100)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":100,"wires":[["c0d01776.e45758","288a7f72.63d7f","509c110c.eb48f"]]},{"id":"c0d01776.e45758","type":"debug","z":"7b41079d.4bcce8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":592.9922065734863,"y":99.49608993530273,"wires":[]},{"id":"509c110c.eb48f","type":"ui_gauge","z":"7b41079d.4bcce8","name":"","group":"95d974c8.a21c18","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":160,"wires":[]},{"id":"288a7f72.63d7f","type":"ui_chart","z":"7b41079d.4bcce8","name":"","group":"95d974c8.a21c18","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":590,"y":200,"wires":[[]]},{"id":"7623dbcb.01dc24","type":"ui_button","z":"7b41079d.4bcce8","name":"","group":"9b812822.1a7928","order":2,"width":0,"height":0,"passthru":false,"label":"ON (1)","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":230,"y":280,"wires":[["96263f8c.4ee1"]]},{"id":"96263f8c.4ee1","type":"ui_text","z":"7b41079d.4bcce8","group":"9b812822.1a7928","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":280,"wires":[]},{"id":"d6f002ff.e233d","type":"ui_button","z":"7b41079d.4bcce8","name":"","group":"9b812822.1a7928","order":2,"width":0,"height":0,"passthru":false,"label":"OFF (0)","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":240,"y":340,"wires":[["96263f8c.4ee1"]]},{"id":"84884df5.ad33c","type":"ui_numeric","z":"7b41079d.4bcce8","name":"","label":"numeric","tooltip":"","group":"9b812822.1a7928","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":10,"step":1,"x":240,"y":400,"wires":[["96263f8c.4ee1"]]},{"id":"cc46e22e.7ccf4","type":"ui_slider","z":"7b41079d.4bcce8","name":"","label":"slider","tooltip":"","group":"9b812822.1a7928","order":4,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"1000","step":1,"x":230,"y":460,"wires":[["96263f8c.4ee1"]]},{"id":"d7ed8b70.a524f8","type":"ui_text_input","z":"7b41079d.4bcce8","name":"","label":"","tooltip":"","group":"9b812822.1a7928","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":240,"y":520,"wires":[["96263f8c.4ee1"]]},{"id":"95d974c8.a21c18","type":"ui_group","name":"Group 1","tab":"99542e6b.5f578","order":1,"disp":true,"width":6},{"id":"9b812822.1a7928","type":"ui_group","name":"Group 2","tab":"99542e6b.5f578","order":2,"disp":true,"width":6},{"id":"99542e6b.5f578","type":"ui_tab","name":"UtccFoood","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
