Node-Red/Node-Red  06  Modbus FactoryIO.json
[{"id":"3f0ca8c8.f6a568","type":"tab","label":"Node-Red  06  Modbus FactoryIO","disabled":false,"info":""},{"id":"a5bc775c.ebe6b8","type":"modbus-read","z":"3f0ca8c8.f6a568","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"Input","adr":"0","quantity":"1","rate":"","rateUnit":"","delayOnStart":false,"startDelayTime":"","server":"e7589f77.ab05c","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":150,"y":180,"wires":[["efefcdbe.06423","68c60381.c3289c"],[]]},{"id":"efefcdbe.06423","type":"debug","z":"3f0ca8c8.f6a568","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":180,"wires":[]},{"id":"68c60381.c3289c","type":"change","z":"3f0ca8c8.f6a568","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":120,"wires":[["efefcdbe.06423","12461916.403d77"]]},{"id":"12461916.403d77","type":"ui_text","z":"3f0ca8c8.f6a568","group":"783a27bf.4e6ce8","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":120,"wires":[]},{"id":"29c00c83.3c0294","type":"modbus-write","z":"3f0ca8c8.f6a568","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"0","quantity":"1","server":"e7589f77.ab05c","emptyMsgOnFail":false,"keepMsgProperties":false,"x":340,"y":300,"wires":[["efefcdbe.06423"],[]]},{"id":"fd60f742.c19348","type":"inject","z":"3f0ca8c8.f6a568","name":"On","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":110,"y":260,"wires":[["29c00c83.3c0294"]]},{"id":"3521a584.53af9a","type":"inject","z":"3f0ca8c8.f6a568","name":"Off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":110,"y":300,"wires":[["29c00c83.3c0294"]]},{"id":"6062a889.06f058","type":"ui_button","z":"3f0ca8c8.f6a568","name":"","group":"783a27bf.4e6ce8","order":1,"width":0,"height":0,"passthru":false,"label":"ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":100,"y":360,"wires":[["29c00c83.3c0294"]]},{"id":"7963943f.bfc36c","type":"ui_button","z":"3f0ca8c8.f6a568","name":"","group":"783a27bf.4e6ce8","order":2,"width":0,"height":0,"passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":90,"y":420,"wires":[["29c00c83.3c0294"]]},{"id":"e7589f77.ab05c","type":"modbus-client","name":"FactoryIO","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.51","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"783a27bf.4e6ce8","type":"ui_group","name":"Group 1","tab":"ce3427c7.e0c758","order":1,"disp":true,"width":6},{"id":"ce3427c7.e0c758","type":"ui_tab","name":"Conveyor","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
