Node-Red/Node-Red - 01  Basic Debug.json
[{"id":"2bf2615a.97f73e","type":"tab","label":"Node-Red - 01  Basic Debug","disabled":false,"info":""},{"id":"127e77e8.6c9eb8","type":"debug","z":"2bf2615a.97f73e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":140,"wires":[]},{"id":"d83121c3.a2265","type":"inject","z":"2bf2615a.97f73e","name":"express [1,2,3,4]","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1,2,3,4]","payloadType":"jsonata","x":280,"y":160,"wires":[["127e77e8.6c9eb8"]]},{"id":"6e6ebf48.d4aa3","type":"inject","z":"2bf2615a.97f73e","name":"express { \"level\": 1, \"flow\": 2}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"level\": 1, \"flow\": 2}","payloadType":"jsonata","x":240,"y":240,"wires":[["127e77e8.6c9eb8"]]},{"id":"943bda45.340418","type":"function","z":"2bf2615a.97f73e","name":"กำหนด Array ตัวเลข","func":"msg.payload = [1,2,3,4];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":460,"wires":[["7ad05df1.8af5c4"]]},{"id":"fd8ab00f.c1c56","type":"function","z":"2bf2615a.97f73e","name":"{ \"level\": 1, \"flow\": 2 }","func":"msg.payload = { \"level\": 1, \"flow\": 2 };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":580,"wires":[["142b509a.304cef"]]},{"id":"53da1475.82bb9c","type":"inject","z":"2bf2615a.97f73e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":320,"wires":[["fba17e77.5af6c"]]},{"id":"dc5fc2e4.42038","type":"debug","z":"2bf2615a.97f73e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":380,"wires":[]},{"id":"c734b08.e14175","type":"inject","z":"2bf2615a.97f73e","name":"ตัวเลข Number","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"500","payloadType":"num","x":280,"y":120,"wires":[["127e77e8.6c9eb8"]]},{"id":"a8635ef0.f71aa","type":"inject","z":"2bf2615a.97f73e","name":"ข้อความ String","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hellow world","payloadType":"str","x":290,"y":80,"wires":[["127e77e8.6c9eb8"]]},{"id":"fba17e77.5af6c","type":"function","z":"2bf2615a.97f73e","name":"ข้อความต่อกัน +","func":"var name = \"สมชาย\";\nvar surname = 'ขยันมาก';\n\nmsg.payload = name + \" \" + surname;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":320,"wires":[["7f98efba.1d7b6"]]},{"id":"6fdb7034.30d04","type":"function","z":"2bf2615a.97f73e","name":"สมการ ตัวเลข","func":"var x = 4;\nvar y = 5;\n\nmsg.payload = x + y ;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":380,"wires":[["dc5fc2e4.42038"]]},{"id":"9ded959a.f266f8","type":"inject","z":"2bf2615a.97f73e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":380,"wires":[["6fdb7034.30d04"]]},{"id":"ca75ac33.3c184","type":"inject","z":"2bf2615a.97f73e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":460,"wires":[["943bda45.340418"]]},{"id":"77adea2.be1f014","type":"inject","z":"2bf2615a.97f73e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":580,"wires":[["fd8ab00f.c1c56"]]},{"id":"c13e58f9.397218","type":"inject","z":"2bf2615a.97f73e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":40,"wires":[["127e77e8.6c9eb8"]]},{"id":"5cf14055.22d1","type":"inject","z":"2bf2615a.97f73e","name":"express ['ก' ,'ข',\"ค\"]","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"['ก' ,'ข','ค']","payloadType":"jsonata","x":270,"y":200,"wires":[["127e77e8.6c9eb8"]]},{"id":"f13f3042.9560b","type":"function","z":"2bf2615a.97f73e","name":"กำหนด Array ตัวอักษร","func":"msg.payload = ['ก' ,'ข','ค'];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":520,"wires":[["22591d01.d6cea2"]]},{"id":"f8792305.a2c2b","type":"inject","z":"2bf2615a.97f73e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":520,"wires":[["f13f3042.9560b"]]},{"id":"7f98efba.1d7b6","type":"debug","z":"2bf2615a.97f73e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":320,"wires":[]},{"id":"7ad05df1.8af5c4","type":"debug","z":"2bf2615a.97f73e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":460,"wires":[]},{"id":"22591d01.d6cea2","type":"debug","z":"2bf2615a.97f73e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":520,"wires":[]},{"id":"142b509a.304cef","type":"debug","z":"2bf2615a.97f73e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":580,"wires":[]}]
