Node-Red/NodeRed-Line Alarm.json
[{"id":"decde673.d14d18","type":"inject","z":"87c32059.2eb4a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"200","payloadType":"num","x":90,"y":220,"wires":[["99db977c.9d0158"]]},{"id":"ed4a6642.b31df8","type":"http request","z":"87c32059.2eb4a","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://notify-api.line.me/api/notify","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":220,"wires":[["1bf43fd.43513c"]]},{"id":"1bf43fd.43513c","type":"debug","z":"87c32059.2eb4a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":220,"wires":[]},{"id":"99db977c.9d0158","type":"function","z":"87c32059.2eb4a","name":"","func":"msg.headers = \n{'content-type':'application/x-www-form-urlencoded'\n,'Authorization':'Bearer ---YourLineToken----'};\nmsg.payload = {\"message\":\"alarm \" + msg.payload };\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":220,"wires":[["ed4a6642.b31df8"]]}]
