Node-Red/Node-Red - 01  Basic Debug.json
[{"id":"2bf2615a.97f73e","type":"tab","label":"Node-Red - 01  Basic Debug","disabled":false,"info":""},{"id":"127e77e8.6c9eb8","type":"debug","z":"2bf2615a.97f73e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":120,"wires":[]},{"id":"d83121c3.a2265","type":"inject","z":"2bf2615a.97f73e","name":"express [1,2,3,4]","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1,2,3,4]","payloadType":"jsonata","x":240,"y":140,"wires":[["127e77e8.6c9eb8"]]},{"id":"6e6ebf48.d4aa3","type":"inject","z":"2bf2615a.97f73e","name":"express { \"level\": 1, \"flow\": 2}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"level\": 1, \"flow\": 2}","payloadType":"jsonata","x":200,"y":220,"wires":[["127e77e8.6c9eb8"]]},{"id":"943bda45.340418","type":"function","z":"2bf2615a.97f73e","name":"กำหนด Array ตัวเลข","func":"msg.payload = [1,2,3,4];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":440,"wires":[["dc5fc2e4.42038"]]},{"id":"fd8ab00f.c1c56","type":"function","z":"2bf2615a.97f73e","name":"{ \"level\": 1, \"flow\": 2 }","func":"msg.payload = { \"level\": 1, \"flow\": 2 };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":560,"wires":[["dc5fc2e4.42038"]]},{"id":"53da1475.82bb9c","type":"inject","z":"2bf2615a.97f73e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":320,"wires":[["fba17e77.5af6c"]]},{"id":"dc5fc2e4.42038","type":"debug","z":"2bf2615a.97f73e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":380,"wires":[]},{"id":"c734b08.e14175","type":"inject","z":"2bf2615a.97f73e","name":"ตัวเลข Number","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"500","payloadType":"num","x":240,"y":100,"wires":[["127e77e8.6c9eb8"]]},{"id":"a8635ef0.f71aa","type":"inject","z":"2bf2615a.97f73e","name":"ข้อความ String","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hellow world","payloadType":"str","x":250,"y":60,"wires":[["127e77e8.6c9eb8"]]},{"id":"fba17e77.5af6c","type":"function","z":"2bf2615a.97f73e","name":"ข้อความต่อกัน +","func":"var name = \"สมชาย\";\nvar surname = \"ขยันมาก\";\n\nmsg.payload = name + \" \" + surname;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":320,"wires":[["dc5fc2e4.42038"]]},{"id":"6fdb7034.30d04","type":"function","z":"2bf2615a.97f73e","name":"สมการ ตัวเลข","func":"var x = 4;\nvar y = 5;\n\nmsg.payload = x + y ;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":380,"wires":[["dc5fc2e4.42038"]]},{"id":"9ded959a.f266f8","type":"inject","z":"2bf2615a.97f73e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":380,"wires":[["6fdb7034.30d04"]]},{"id":"ca75ac33.3c184","type":"inject","z":"2bf2615a.97f73e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":440,"wires":[["943bda45.340418"]]},{"id":"77adea2.be1f014","type":"inject","z":"2bf2615a.97f73e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":560,"wires":[["fd8ab00f.c1c56"]]},{"id":"c13e58f9.397218","type":"inject","z":"2bf2615a.97f73e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":20,"wires":[["127e77e8.6c9eb8"]]},{"id":"5cf14055.22d1","type":"inject","z":"2bf2615a.97f73e","name":"express ['ก' ,'ข',\"ค\"]","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"['ก' ,'ข','ค']","payloadType":"jsonata","x":230,"y":180,"wires":[["127e77e8.6c9eb8"]]},{"id":"f13f3042.9560b","type":"function","z":"2bf2615a.97f73e","name":"กำหนด Array ตัวอักษร","func":"msg.payload = [1,2,3,4];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":500,"wires":[["dc5fc2e4.42038"]]},{"id":"f8792305.a2c2b","type":"inject","z":"2bf2615a.97f73e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":500,"wires":[["f13f3042.9560b"]]}]
