Node-Red/Node-Red Level Control.json
[{"id":"8cd56567.637618","type":"tab","label":"LevelControl To Ms sql ","disabled":false,"info":""},{"id":"93829480.859cf8","type":"modbus-flex-getter","z":"8cd56567.637618","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"d417275.2f9d2d8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":330,"y":920,"wires":[["46ab646c.da217c","617cee8.514e31","f84b0d0c.786d1"],[]]},{"id":"432035f7.30019c","type":"inject","z":"8cd56567.637618","name":"Interval  60","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":104.76573944091797,"y":755.7499389648438,"wires":[["c614c4ad.883438","ab57f578.447568","a4760986.30a438"]]},{"id":"c614c4ad.883438","type":"function","z":"8cd56567.637618","name":"FC04  : Read Analog Input","func":"var ReadModbus = flow.get(\"ReadModbus\");\n// values[0] is the 'count' value\n\nmsg.payload = { \n    'fc': 4, \n    'unitid': 1,\n    'address': 0 , \n    'quantity': 2 \n     \n};  \n    \nif ( ReadModbus === 0) {\n    \n    node.status({text:\"ReadModubs = 0\"});\n    return null;\n} else {\n    node.status({text:\"ReadModubs = 1\"});\n    return msg;\n}\n \n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":820,"wires":[["b4cca21e.ee1af","93829480.859cf8"]]},{"id":"1c3a2333.00e75d","type":"function","z":"8cd56567.637618","name":"Over Under Alarm Condition","func":"var OverValueAlarm = flow.get(\"OverValueAlarm\");\nvar UnderValueAlarm = flow.get(\"UnderValueAlarm\");\n \n \nif (msg.payload >= OverValueAlarm)  {\n   msg.payload =   msg.payload + \"Over \" + OverValueAlarm ; \n    node.status({text: msg.payload });\n} \nelse if (msg.payload <= UnderValueAlarm) {\n    msg.payload = msg.payload + \" under \" + OverValueAlarm ; \n     node.status({text: msg.payload});\n} \nelse {\n  \n  return null;\n  \n}\n \nreturn   msg ;\n\n\n ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":1000,"wires":[["6c81196d.f2a6a8","19fcf068.9333d","15390893.adc697"]]},{"id":"6c81196d.f2a6a8","type":"mqtt out","z":"8cd56567.637618","name":"","topic":"utccfood","qos":"","retain":"","broker":"e92196f3.56c398","x":1017.7657928466797,"y":994.7500524520874,"wires":[]},{"id":"46ab646c.da217c","type":"modbus-response","z":"8cd56567.637618","name":"","registerShowMax":20,"x":630,"y":880,"wires":[]},{"id":"19fcf068.9333d","type":"debug","z":"8cd56567.637618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1026.000228881836,"y":946.0000095367432,"wires":[]},{"id":"441f7237.4d73ac","type":"MSSQL","z":"8cd56567.637618","mssqlCN":"a058eb5d.f0e1d8","name":"Insert Data","query":"INSERT INTO [LevelControlData] (metric, value,machine) \n               VALUES ('{{{topic}}}',{{{payload}}} ,'m01');\n\n","outField":"payload","x":790,"y":1200,"wires":[[]]},{"id":"e2a1bf7e.a185d","type":"inject","z":"8cd56567.637618","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Level","payload":"2.5","payloadType":"num","x":540,"y":1160,"wires":[["441f7237.4d73ac"]]},{"id":"971df863.afae98","type":"debug","z":"8cd56567.637618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":1280,"wires":[]},{"id":"617cee8.514e31","type":"change","z":"8cd56567.637618","name":"payload[0]/100 - set topic level","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]/100","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"level","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1020,"wires":[["441f7237.4d73ac","1c3a2333.00e75d","60bd38f2.e92818","5b1c5944.552f78"]]},{"id":"ccad92bb.832be","type":"change","z":"8cd56567.637618","name":"Set ReadModbus = 0","rules":[{"t":"set","p":"ReadModbus","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":390.88651943206787,"y":214.02326774597168,"wires":[["6520780c.99f938"]]},{"id":"e0b55854.3e0d68","type":"ui_button","z":"8cd56567.637618","name":"","group":"38f6598b.e1a346","order":2,"width":3,"height":1,"passthru":false,"label":"button 1 ReadModbus","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":123.874755859375,"y":297.3201484680176,"wires":[["ca809ac4.cbb3b8"]]},{"id":"487e8cc9.842194","type":"ui_button","z":"8cd56567.637618","name":"","group":"38f6598b.e1a346","order":3,"width":3,"height":1,"passthru":false,"label":"button 0 Stop ReadModbus","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":131.99977111816406,"y":348.3201289176941,"wires":[["ca809ac4.cbb3b8"]]},{"id":"ca809ac4.cbb3b8","type":"change","z":"8cd56567.637618","name":"","rules":[{"t":"set","p":"ReadModbus","pt":"flow","to":"payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":379.76544189453125,"y":311.74985694885254,"wires":[["6520780c.99f938","ab57f578.447568","c614c4ad.883438"]]},{"id":"aa5f5e51.97b2c","type":"ui_text","z":"8cd56567.637618","group":"38f6598b.e1a346","order":4,"width":0,"height":0,"name":"","label":"OverValueAlarm","format":"{{msg.payload}}","layout":"row-spread","x":713.8907508850098,"y":36.968753814697266,"wires":[]},{"id":"6520780c.99f938","type":"ui_gauge","z":"8cd56567.637618","name":"","group":"38f6598b.e1a346","order":1,"width":3,"height":2,"gtype":"donut","title":"Record Data","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":619.8866729736328,"y":215.4529571533203,"wires":[]},{"id":"debdf423.a6adb8","type":"ui_text","z":"8cd56567.637618","group":"38f6598b.e1a346","order":8,"width":0,"height":0,"name":"","label":"Last Insert Data","format":"<font size =3><font Color =Green>{{msg.payload}}","layout":"row-spread","x":940,"y":820,"wires":[]},{"id":"b4cca21e.ee1af","type":"function","z":"8cd56567.637618","name":"Last Read Modbus Time","func":"var date;\ndate = new Date();\ndate = (('00' + date.getHours()).slice(-2) + ':' + ('00' + date.getMinutes()).slice(-2) + ':' + ('00' + date.getSeconds()).slice(-2));\nmsg.payload =  date;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":820,"wires":[["debdf423.a6adb8"]]},{"id":"c3483b52.af68b8","type":"change","z":"8cd56567.637618","name":"","rules":[{"t":"set","p":"OverValueAlarm","pt":"flow","to":"payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":411.765625,"y":37.74999523162842,"wires":[["aa5f5e51.97b2c"]]},{"id":"8d4ea1f6.06b7f","type":"change","z":"8cd56567.637618","name":"","rules":[{"t":"set","p":"UnderValueAlarm","pt":"flow","to":"payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":404.76566314697266,"y":125.75002002716064,"wires":[["3deead56.c59442"]]},{"id":"f759d372.c7841","type":"inject","z":"8cd56567.637618","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"num","x":164.76564025878906,"y":120.74998092651367,"wires":[["8d4ea1f6.06b7f"]]},{"id":"61b6f437.e1c00c","type":"inject","z":"8cd56567.637618","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"8","payloadType":"num","x":165.76564407348633,"y":27.999999046325684,"wires":[["c3483b52.af68b8"]]},{"id":"3deead56.c59442","type":"ui_text","z":"8cd56567.637618","group":"38f6598b.e1a346","order":6,"width":0,"height":0,"name":"","label":"UnderValueAlarm","format":"{{msg.payload}}","layout":"row-spread","x":718.7657470703125,"y":126.75001907348633,"wires":[]},{"id":"15390893.adc697","type":"ui_text","z":"8cd56567.637618","group":"38f6598b.e1a346","order":9,"width":0,"height":0,"name":"","label":"LastAlarm","format":"<font size =3><font Color =Red>{{msg.payload}}","layout":"row-spread","x":1021.7654647827148,"y":1051.750012397766,"wires":[]},{"id":"685ec481.aa8b8c","type":"inject","z":"8cd56567.637618","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"flow","payload":"2.5","payloadType":"num","x":530,"y":1220,"wires":[["441f7237.4d73ac"]]},{"id":"52750e5e.d384b","type":"comment","z":"8cd56567.637618","name":"Test Insert to MsSql","info":"\n\n\nINSERT INTO [LevelData] (SensorCode, SensorValue) \n            VALUES ('{{{topic}}}',{{{payload}}} );","x":343.5079126358032,"y":1166.4415831565857,"wires":[]},{"id":"1f71884b.954d98","type":"comment","z":"8cd56567.637618","name":"Set On Off Read Modbus","info":"\n\n\nINSERT INTO [LevelData] (SensorCode, SensorValue) \n            VALUES ('{{{topic}}}',{{{payload}}} );","x":926.7658309936523,"y":74.75000381469727,"wires":[]},{"id":"1afbd6b0.e3f099","type":"change","z":"8cd56567.637618","name":"payload[1]/100  - set topic flow","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1]/100","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"flow","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1080,"wires":[["441f7237.4d73ac","60bd38f2.e92818","1a1ccb07.193f45"]]},{"id":"724506f0.2c7088","type":"ui_text_input","z":"8cd56567.637618","name":"","label":"Set OverValueAlarm","tooltip":"","group":"38f6598b.e1a346","order":5,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":116,"y":76.66668605804443,"wires":[["c3483b52.af68b8"]]},{"id":"c3668ca.04e327","type":"ui_text_input","z":"8cd56567.637618","name":"","label":"Set UnderValueAlarm","tooltip":"","group":"38f6598b.e1a346","order":7,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":115.00001525878906,"y":171.66672706604004,"wires":[["8d4ea1f6.06b7f"]]},{"id":"f84b0d0c.786d1","type":"delay","z":"8cd56567.637618","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":1040,"wires":[["1afbd6b0.e3f099"]]},{"id":"14b05fc2.85cfa","type":"MSSQL","z":"8cd56567.637618","mssqlCN":"a058eb5d.f0e1d8","name":"Select Top (6) * From LevelData","query":"Select TOP (6) id, metric, value \n , FORMAT( DATEADD(hour,7, [time]), 'dd/MM/yyyy HH:mm ') as [time]  \nFrom LevelControlData \n Order by id Desc;\n               \n\n","outField":"payload","x":370,"y":1320,"wires":[["971df863.afae98","ead81e0c.5b9d5"]]},{"id":"ead81e0c.5b9d5","type":"ui_template","z":"8cd56567.637618","group":"ad95fa68.2ecb68","name":"","order":4,"width":8,"height":9,"format":"<table style=\"width:100%\">\n  <tr>\n    <th>id</th> \n    <th>SensorCode</th>\n    <th>SensorValue</th>\n    <th>time</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:20\">\n    <td>{{$index}}</td>\n    <td align=\"center\">{{msg.payload[$index].metric}}</td> \n    <td align=\"center\">{{msg.payload[$index].value}}</td>\n    <td align=\"center\">{{msg.payload[$index].time}}</td>\n   </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":680,"y":1340,"wires":[[]]},{"id":"4f1ef763.9e7448","type":"inject","z":"8cd56567.637618","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":159.66642665863037,"y":231.66645622253418,"wires":[["ccad92bb.832be"]]},{"id":"568731e7.2c8dc","type":"comment","z":"8cd56567.637618","name":"Read Modbus When flow.ReadModbus = 1","info":"\n ","x":175.66671752929688,"y":381.6666679382324,"wires":[]},{"id":"60bd38f2.e92818","type":"ui_chart","z":"8cd56567.637618","name":"","group":"ad95fa68.2ecb68","order":3,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":817.0000305175781,"y":1053.333291053772,"wires":[[]]},{"id":"e79689a3.71a0d8","type":"function","z":"8cd56567.637618","name":"FC06 Set Fill Value * 100","func":" node.status({text:msg.payload });\n\nmsg.payload = { \n    'fc': 6, \n    'unitid': 1,\n    'address': 0 , \n    'quantity': 1 , \n     'value': msg.payload *100\n};  \n     \n    return msg;\n \n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":420,"wires":[["3f8992cf.813fae","96f295c3.85f118"]]},{"id":"4cf2b598.659c1c","type":"function","z":"8cd56567.637618","name":"FC06 Set Discharge Value * 100","func":"  node.status({text:msg.payload });\n\nmsg.payload = { \n    'fc': 6, \n    'unitid': 1,\n    'address': 1 , \n    'quantity': 1 ,\n    'value': msg.payload *100\n};  \n     \n    return msg;\n \n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":720,"wires":[["3f8992cf.813fae","96f295c3.85f118"]]},{"id":"e890c688.00cd58","type":"modbus-response","z":"8cd56567.637618","name":"","registerShowMax":20,"x":1170,"y":620,"wires":[]},{"id":"101c9769.ed5049","type":"ui_text","z":"8cd56567.637618","group":"38f6598b.e1a346","order":10,"width":0,"height":0,"name":"","label":"Fill Value","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":460,"wires":[]},{"id":"48f54d61.a9cc44","type":"ui_text","z":"8cd56567.637618","group":"38f6598b.e1a346","order":12,"width":0,"height":0,"name":"","label":"Discharge Value","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":660,"wires":[]},{"id":"3f8992cf.813fae","type":"debug","z":"8cd56567.637618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":560,"wires":[]},{"id":"96f295c3.85f118","type":"modbus-flex-write","z":"8cd56567.637618","name":"","showStatusActivities":false,"showErrors":false,"server":"d417275.2f9d2d8","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1110,"y":520,"wires":[["e890c688.00cd58"],[]]},{"id":"38dd7124.1367ee","type":"ui_text_input","z":"8cd56567.637618","name":"","label":"Input Fill","tooltip":"","group":"38f6598b.e1a346","order":11,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":560,"y":440,"wires":[["e79689a3.71a0d8","101c9769.ed5049"]]},{"id":"c21970d8.ab6cd","type":"ui_text_input","z":"8cd56567.637618","name":"","label":"Input Discharge","tooltip":"","group":"38f6598b.e1a346","order":13,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":600,"y":720,"wires":[["4cf2b598.659c1c","48f54d61.a9cc44"]]},{"id":"5b1c5944.552f78","type":"ui_gauge","z":"8cd56567.637618","name":"","group":"ad95fa68.2ecb68","order":1,"width":4,"height":2,"gtype":"gage","title":"Level","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":940,"wires":[]},{"id":"1a1ccb07.193f45","type":"ui_gauge","z":"8cd56567.637618","name":"","group":"ad95fa68.2ecb68","order":2,"width":4,"height":2,"gtype":"gage","title":"flow","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":1100,"wires":[]},{"id":"abcd098.6e07cf8","type":"modbus-flex-getter","z":"8cd56567.637618","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"d417275.2f9d2d8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":230,"y":580,"wires":[["e677408f.51f42","4f487c05.829624"],[]]},{"id":"ab57f578.447568","type":"function","z":"8cd56567.637618","name":"FC03  : Read Holding Reg","func":"var ReadModbus = flow.get(\"ReadModbus\");\n// values[0] is the 'count' value\n\nmsg.payload = { \n    'fc': 3, \n    'unitid': 1,\n    'address': 0 , \n    'quantity': 2 \n     \n};  \n    \nif ( ReadModbus === 0) {\n    \n    node.status({text:\"ReadModubs = 0\"});\n    return null;\n} else {\n    node.status({text:\"ReadModubs = 1\"});\n    return msg;\n}\n \n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":500,"wires":[["abcd098.6e07cf8"]]},{"id":"e677408f.51f42","type":"change","z":"8cd56567.637618","name":"payload[0]/100 - set topic Fill","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]/100","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"fill","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":500,"wires":[["101c9769.ed5049","3f8992cf.813fae"]]},{"id":"4f487c05.829624","type":"change","z":"8cd56567.637618","name":"payload[0]/100 - set topic Discharge","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1]/100","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"fill","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":640,"wires":[["48f54d61.a9cc44","3f8992cf.813fae"]]},{"id":"e9c9bc82.03df4","type":"comment","z":"8cd56567.637618","name":"Read Modbus  Fill and Discharge FC03","info":"\n\n\nINSERT INTO [LevelData] (SensorCode, SensorValue) \n            VALUES ('{{{topic}}}',{{{payload}}} );","x":590,"y":580,"wires":[]},{"id":"a4760986.30a438","type":"function","z":"8cd56567.637618","name":"On by ReadModbus","func":"var ReadModbus = flow.get(\"ReadModbus\");\n// values[0] is the 'count' value\n\n    \nif ( ReadModbus === 0) {\n    \n    node.status({text:\"ReadModubs = 0\"});\n    return null;\n} else {\n    node.status({text:\"ReadModubs = 1\"});\n    return msg;\n}\n \n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":1240,"wires":[["14b05fc2.85cfa"]]},{"id":"3b98dbb6.f0b904","type":"inject","z":"8cd56567.637618","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1340,"wires":[["14b05fc2.85cfa"]]},{"id":"d417275.2f9d2d8","type":"modbus-client","name":"FactoryIO 192.168.1.55:502","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.55","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"e92196f3.56c398","type":"mqtt-broker","name":"test.mosquitto.org","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a058eb5d.f0e1d8","type":"MSSQL-CN","name":"MsSQL Server","server":"localhost","encyption":false,"database":"IotDB"},{"id":"38f6598b.e1a346","type":"ui_group","name":"Group 1","tab":"693f8f84.736f5","order":1,"disp":true,"width":6},{"id":"ad95fa68.2ecb68","type":"ui_group","name":"Group 2","tab":"693f8f84.736f5","order":2,"disp":true,"width":8},{"id":"693f8f84.736f5","type":"ui_tab","name":"LevelControl To Ms SQL","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
