Node-Red/Node-Red Level Control.json
[{"id":"9a81b29c.a412c","type":"tab","label":"LevelControl To Ms sql ","disabled":false,"info":""},{"id":"2cccc701.0994b8","type":"modbus-flex-getter","z":"9a81b29c.a412c","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"d417275.2f9d2d8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":330,"y":920,"wires":[["5342791b.b4fca8","b8bc65d.e162b98","52a5cc94.921054"],[]]},{"id":"fcd8a583.c89ad8","type":"inject","z":"9a81b29c.a412c","name":"Interval  60","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":104.76573944091797,"y":755.7499389648438,"wires":[["29031de5.0e2262","5fec3279.0e5d8c","67306c93.503a94"]]},{"id":"29031de5.0e2262","type":"function","z":"9a81b29c.a412c","name":"FC04  : Read Analog Input","func":"var ReadModbus = flow.get(\"ReadModbus\");\n// values[0] is the 'count' value\n\nmsg.payload = { \n    'fc': 4, \n    'unitid': 1,\n    'address': 0 , \n    'quantity': 2 \n     \n};  \n    \nif ( ReadModbus === 0) {\n    \n    node.status({text:\"ReadModubs = 0\"});\n    return null;\n} else {\n    node.status({text:\"ReadModubs = 1\"});\n    return msg;\n}\n \n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":820,"wires":[["3e61881b.51cd68","2cccc701.0994b8"]]},{"id":"7d70f57a.4ad5ac","type":"function","z":"9a81b29c.a412c","name":"Over Under Alarm Condition","func":"var OverValueAlarm = flow.get(\"OverValueAlarm\");\nvar UnderValueAlarm = flow.get(\"UnderValueAlarm\");\n \n \nif (msg.payload >= OverValueAlarm)  {\n   msg.payload =   msg.payload + \"Over \" + OverValueAlarm ; \n    node.status({text: msg.payload });\n} \nelse if (msg.payload <= UnderValueAlarm) {\n    msg.payload = msg.payload + \" under \" + OverValueAlarm ; \n     node.status({text: msg.payload});\n} \nelse {\n  \n  return null;\n  \n}\n \nreturn   msg ;\n\n\n ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":1000,"wires":[["95feebeb.1e4e58","5d5a8c87.0d7e84","fe14bd3d.816c2"]]},{"id":"95feebeb.1e4e58","type":"mqtt out","z":"9a81b29c.a412c","name":"","topic":"utccfood","qos":"","retain":"","broker":"e92196f3.56c398","x":1017.7657928466797,"y":994.7500524520874,"wires":[]},{"id":"5342791b.b4fca8","type":"modbus-response","z":"9a81b29c.a412c","name":"","registerShowMax":20,"x":630,"y":880,"wires":[]},{"id":"5d5a8c87.0d7e84","type":"debug","z":"9a81b29c.a412c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1026.000228881836,"y":946.0000095367432,"wires":[]},{"id":"ce6460a0.a5947","type":"MSSQL","z":"9a81b29c.a412c","mssqlCN":"a058eb5d.f0e1d8","name":"Insert Data","query":"INSERT INTO [LevelControlData] (metric, value,machine) \n               VALUES ('{{{topic}}}',{{{payload}}} ,'m01');\n\n","outField":"payload","x":790,"y":1200,"wires":[[]]},{"id":"e63fcfe6.7e268","type":"inject","z":"9a81b29c.a412c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Level","payload":"2.5","payloadType":"num","x":540,"y":1160,"wires":[["ce6460a0.a5947"]]},{"id":"9754d97e.876f78","type":"debug","z":"9a81b29c.a412c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":1280,"wires":[]},{"id":"b8bc65d.e162b98","type":"change","z":"9a81b29c.a412c","name":"payload[0]/100 - set topic level","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]/100","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"level","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1020,"wires":[["ce6460a0.a5947","7d70f57a.4ad5ac","2535f890.03e368","409f3317.86af3c"]]},{"id":"6d6822b6.90b86c","type":"change","z":"9a81b29c.a412c","name":"Set ReadModbus = 0","rules":[{"t":"set","p":"ReadModbus","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":390.88651943206787,"y":214.02326774597168,"wires":[["3894d96b.b2d236"]]},{"id":"62d78abb.26c264","type":"ui_button","z":"9a81b29c.a412c","name":"","group":"38f6598b.e1a346","order":2,"width":3,"height":1,"passthru":false,"label":"button 1 ReadModbus","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":123.874755859375,"y":297.3201484680176,"wires":[["1b8cadd6.8c3ea2"]]},{"id":"9388ba4f.7c3a98","type":"ui_button","z":"9a81b29c.a412c","name":"","group":"38f6598b.e1a346","order":3,"width":3,"height":1,"passthru":false,"label":"button 0 Stop ReadModbus","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":131.99977111816406,"y":348.3201289176941,"wires":[["1b8cadd6.8c3ea2"]]},{"id":"1b8cadd6.8c3ea2","type":"change","z":"9a81b29c.a412c","name":"","rules":[{"t":"set","p":"ReadModbus","pt":"flow","to":"payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":379.76544189453125,"y":311.74985694885254,"wires":[["3894d96b.b2d236","5fec3279.0e5d8c","29031de5.0e2262"]]},{"id":"dc379f8.91faa6","type":"ui_text","z":"9a81b29c.a412c","group":"38f6598b.e1a346","order":4,"width":0,"height":0,"name":"","label":"OverValueAlarm","format":"{{msg.payload}}","layout":"row-spread","x":713.8907508850098,"y":36.968753814697266,"wires":[]},{"id":"3894d96b.b2d236","type":"ui_gauge","z":"9a81b29c.a412c","name":"","group":"38f6598b.e1a346","order":1,"width":3,"height":2,"gtype":"donut","title":"Record Data","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":619.8866729736328,"y":215.4529571533203,"wires":[]},{"id":"747a9d7.0761e64","type":"ui_text","z":"9a81b29c.a412c","group":"38f6598b.e1a346","order":8,"width":0,"height":0,"name":"","label":"Last Insert Data","format":"<font size =3><font Color =Green>{{msg.payload}}","layout":"row-spread","x":940,"y":820,"wires":[]},{"id":"3e61881b.51cd68","type":"function","z":"9a81b29c.a412c","name":"Last Read Modbus Time","func":"var date;\ndate = new Date();\ndate = (('00' + date.getHours()).slice(-2) + ':' + ('00' + date.getMinutes()).slice(-2) + ':' + ('00' + date.getSeconds()).slice(-2));\nmsg.payload =  date;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":820,"wires":[["747a9d7.0761e64"]]},{"id":"125aad95.9396c2","type":"change","z":"9a81b29c.a412c","name":"","rules":[{"t":"set","p":"OverValueAlarm","pt":"flow","to":"payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":411.765625,"y":37.74999523162842,"wires":[["dc379f8.91faa6"]]},{"id":"dd8fdc0.0a5c228","type":"change","z":"9a81b29c.a412c","name":"","rules":[{"t":"set","p":"UnderValueAlarm","pt":"flow","to":"payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":404.76566314697266,"y":125.75002002716064,"wires":[["887b934c.11343"]]},{"id":"46385aaa.39bad4","type":"inject","z":"9a81b29c.a412c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"num","x":164.76564025878906,"y":120.74998092651367,"wires":[["dd8fdc0.0a5c228"]]},{"id":"560f45c8.9f2e6c","type":"inject","z":"9a81b29c.a412c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"8","payloadType":"num","x":165.76564407348633,"y":27.999999046325684,"wires":[["125aad95.9396c2"]]},{"id":"887b934c.11343","type":"ui_text","z":"9a81b29c.a412c","group":"38f6598b.e1a346","order":6,"width":0,"height":0,"name":"","label":"UnderValueAlarm","format":"{{msg.payload}}","layout":"row-spread","x":718.7657470703125,"y":126.75001907348633,"wires":[]},{"id":"fe14bd3d.816c2","type":"ui_text","z":"9a81b29c.a412c","group":"38f6598b.e1a346","order":9,"width":0,"height":0,"name":"","label":"LastAlarm","format":"<font size =3><font Color =Red>{{msg.payload}}","layout":"row-spread","x":1021.7654647827148,"y":1051.750012397766,"wires":[]},{"id":"4ffaa690.74b268","type":"inject","z":"9a81b29c.a412c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"flow","payload":"2.5","payloadType":"num","x":530,"y":1220,"wires":[["ce6460a0.a5947"]]},{"id":"705b2cf6.8d0274","type":"comment","z":"9a81b29c.a412c","name":"Test Insert to MsSql","info":"\n\n\nINSERT INTO [LevelData] (SensorCode, SensorValue) \n            VALUES ('{{{topic}}}',{{{payload}}} );","x":343.5079126358032,"y":1166.4415831565857,"wires":[]},{"id":"2474993.9e23966","type":"comment","z":"9a81b29c.a412c","name":"Set On Off Read Modbus","info":"\n\n\nINSERT INTO [LevelData] (SensorCode, SensorValue) \n            VALUES ('{{{topic}}}',{{{payload}}} );","x":926.7658309936523,"y":74.75000381469727,"wires":[]},{"id":"1fa8b163.797b7f","type":"change","z":"9a81b29c.a412c","name":"payload[1]/100  - set topic flow","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1]/100","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"flow","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1080,"wires":[["ce6460a0.a5947","2535f890.03e368","5e96ea82.aa7824"]]},{"id":"d582ad3d.bb6e6","type":"ui_text_input","z":"9a81b29c.a412c","name":"","label":"Set OverValueAlarm","tooltip":"","group":"38f6598b.e1a346","order":5,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":116,"y":76.66668605804443,"wires":[["125aad95.9396c2"]]},{"id":"5507a612.975078","type":"ui_text_input","z":"9a81b29c.a412c","name":"","label":"Set UnderValueAlarm","tooltip":"","group":"38f6598b.e1a346","order":7,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":115.00001525878906,"y":171.66672706604004,"wires":[["dd8fdc0.0a5c228"]]},{"id":"52a5cc94.921054","type":"delay","z":"9a81b29c.a412c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":1040,"wires":[["1fa8b163.797b7f"]]},{"id":"67306c93.503a94","type":"MSSQL","z":"9a81b29c.a412c","mssqlCN":"a058eb5d.f0e1d8","name":"Select Top (6) * From LevelData","query":"Select TOP (6) id, metric, value \n , FORMAT( DATEADD(hour,7, [time]), 'dd/MM/yyyy HH:mm ') as [time]  \nFrom LevelControlData \n Order by id Desc;\n               \n\n","outField":"payload","x":190,"y":1300,"wires":[["9754d97e.876f78","d6d6b2d2.c474f"]]},{"id":"d6d6b2d2.c474f","type":"ui_template","z":"9a81b29c.a412c","group":"ad95fa68.2ecb68","name":"","order":4,"width":8,"height":9,"format":"<table style=\"width:100%\">\n  <tr>\n    <th>id</th> \n    <th>SensorCode</th>\n    <th>SensorValue</th>\n    <th>time</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:20\">\n    <td>{{$index}}</td>\n    <td align=\"center\">{{msg.payload[$index].metric}}</td> \n    <td align=\"center\">{{msg.payload[$index].value}}</td>\n    <td align=\"center\">{{msg.payload[$index].time}}</td>\n   </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":680,"y":1340,"wires":[[]]},{"id":"6292ff4a.278ad","type":"inject","z":"9a81b29c.a412c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":159.66642665863037,"y":231.66645622253418,"wires":[["6d6822b6.90b86c"]]},{"id":"c8e02050.7a4fc","type":"comment","z":"9a81b29c.a412c","name":"Read Modbus When flow.ReadModbus = 1","info":"\n ","x":175.66671752929688,"y":381.6666679382324,"wires":[]},{"id":"2535f890.03e368","type":"ui_chart","z":"9a81b29c.a412c","name":"","group":"ad95fa68.2ecb68","order":3,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":817.0000305175781,"y":1053.333291053772,"wires":[[]]},{"id":"59c29fd8.27d9c","type":"function","z":"9a81b29c.a412c","name":"FC06 Set Fill Value * 100","func":" node.status({text:msg.payload });\n\nmsg.payload = { \n    'fc': 6, \n    'unitid': 1,\n    'address': 0 , \n    'quantity': 1 , \n     'value': msg.payload *100\n};  \n     \n    return msg;\n \n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":420,"wires":[["64fe8f6b.96766","7db3bd01.c33144"]]},{"id":"7abbed4d.ce74d4","type":"function","z":"9a81b29c.a412c","name":"FC06 Set Discharge Value * 100","func":"  node.status({text:msg.payload });\n\nmsg.payload = { \n    'fc': 6, \n    'unitid': 1,\n    'address': 1 , \n    'quantity': 1 ,\n    'value': msg.payload *100\n};  \n     \n    return msg;\n \n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":720,"wires":[["64fe8f6b.96766","7db3bd01.c33144"]]},{"id":"c82d64d0.4eec58","type":"modbus-response","z":"9a81b29c.a412c","name":"","registerShowMax":20,"x":1170,"y":620,"wires":[]},{"id":"4a9b7626.2bf658","type":"ui_text","z":"9a81b29c.a412c","group":"38f6598b.e1a346","order":10,"width":0,"height":0,"name":"","label":"Fill Value","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":460,"wires":[]},{"id":"79f296f1.32c3c8","type":"ui_text","z":"9a81b29c.a412c","group":"38f6598b.e1a346","order":12,"width":0,"height":0,"name":"","label":"Discharge Value","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":660,"wires":[]},{"id":"64fe8f6b.96766","type":"debug","z":"9a81b29c.a412c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":560,"wires":[]},{"id":"7db3bd01.c33144","type":"modbus-flex-write","z":"9a81b29c.a412c","name":"","showStatusActivities":false,"showErrors":false,"server":"d417275.2f9d2d8","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1110,"y":520,"wires":[["c82d64d0.4eec58"],[]]},{"id":"9a001b76.0cd008","type":"ui_text_input","z":"9a81b29c.a412c","name":"","label":"Input Fill","tooltip":"","group":"38f6598b.e1a346","order":11,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":560,"y":440,"wires":[["59c29fd8.27d9c","4a9b7626.2bf658"]]},{"id":"eaec785.ce74d88","type":"ui_text_input","z":"9a81b29c.a412c","name":"","label":"Input Discharge","tooltip":"","group":"38f6598b.e1a346","order":13,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":600,"y":720,"wires":[["7abbed4d.ce74d4","79f296f1.32c3c8"]]},{"id":"409f3317.86af3c","type":"ui_gauge","z":"9a81b29c.a412c","name":"","group":"ad95fa68.2ecb68","order":1,"width":4,"height":2,"gtype":"gage","title":"Level","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":940,"wires":[]},{"id":"5e96ea82.aa7824","type":"ui_gauge","z":"9a81b29c.a412c","name":"","group":"ad95fa68.2ecb68","order":2,"width":4,"height":2,"gtype":"gage","title":"flow","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":1100,"wires":[]},{"id":"8d19bbab.e3f968","type":"modbus-flex-getter","z":"9a81b29c.a412c","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"d417275.2f9d2d8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":230,"y":580,"wires":[["c3063b9d.695d58","8736e898.ef6f48"],[]]},{"id":"5fec3279.0e5d8c","type":"function","z":"9a81b29c.a412c","name":"FC03  : Read Holding Reg","func":"var ReadModbus = flow.get(\"ReadModbus\");\n// values[0] is the 'count' value\n\nmsg.payload = { \n    'fc': 3, \n    'unitid': 1,\n    'address': 0 , \n    'quantity': 2 \n     \n};  \n    \nif ( ReadModbus === 0) {\n    \n    node.status({text:\"ReadModubs = 0\"});\n    return null;\n} else {\n    node.status({text:\"ReadModubs = 1\"});\n    return msg;\n}\n \n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":500,"wires":[["8d19bbab.e3f968"]]},{"id":"c3063b9d.695d58","type":"change","z":"9a81b29c.a412c","name":"payload[0]/100 - set topic Fill","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]/100","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"fill","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":500,"wires":[["4a9b7626.2bf658","64fe8f6b.96766"]]},{"id":"8736e898.ef6f48","type":"change","z":"9a81b29c.a412c","name":"payload[0]/100 - set topic Discharge","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1]/100","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"fill","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":640,"wires":[["79f296f1.32c3c8","64fe8f6b.96766"]]},{"id":"c70d88d1.1e6748","type":"comment","z":"9a81b29c.a412c","name":"Read Modbus  Fill and Discharge FC03","info":"\n\n\nINSERT INTO [LevelData] (SensorCode, SensorValue) \n            VALUES ('{{{topic}}}',{{{payload}}} );","x":590,"y":580,"wires":[]},{"id":"d417275.2f9d2d8","type":"modbus-client","name":"FactoryIO 192.168.1.55:502","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.55","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"e92196f3.56c398","type":"mqtt-broker","name":"test.mosquitto.org","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a058eb5d.f0e1d8","type":"MSSQL-CN","name":"MsSQL Server","server":"localhost","encyption":false,"database":"IotDB"},{"id":"38f6598b.e1a346","type":"ui_group","name":"Group 1","tab":"693f8f84.736f5","order":1,"disp":true,"width":6},{"id":"ad95fa68.2ecb68","type":"ui_group","name":"Group 2","tab":"693f8f84.736f5","order":2,"disp":true,"width":8},{"id":"693f8f84.736f5","type":"ui_tab","name":"LevelControl To Ms SQL","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
